@import "ui-colors";

.archive-view {
  background-color: @background-color-1;
  color: @text-color-2;

  .selected {
    background-color: rgba(255, 255, 134, 0.34);
    color: @text-color-1;
  }

  .summary {
    padding: 5px;
    background-image: -webkit-linear-gradient(@background-color-1, #cfcfcf);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.5),
      inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  }
}
