html, body,
#root-view {
  font: caption;
  background-color: #f4f4f4;
}

#root-view #panes .row > * + * {
  -webkit-box-shadow:
    -2px 0 rgba(0, 0, 0, 0.3),
    -1px 0 rgba(255, 255, 255, 0.2);
}

#root-view #panes .column > * + * {
  -webkit-box-shadow:
    0 -2px rgba(0, 0, 0, 0.3),
    0 -1px rgba(255, 255, 255, 0.2);
}

.error {
  background: #991212 !important;
  -webkit-transition: background 300ms ease-out;
}

.wrap-guide {
  background: rgba(150, 150, 150, 0.1);
}