.is-blurred .tree-view {
  background: #f3f3f3;
  border-right: 1px solid #c5c5c5;
}

.is-blurred .tab {
  opacity: 0.5;
}

.is-blurred .tree-view:focus .selected > .highlight {
  border-top: 1px solid #3D4552;
  border-bottom: 1px solid #3D4552;
  background-image: none;
  background-color: #69717b;
}

.is-blurred .tree-view .selected > .highlight {
  box-sizing: border-box;
  border-top: 1px solid #97a4a7;
  border-bottom: 1px solid #97a4a7;
  background-image: none;
  background-color: #DFDFDF;
}

.is-blurred .tree-view .name:before {
  color: #7e7e7e;
}