.is-blurred .tab {
  background-image: none;
  background-color: #e0e0e0);
  border-top: none;
  border-right: 1px solid #959595;
  border-bottom: 1px solid #959595;
  box-shadow: inset 0 0 5px #eee, 0 1px 0 #eee, inset -1px 0 0 #e0e0e0, inset 1px 0 0 #e0e0e0;
  color: #323232;
}

.is-blurred .tree-view {
  background: #f3f3f3;
  border-right: 1px solid #c5c5c5;
}

.is-blurred .tree-view:focus .selected > .highlight {
  border-top: 1px solid #3D4552;
  border-bottom: 1px solid #3D4552;
  background-image: none;
  background-color: #69717b;
}

.is-blurred .tree-view .name:before {
  color: #7e7e7e;
}
