.command-panel {
  background-color: #f4f4f4;
  border-top: 1px solid #979797;
  color: #ededed;
  padding: 10px;
}

.command-panel .header {
  padding: 5px;
  background-image: -webkit-linear-gradient(#e7e7e7, #cfcfcf);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: none;
}

.command-panel .preview-list {
  background-color: #e7e7e7;
  color: #222;
  border: 1px solid #999;
}

.command-panel .preview-count {
  color: #333;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.command-panel .expand-collapse {
  color: #333;
}

.command-panel .expand-collapse li {
  background: -webkit-linear-gradient(#bbb, #aaa);
}

.command-panel .expand-collapse li:hover {
  color: #fff;
}

.command-panel .preview-list .path.selected .path-details,
.command-panel .preview-list li.operation.selected {
  background-color: rgba(255, 255, 255, 0.05);
}

.command-panel .preview-list:focus .path.selected .path-details,
.command-panel .preview-list:focus li.operation.selected {
  background-color: rgba(255, 255, 255, 0.05);
}

.command-panel .preview-list .path {
  color: #bbb;
  border-top: 1px solid rgba(255, 255, 255, 0.02);
}

.command-panel .preview-list .path:hover .path-name {
  color: #fff;
}

.command-panel .preview-list .path:before {
  color: #555;
}

.command-panel .preview-list .path:hover:before {
  color: #fff;
}

.command-panel .preview-list .path:first-child {
  border-top: none;
}

.command-panel .preview-list .line-number {
  color: rgba(255, 255, 255, 0.3);
  font-family: monospace;
}

.command-panel .preview-list .path-match-number {
  color: rgba(255, 255, 255, 0.3);
}

.command-panel .preview-list .preview {
  word-break: break-all;
}

.command-panel .preview-list .preview .match {
  background-color: rgba(255, 255, 255, 0.1);
  color: #cca300;
}

.command-panel .preview-list li.operation {
  color: #777;
}

.command-panel .preview-list li.operation:hover,
.command-panel li.operation.selected .preview {
  color: #fff;
}
 {
  color: #fff;
}
