@import "ui-colors";

.select-list {
  background-color: @background-color-1;
  border: 1px solid #c6c6c6;
  color: #323232;
  box-shadow: 0 0 10px #555;

  .error {
    color: white;
    text-shadow: 0 1px 0 #4E0000;
  }

  .loading {
    color: @text-color-1;
  }

  ol {
    border: 1px solid #d2d2d2;

    li {
      background-color: #f5f5f5;
      border-bottom: 1px solid @border-color-1;
    }

    li:hover {
      background-color: #f9f9f9;
    }

    li.active-item:before {
      color: #9d9d9d;
    }

    .selected {
      background-color: #e2e2e2;
    }

    .selected .right,
    .selected .secondary-line {
      color: #757575;
    }

    .right,
    .secondary-line {
      color: @text-color-subtle-1;
    }

    .modified {
      color: @accent-color-error-1;
    }

    .new {
      color: @accent-color-info-1;
    }
  }
}
