.status-bar {
  background-color: #e5e5e5;
  border-top: 1px solid #959595;
  color: #333;
}

.status-bar .git-status.octicons.modified-status-icon {
  color: #f78a46;
  display: inline-block;
}

.status-bar .git-status.octicons.new-status-icon {
  color: #5293d8;
  display: inline-block;
}

.status-bar .grammar-name:hover {
  color: #000;
  border: 1px solid rgba(50, 50, 50, 0.2);
  border-radius: 2px;
}
