@import "ui-colors";

.status-bar {
  background-color: @background-color-1;
  border-top: 1px solid #959595;
  color: @text-color-1;
}

.status-bar .git-status.octicons.modified-status-icon {
  color: @accent-color-error-1;
  display: inline-block;
}

.status-bar .git-status.octicons.new-status-icon {
  color: @accent-color-info-1;
  display: inline-block;
}

.status-bar .git-status.octicons.ignored-status-icon {
  color: @text-color-1;
  display: inline-block;
}

.status-bar .grammar-name:hover {
  color: #000;
  border: 1px solid rgba(50, 50, 50, 0.2);
  border-radius: 2px;
}
