@import "ui-variables";

.tab-bar {
  height: @tab-height + 6px;
  box-shadow:
    inset 0px 5px 3px -4px fadeout(@base-border-color, 10%),
    inset 0px -5px 3px -4px fadeout(@base-border-color, 10%),
    inset 0px -1px 0 0 @base-border-color,
    0 1px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 1px;
  background-color: @tab-bar-background-color;

  border-top: 1px solid @tab-bar-border-color;
  border-bottom: 4px solid @tab-border-color;
}

.tab {
  height: @tab-height;
  line-height: @tab-height;
  color: @text-color;
  margin: 0;
  background-image: -webkit-linear-gradient(@tab-background-color, darken(@tab-background-color, 10%));
  box-shadow:
    inset 0px 5px 3px -4px fadeout(@base-border-color, 10%),
    inset 0px -5px 3px -4px fadeout(@base-border-color, 10%);
  border-right: 1px solid @base-border-color;
}

.tab:hover {
  color: @text-color-highlight;
}

.tab.active {
  height: @tab-height + 1px;
  background-image: -webkit-linear-gradient(@tab-background-color-active, @tab-border-color);
  color: @text-color-highlight;
  z-index: 2;
  box-shadow:
    inset 0px 1px 2px 0px #ffffff,
    0px -2px 2px 0 @base-border-color;
}

.tab.active:hover .close-icon {
  color: @text-color-highlight;
}
