.terminal {
  background-color: #f4f4f4;
  border-top: 1px solid #000;
}

.terminal .content {
}

.terminal .cursor {
  background-color: #000;
  opacity: 0.5;
  z-index: 2;
}

.terminal .color-0 {
  color: #000;
}
.terminal .color-1 {
  color: rgb(194, 54, 33);
}
.terminal .color-2 {
  color: rgb(37, 188, 36);
}
.terminal .color-3 {
  color: rgb(173, 173, 39);
}
.terminal .color-4 {
  color: rgb(73, 46, 225);
}
.terminal .color-5 {
  color: rgb(211, 56, 211);
}
.terminal .color-6 {
  color: rgb(51, 187, 200);
}
.terminal .color-7 {
  color: rgb(203, 204, 205);
}

.terminal .background-0 {
}
.terminal .background-1 {
  background-color: rgb(194, 54, 33);
}
.terminal .background-2 {
  background-color: rgb(37, 188, 36);
}
.terminal .background-3 {
  background-color: rgb(173, 173, 39);
}
.terminal .background-4 {
  background-color: rgb(73, 46, 225);
}
.terminal .background-5 {
  background-color: rgb(211, 56, 211);
}
.terminal .background-6 {
  background-color: rgb(51, 187, 200);
}
.terminal .background-7 {
  background-color: rgb(203, 204, 205);
}
