// Most common to least common
@text-color-1: #333;
@text-color-2: #444;
@text-color-3: #555;

// For dark bg things
@text-alt-color-1: #fff;
@text-alt-color-2: #fff;
@text-alt-color-3: #fff;

// Number increase is more subtle
@text-color-subtle-1: #777;
@text-color-subtle-2: #999;
@text-color-subtle-3: #ccc;

// Main bg you should use, a darker alt, and a lighter alt
@background-color-1: #e5e5e5;
@background-color-2: #dde3e8;
@background-color-3: #f9f9f9;

// Highlight color for background corresponding in index to background-color
@background-highlight-color-1: #f9f9f9;
@background-highlight-color-2: #cad5d8;
@background-highlight-color-3: #e2e2e2;

// Border color for background corresponding in index to background-color.
@border-color-1: #ccc;
@border-color-2: #999;
@border-color-3: #ccc;

// Bright color, darker then lighter.
// Info colors are generally blue
@accent-color-info-1: #0098ff;
@accent-color-info-2: #5293d8;
@accent-color-info-3: #66a6ff;

// Bright color, darker then lighter.
// Error colors are generally red/orange
@accent-color-error-1: #ff4800;
@accent-color-error-2: #f78a46;
@accent-color-error-3: #ffa275;

// Bright color, darker then lighter.
// Success colors are generally green
@accent-color-success-1: #1fe977;
@accent-color-success-2: #17ca65;
@accent-color-success-3: #58f79d;
