.vim {
  background-color: #e5e5e5;
  border-top: 1px solid #959595;
  padding: 4px 10px 3px;
  color: #333;
  position: relative;
  -webkit-user-select: none;
  cursor: default;
}

.vim .prompt-and-editor {
  display: -webkit-box;
}

.vim .prompt-and-editor .editor {
  position: relative;
  padding: 0px;
  margin: 0px;
  top: 5px;
  border: none;
  background-color: #e5e5e5;
}

.cursor {
  opacity: 0.5;
}