atom-text-editor[mini] {
  color: @text-color-highlight;
  background-color: @input-background-color;
  border: 1px solid @input-border-color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  border-radius: @component-border-radius;
  padding-left: @component-padding/2;

  .cursor { border-color: #fff; }
  .selection .region { background-color: lighten(@input-background-color, 10%); }
}

atom-text-editor[mini].is-focused {
  background-color: lighten(@input-background-color, 5%);
  .selection .region { background-color: desaturate(@background-color-info, 50%); }
}

// FIXME: these should go in syntax themes?
atom-text-editor {
  .gutter.drop-shadow {
    -webkit-box-shadow: -2px 0 10px 2px #222;
  }
}
