html, body,
#root-view {
  font: caption;
  background-color: #333333;
}

#root-view #panes:before {
  display: block;
  content: "\f208";
  font-family: 'Octicons Regular';
  color: #303030;
  -webkit-font-smoothing: antialiased;
  font-size: 100vmin;
  line-height: 100vmin;
  text-align: center;
}

#root-view #panes .row > * + * {
  border-left: 5px solid #515151;
}

#root-view #panes .column > * + * {
  border-top: 5px solid #515151;
}

.error {
  background: #991212 !important;
  -webkit-transition: background 300ms ease-out;
}

.clear-float {
  clear: both;
}

@font-face {
  font-family: 'Octicons Regular';
  src: url("octicons-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
