.fuzzy-finder ol {
  overflow: hidden;
  margin-bottom: 5px;
  -webkit-user-select: none;
  cursor: default;
}

.fuzzy-finder ol:empty {
  margin-bottom: 0;
}

.fuzzy-finder .directory {
  color: #b2b2b2;
  padding-left: .5em;
}

.fuzzy-finder .file:before {
  font-family: 'Octicons Regular';
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-font-smoothing: antialiased;
  color: #ccc;
}

.fuzzy-finder .file.text-name:before {
  content: "\f011";
}

.fuzzy-finder .file.image-name:before {
  content: "\f012";
}

.fuzzy-finder .file.compressed-name:before {
  content: "\f013";
}

.fuzzy-finder .file.pdf-name:before {
  content: "\f014";
}

.fuzzy-finder ol li {
  border-bottom: 1px solid rgba(255, 255, 255, .05);
}
