.select-list {
  position: absolute;
  width: 80%;
  top: 0;
  left: 50%;
  margin-left: -40%;
  box-sizing: border-box;
  z-index: 99;
}

.select-list ol {
  position: relative;
  overflow-y: auto;
}