.grammar-view ol li {
  padding: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, .05);
  line-height: 16px;
}

.grammar-view ol li.grammar {
  padding-left: 21px;
}

.grammar-view ol li.current-grammar:before {
  font-family: 'Octicons Regular';
  width: 16px;
  height: 16px;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
  color: #ccc;
  content: '\f03a';
}
