@import "octicon-utf-codes.less";

.status-bar {
  padding: 5px 10px;
  font-size: 11px;
  line-height: 14px;
  position: relative;
  -webkit-user-select: none;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  min-width: -webkit-min-content;
}

.status-bar .git-branch {
  margin-left: 10px;
  float: right;
}

.status-bar .cursor-position,
.status-bar .grammar-name {
  margin-left: 10px;
}

.status-bar .grammar-name {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 1px 2px;
}

.status-bar .branch-label {
  vertical-align: baseline;
}

.status-bar .git-status.octicons {
  display: none;
  padding-left: 10px;
  margin-top: -2px;
}

.status-bar .octicons:before {
  font-family: 'Octicons Regular';
  font-size: 14px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.status-bar .branch-icon:before {
  content: @git-branch;
}

.status-bar .modified-status-icon:before {
  content: @diff-modified;
}

.status-bar .new-status-icon:before {
  content: @diff-added;
}

.status-bar .ignored-status-icon:before {
  content: @diff-ignored;
  margin-right: 0;
}

.status-bar .commits-behind-label:before {
  margin-top: -3px;
  margin-left: 3px;
  margin-right: 1px;
  content: @arrow-down;
}

.status-bar .commits-ahead-label:before {
  margin-top: -3px;
  margin-left: 3px;
  margin-right: 1px;
  content: @arrow-up;
}
