html {
    height: 100%;
}

body {
    cursor: default;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-family: Lucida Grande, sans-serif;
    font-size: 10px;
    margin: 0;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}

body.dock-to-right {
    border-left: 1px solid rgb(80, 80, 80);
}

body.dock-to-right.inactive {
    border-left: 1px solid rgb(64%, 64%, 64%);
}

* {
    -webkit-box-sizing: border-box;
}

:focus {
    outline: none;
}

img {
    -webkit-user-drag: none;
}

iframe, a img {
    border: none;
}

iframe.view {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hidden {
    display: none !important;
}

.monospace {
    font-size: 10px !important;
    font-family: monospace;
}

.resources-dividers {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    z-index: -100;
}

.resources-event-dividers {
    position: absolute;
    left: 0;
    right: 5px;
    height: 100%;
    top: 0;
    z-index: 300;
    pointer-events: none;
}

.timeline .resources-event-dividers {
    height: 19px;
}

.resources-dividers-label-bar {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    background-clip: padding;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 20px;
    z-index: 200;
}

.resources-divider {
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.resources-event-divider-padding {
    position: absolute;
    width: 8px;
    top: 0;
    bottom: 0;
    pointer-events: auto;
}

.resources-event-divider {
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    z-index: 300;
}

.resources-red-divider {
    background-color: rgba(255, 0, 0, 0.5);
}

.resources-blue-divider {
    background-color: rgba(0, 0, 255, 0.5);
}

.resources-orange-divider {
    background-color: rgba(255, 178, 23, 0.5);
}

.resources-divider.last {
    background-color: transparent;
}

.resources-divider-label {
    position: absolute;
    top: 4px;
    right: 3px;
    font-size: 9px;
    color: rgb(50%, 50%, 50%);
    white-space: nowrap;
}


/* Network timing is shared between popover and network item view pane */

.network-timing-row {
    position: relative;
    height: 16px;
}

.network-timing-bar {
    position: absolute;
    background-color: red;
    border-left: 1px solid red;
    opacity: 0.4;
    top: 0;
    bottom: 0;
}

.network-timing-bar-title {
    position: absolute;
    color: black;
    top: 1px;
}

.webkit-search-result {
    -webkit-border-radius: 4px;
    padding: 2px 2px 2px 3px;
    margin: -2px -2px -2px -3px;
    opacity: 0.8;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 3px 3px 4px;
    background-color: rgb(241, 234, 0);
    color: black;
}

.sidebar-separator {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 243, 243)), color-stop(0.05, rgb(243, 243, 243)), color-stop(0.05, rgb(230, 230, 230)), to(rgb(209, 209, 209)));
    padding: 0 5px;
    border-top: 1px solid rgb(189, 189, 189);
    border-bottom: 1px solid rgb(189, 189, 189);
    color: rgb(110, 110, 110);
    text-shadow: white 0 1px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 11px;
}

.sidebar-label {
    font-size: 11px;
}

