# Each map in the list associates a patch file name with a target path and
# optional condition. All paths in the patch file must be relative to the
# target path. Each map should include a comment linking to the code review
# or bug report that the patch relates to. If a condition is provided the
# patch will only be applied if an environment variable with the specified
# name exists.

patches = [
  {
    # Necessary for grit integration
    'name': 'gritsettings',
    'path': '../tools/gritsettings/',
  },
  {
    # http://codereview.chromium.org/8086022/
    'name': 'build',
    'path': '../build/',
  },
  {
    # http://code.google.com/p/gyp/issues/detail?id=223
    'name': 'tools_gyp',
    'path': '../tools/gyp/',
  },
  {
    # http://code.google.com/p/chromiumembedded/issues/detail?id=642
    'name': 'renderer_main_642',
    'path': '../content/renderer/',
  },
  {
    # http://code.google.com/p/chromiumembedded/issues/detail?id=642
    'name': 'window_impl_642',
    'path': '../ui/base/win/',
  },
  {
    # http://code.google.com/p/chromiumembedded/issues/detail?id=364
    'name': 'spi_webcore_364',
    'path': '../third_party/WebKit/Source/WebCore/',
    'condition': 'CEF_SPI_BUILD',
  },
]
