.syntax--source.syntax--html {

  .syntax--punctuation {

    // < />
    &.syntax--tag {
      color: @syntax-comment-color;
    }

    // =
    &.syntax--pair.syntax--attribute-value {
      color: @syntax-comment-color;
    }
  }

  .syntax--meta {

    // <!doctype html>
    &.syntax--doctype {
      color: @syntax-comment-color;
    }
  }
}
