<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby

print STDIN.read.gsub(/([^a-zA-Z0-9_.-]+)/n) {
  '%' + $1.unpack('H2' * $1.size).join('%').upcase
}
</string>
	<key>fallbackInput</key>
	<string>line</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>@&amp;</string>
	<key>name</key>
	<string>URL Escape Line / Selection</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>scope</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>6B024865-6095-4CE3-8EDD-DC6F2230C2FF</string>
</dict>
</plist>
