<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby
#
# Lookup current word as a tag name on w3c.org
#
# The mapping below was generated using:
# ruby -e 'STDOUT &lt;&lt; "$tags = {\n" &lt;&lt; `curl -s http://www.w3.org/TR/html4/index/elements.html`.scan(%r{&lt;td title="Name"&gt;&lt;a href="(.*?)"&gt;\n?(.*?)&lt;/a&gt;&lt;/td&gt;}).map { |e| "  \"#{e[1]}\"".ljust(14) + " =&gt; \"#{e[0]}\"" }.join(",\n") &lt;&lt; "\n}\n"'

$tags = {
  "A"          =&gt; "../struct/links.html#edef-A",
  "ABBR"       =&gt; "../struct/text.html#edef-ABBR",
  "ACRONYM"    =&gt; "../struct/text.html#edef-ACRONYM",
  "ADDRESS"    =&gt; "../struct/global.html#edef-ADDRESS",
  "APPLET"     =&gt; "../struct/objects.html#edef-APPLET",
  "AREA"       =&gt; "../struct/objects.html#edef-AREA",
  "B"          =&gt; "../present/graphics.html#edef-B",
  "BASE"       =&gt; "../struct/links.html#edef-BASE",
  "BASEFONT"   =&gt; "../present/graphics.html#edef-BASEFONT",
  "BDO"        =&gt; "../struct/dirlang.html#edef-BDO",
  "BIG"        =&gt; "../present/graphics.html#edef-BIG",
  "BLOCKQUOTE" =&gt; "../struct/text.html#edef-BLOCKQUOTE",
  "BODY"       =&gt; "../struct/global.html#edef-BODY",
  "BR"         =&gt; "../struct/text.html#edef-BR",
  "BUTTON"     =&gt; "../interact/forms.html#edef-BUTTON",
  "CAPTION"    =&gt; "../struct/tables.html#edef-CAPTION",
  "CENTER"     =&gt; "../present/graphics.html#edef-CENTER",
  "CITE"       =&gt; "../struct/text.html#edef-CITE",
  "CODE"       =&gt; "../struct/text.html#edef-CODE",
  "COL"        =&gt; "../struct/tables.html#edef-COL",
  "COLGROUP"   =&gt; "../struct/tables.html#edef-COLGROUP",
  "DD"         =&gt; "../struct/lists.html#edef-DD",
  "DEL"        =&gt; "../struct/text.html#edef-del",
  "DFN"        =&gt; "../struct/text.html#edef-DFN",
  "DIR"        =&gt; "../struct/lists.html#edef-DIR",
  "DIV"        =&gt; "../struct/global.html#edef-DIV",
  "DL"         =&gt; "../struct/lists.html#edef-DL",
  "DT"         =&gt; "../struct/lists.html#edef-DT",
  "EM"         =&gt; "../struct/text.html#edef-EM",
  "FIELDSET"   =&gt; "../interact/forms.html#edef-FIELDSET",
  "FONT"       =&gt; "../present/graphics.html#edef-FONT",
  "FORM"       =&gt; "../interact/forms.html#edef-FORM",
  "FRAME"      =&gt; "../present/frames.html#edef-FRAME",
  "FRAMESET"   =&gt; "../present/frames.html#edef-FRAMESET",
  "H1"         =&gt; "../struct/global.html#edef-H1",
  "H2"         =&gt; "../struct/global.html#edef-H2",
  "H3"         =&gt; "../struct/global.html#edef-H3",
  "H4"         =&gt; "../struct/global.html#edef-H4",
  "H5"         =&gt; "../struct/global.html#edef-H5",
  "H6"         =&gt; "../struct/global.html#edef-H6",
  "HEAD"       =&gt; "../struct/global.html#edef-HEAD",
  "HR"         =&gt; "../present/graphics.html#edef-HR",
  "HTML"       =&gt; "../struct/global.html#edef-HTML",
  "I"          =&gt; "../present/graphics.html#edef-I",
  "IFRAME"     =&gt; "../present/frames.html#edef-IFRAME",
  "IMG"        =&gt; "../struct/objects.html#edef-IMG",
  "INPUT"      =&gt; "../interact/forms.html#edef-INPUT",
  "INS"        =&gt; "../struct/text.html#edef-ins",
  "ISINDEX"    =&gt; "../interact/forms.html#edef-ISINDEX",
  "KBD"        =&gt; "../struct/text.html#edef-KBD",
  "LABEL"      =&gt; "../interact/forms.html#edef-LABEL",
  "LEGEND"     =&gt; "../interact/forms.html#edef-LEGEND",
  "LI"         =&gt; "../struct/lists.html#edef-LI",
  "LINK"       =&gt; "../struct/links.html#edef-LINK",
  "MAP"        =&gt; "../struct/objects.html#edef-MAP",
  "MENU"       =&gt; "../struct/lists.html#edef-MENU",
  "META"       =&gt; "../struct/global.html#edef-META",
  "NOFRAMES"   =&gt; "../present/frames.html#edef-NOFRAMES",
  "NOSCRIPT"   =&gt; "../interact/scripts.html#edef-NOSCRIPT",
  "OBJECT"     =&gt; "../struct/objects.html#edef-OBJECT",
  "OL"         =&gt; "../struct/lists.html#edef-OL",
  "OPTGROUP"   =&gt; "../interact/forms.html#edef-OPTGROUP",
  "OPTION"     =&gt; "../interact/forms.html#edef-OPTION",
  "P"          =&gt; "../struct/text.html#edef-P",
  "PARAM"      =&gt; "../struct/objects.html#edef-PARAM",
  "PRE"        =&gt; "../struct/text.html#edef-PRE",
  "Q"          =&gt; "../struct/text.html#edef-Q",
  "S"          =&gt; "../present/graphics.html#edef-S",
  "SAMP"       =&gt; "../struct/text.html#edef-SAMP",
  "SCRIPT"     =&gt; "../interact/scripts.html#edef-SCRIPT",
  "SELECT"     =&gt; "../interact/forms.html#edef-SELECT",
  "SMALL"      =&gt; "../present/graphics.html#edef-SMALL",
  "SPAN"       =&gt; "../struct/global.html#edef-SPAN",
  "STRIKE"     =&gt; "../present/graphics.html#edef-STRIKE",
  "STRONG"     =&gt; "../struct/text.html#edef-STRONG",
  "STYLE"      =&gt; "../present/styles.html#edef-STYLE",
  "SUB"        =&gt; "../struct/text.html#edef-SUB",
  "SUP"        =&gt; "../struct/text.html#edef-SUP",
  "TABLE"      =&gt; "../struct/tables.html#edef-TABLE",
  "TBODY"      =&gt; "../struct/tables.html#edef-TBODY",
  "TD"         =&gt; "../struct/tables.html#edef-TD",
  "TEXTAREA"   =&gt; "../interact/forms.html#edef-TEXTAREA",
  "TFOOT"      =&gt; "../struct/tables.html#edef-TFOOT",
  "TH"         =&gt; "../struct/tables.html#edef-TH",
  "THEAD"      =&gt; "../struct/tables.html#edef-THEAD",
  "TITLE"      =&gt; "../struct/global.html#edef-TITLE",
  "TR"         =&gt; "../struct/tables.html#edef-TR",
  "TT"         =&gt; "../present/graphics.html#edef-TT",
  "U"          =&gt; "../present/graphics.html#edef-U",
  "UL"         =&gt; "../struct/lists.html#edef-UL",
  "VAR"        =&gt; "../struct/text.html#edef-VAR"
}

def request_tag_name (default_tag = "body")
  res, tag = %x{ "$TM_SUPPORT_PATH/bin/CocoaDialog.app/Contents/MacOS/CocoaDialog" \
    inputbox --float --title 'Documentation for Tag' \
    --informative-text 'What tag would you like to lookup?' \
    --text '#{default_tag}' --button1 'Lookup' --button2 'Cancel' \
    --button3 'Show All Tags'
  }.split("\n")
  case res.to_i
    when 1 then $tags[tag.to_s.upcase] || "elements.html"
    when 2 then abort "&lt;script&gt;window.close()&lt;/script&gt;"
    when 3 then "elements.html"
  end
end

line, col = ENV["TM_CURRENT_LINE"].to_s, ENV["TM_LINE_INDEX"].to_i
tag = line =~ /\A.{0,#{col}}&lt;\s*(\w+)/ ? $1 : ENV["TM_CURRENT_WORD"].to_s

path = $tags[tag.upcase] || request_tag_name(tag)
url  = "http://www.w3.org/TR/html4/index/" + path
puts "&lt;meta http-equiv='Refresh' content='0;URL=#{url}'&gt;"
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^h</string>
	<key>name</key>
	<string>Documentation for Tag</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>scope</key>
	<string>text.html, text.html entity.name.tag</string>
	<key>semanticClass</key>
	<string>lookup.define.html</string>
	<key>uuid</key>
	<string>637CEA2B-578C-429C-BB74-30E8D42BFA22</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
