<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>## Strip HTML and PHP tags from the selected text
php -r 'echo strip_tags( file_get_contents("/dev/stdin") );'

###  If you want to keep a particular tag, such as &lt;p&gt; comment the above line and uncomment the next line
# php -r 'echo strip_tags( file_get_contents("/dev/stdin"), "&lt;p&gt;" );'
### end</string>
	<key>fallbackInput</key>
	<string>document</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Strip HTML Tags from Document / Selection</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>scope</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>20D760B5-A127-11D9-A5A2-000D93C8BE28</string>
</dict>
</plist>
