language: node_js

notifications:
  email:
    on_success: never
    on_failure: change

node_js:
  - 0.10

before_install: sudo apt-get install libgnome-keyring-dev

git:
  depth: 10

branches:
  only:
    - master
