git:
  depth: 10

branches:
  only:
    - master

env:
  global:
    - ATOM_ACCESS_TOKEN=da809a6077bb1b0aa7c5623f7b2d5f1fec2faae4

compiler: clang

matrix:
  include:
    - os: linux
      env: NODE_VERSION=0.12
    - os: linux
      env: NODE_VERSION=4
    - os: osx
      env: ATOM_SPECS_TASK=core NODE_VERSION=0.12
    - os: osx
      env: ATOM_SPECS_TASK=packages NODE_VERSION=0.12

sudo: false

install:
  - git clone https://github.com/creationix/nvm.git /tmp/.nvm
  - source /tmp/.nvm/nvm.sh
  - nvm install $NODE_VERSION
  - nvm use $NODE_VERSION

script: script/cibuild

cache:
  directories:
    - node_modules
    - $HOME/.atom/compile-cache

notifications:
  email:
    on_success: never
    on_failure: change

addons:
  apt:
    packages:
    - build-essential
    - git
    - libgnome-keyring-dev
    - fakeroot
