git:
  depth: 10

branches:
  only:
    - master

env:
  global:
    - ATOM_ACCESS_TOKEN=da809a6077bb1b0aa7c5623f7b2d5f1fec2faae4

compiler: clang

matrix:
  include:
    - os: linux
      env: NODE_VERSION=4

sudo: false

install:
  - git clone https://github.com/creationix/nvm.git /tmp/.nvm
  - source /tmp/.nvm/nvm.sh
  - nvm install $NODE_VERSION
  - nvm use --delete-prefix $NODE_VERSION
  - npm install -g npm
  - script/bootstrap
  - script/build --create-debian-package --compress-artifacts

script: false

cache:
  directories:
    - electron
    - node_modules
    - apm/node_modules
    - script/node_modules

notifications:
  email:
    on_success: never
    on_failure: change

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - build-essential
    - git
    - libgnome-keyring-dev
    - fakeroot
    - gcc-multilib
