git:
  depth: 10

branches:
  only:
    - master

env:
  global:
    - ATOM_ACCESS_TOKEN=da809a6077bb1b0aa7c5623f7b2d5f1fec2faae4
    - NODE_VERSION=0.12

matrix:
  include:
    - os: linux
    - os: osx
      env: ATOM_SPECS_TASK=core
    - os: osx
      env: ATOM_SPECS_TASK=packages

sudo: false

install:
  - git clone https://github.com/creationix/nvm.git /tmp/.nvm
  - source /tmp/.nvm/nvm.sh
  - nvm install $NODE_VERSION
  - nvm use $NODE_VERSION

script: script/cibuild

notifications:
  email:
    on_success: never
    on_failure: change

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8
    - build-essential
    - git
    - libgnome-keyring-dev
    - fakeroot
