image: Visual Studio 2015

version: "{build}"

skip_tags: true
clone_folder: c:\projects\atom
clone_depth: 10

branches:
  only:
  - master
  - /^[0-9.]+-releases$/

platform:
  - x64
  - x86

environment:
  global:
    ATOM_DEV_RESOURCE_PATH: c:\projects\atom

  matrix:
  - NODE_VERSION: 6.8.0

matrix:
  fast_finish: true

install:
  - SET PATH=C:\Program Files\Atom\resources\cli;%PATH%
  - ps: Install-Product node $env:NODE_VERSION $env:PLATFORM
  - npm install -g npm

build_script:
  - CD %APPVEYOR_BUILD_FOLDER%
  - IF [%APPVEYOR_REPO_BRANCH:~-9%]==[-releases] (
      script\build.cmd --code-sign --create-windows-installer --compress-artifacts
    ) ELSE (
      script\build.cmd --code-sign --compress-artifacts
    )

test_script:
  - script\lint.cmd
  - script\test.cmd

deploy: off
artifacts:
  - path: out\AtomSetup.exe
    name: AtomSetup.exe
  - path: out\AtomSetup.msi
    name: AtomSetup.msi
  - path: out\atom-windows.zip
    name: atom-windows.zip
  - path: out\RELEASES
    name: RELEASES
  - path: out\atom-*-delta.nupkg
    name: atom-delta.nupkg
  - path: out\atom-*-full.nupkg
    name: atom-full.nupkg

cache:
  - '%APPVEYOR_BUILD_FOLDER%\script\node_modules'
  - '%APPVEYOR_BUILD_FOLDER%\apm\node_modules'
  - '%APPVEYOR_BUILD_FOLDER%\node_modules'
  - '%APPVEYOR_BUILD_FOLDER%\electron'
  - '%USERPROFILE%\.atom\.apm'
  - '%USERPROFILE%\.atom\compile-cache'
  - '%USERPROFILE%\.atom\snapshot-cache'
