version: "{build}"

skip_tags: true
clone_folder: c:\projects\atom
clone_depth: 10

os: Visual Studio 2015

platform:
  - x86

environment:
  global:
    ATOM_DEV_RESOURCE_PATH: c:\projects\atom

  matrix:
  - NODE_VERSION: 4.4.5

install:
  # Install rust
  - curl -sSf -o rustup-init.exe https://win.rustup.rs
  - rustup-init.exe -y
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - cargo --version
  - rustc --version

  # Install node
  - set PATH=C:\Program Files\Atom\resources\cli;%PATH%
  - ps: Install-Product node $env:NODE_VERSION $env:PLATFORM
  - npm install -g npm

build_script:
  - cd %APPVEYOR_BUILD_FOLDER%
  - script\build.cmd --code-sign --create-windows-installer --compress-artifacts

test_script:
  - script\test.cmd

deploy: off
artifacts:
  - path: out\AtomSetup.exe
    name: AtomSetup.exe
  - path: out\AtomSetup.msi
    name: AtomSetup.msi
  - path: out\atom-windows.zip
    name: atom-windows.zip
  - path: out\RELEASES
    name: RELEASES
  - path: out\atom-*-delta.nupkg
    name: atom-delta.nupkg
  - path: out\atom-*-full.nupkg
    name: atom-full.nupkg

cache:
  - '%APPVEYOR_BUILD_FOLDER%\script\node_modules'
  - '%APPVEYOR_BUILD_FOLDER%\apm\node_modules'
  - '%APPVEYOR_BUILD_FOLDER%\node_modules'
  - '%APPVEYOR_BUILD_FOLDER%\electron'
  - '%USERPROFILE%\.atom\.apm'
  - '%USERPROFILE%\.atom\.node-gyp\.atom'
  - '%USERPROFILE%\.atom\.npm'
  - '%USERPROFILE%\.atom\compile-cache'
