version: "{build}"

os: Windows Server 2012 R2

environment:
  nodejs_version: "4.4.5"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install -g npm
  - npm install

build_script:
  - npm test

test: off

deploy: off
