'body':
  'enter': 'core:confirm'
  'escape': 'core:cancel'
  'meta-w': 'core:close'
  'up': 'core:move-up'
  'down': 'core:move-down'
  'left': 'core:move-left'
  'right': 'core:move-right'
  'shift-up': 'core:select-up'
  'shift-down': 'core:select-down'
  'shift-left': 'core:select-left'
  'shift-right': 'core:select-right'
  'meta-a': 'core:select-all'
  'backspace': 'core:backspace'
  'shift-backspace': 'core:backspace'
  'delete': 'core:delete'
  'meta-z': 'core:undo'
  'meta-Z': 'core:redo'
  'meta-x': 'core:cut'
  'meta-c': 'core:copy'
  'meta-v': 'core:paste'
  'pageup': 'core:page-up'
  'pagedown': 'core:page-down'

  'meta-alt-s': 'window:save-all'
  'meta-W': 'window:close'
  'meta-+': 'window:increase-font-size'
  'meta--': 'window:decrease-font-size'
  'ctrl-w w': 'window:focus-next-pane'
  'ctrl-tab': 'window:focus-next-pane'
  'ctrl-meta-f': 'window:toggle-full-screen'

  'alt-meta-i': 'toggle-dev-tools'

'.tool-panel':
  'meta-escape': 'tool-panel:unfocus'
  'escape': 'core:close'
  'meta-w': 'noop'
