'body':
  'meta-alt-ctrl-s': 'application:run-specs'
  'meta-,': 'application:show-settings'
  'meta-q': 'application:quit'
  'meta-h': 'application:hide'
  'meta-H': 'application:hide-other-applications'
  'meta-n': 'application:new-file'
  'meta-N': 'application:new-window'
  'meta-o': 'application:open'
  'meta-O': 'application:open-dev'
  'meta-m': 'application:minimize'
  'alt-meta-ctrl-m': 'application:zoom'

  'meta-s': 'core:save'
  'meta-S': 'core:save-as'
  'enter': 'core:confirm'
  'escape': 'core:cancel'
  'meta-w': 'core:close'
  'up': 'core:move-up'
  'down': 'core:move-down'
  'left': 'core:move-left'
  'right': 'core:move-right'
  'shift-up': 'core:select-up'
  'shift-down': 'core:select-down'
  'shift-left': 'core:select-left'
  'shift-right': 'core:select-right'
  'meta-a': 'core:select-all'
  'backspace': 'core:backspace'
  'shift-backspace': 'core:backspace'
  'delete': 'core:delete'
  'meta-z': 'core:undo'
  'meta-Z': 'core:redo'
  'meta-x': 'core:cut'
  'meta-c': 'core:copy'
  'meta-v': 'core:paste'
  'pageup': 'core:page-up'
  'pagedown': 'core:page-down'

  'meta-alt-s': 'window:save-all'
  'meta-W': 'window:close'
  'meta-+': 'window:increase-font-size'
  'meta--': 'window:decrease-font-size'
  'ctrl-w w': 'window:focus-next-pane'
  'ctrl-tab': 'window:focus-next-pane'
  'ctrl-meta-f': 'window:toggle-full-screen'
  'meta-r': 'window:reload'
  'alt-meta-i': 'window:toggle-dev-tools'

  'ctrl-|': 'pane:split-right'
  'ctrl-w v': 'pane:split-right'
  'ctrl--': 'pane:split-down'
  'ctrl-w s': 'pane:split-down'

  'meta-{': 'pane:show-previous-item'
  'meta-}': 'pane:show-next-item'
  'alt-meta-left': 'pane:show-previous-item'
  'alt-meta-right': 'pane:show-next-item'
  'meta-1': 'pane:show-item-1'
  'meta-2': 'pane:show-item-2'
  'meta-3': 'pane:show-item-3'
  'meta-4': 'pane:show-item-4'
  'meta-5': 'pane:show-item-5'
  'meta-6': 'pane:show-item-6'
  'meta-7': 'pane:show-item-7'
  'meta-8': 'pane:show-item-8'
  'meta-9': 'pane:show-item-9'
  'meta-T': 'pane:reopen-closed-item'
  'alt-meta-w': 'pane:close-other-items'
  'meta-P': 'pane:close'

'.tool-panel':
  'meta-escape': 'tool-panel:unfocus'
  'escape': 'core:close'
  'meta-w': 'noop'

# allow standard input fields to work correctly
'input:not(.hidden-input)':
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'
  'left': 'native!'
  'right': 'native!'
  'shift-left': 'native!'
  'shift-right': 'native!'
  'backspace': 'native!'
  'shift-backspace': 'native!'
  'delete': 'native!'
  'meta-z': 'native!'
  'meta-Z': 'native!'
  'meta-x': 'native!'
  'meta-c': 'native!'
  'meta-v': 'native!'

'button':
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'
