'.editor':
  'enter': 'editor:newline'
  'meta-enter': 'editor:newline-below'
  'meta-shift-enter': 'editor:newline-above'
  'tab': 'editor:indent'
  'meta-=': 'editor:auto-indent'
  'meta-d': 'editor:delete-line'
  'ctrl-[': 'editor:fold-current-row'
  'ctrl-]': 'editor:unfold-current-row'
  'ctrl-{': 'editor:fold-all'
  'ctrl-}': 'editor:unfold-all'
  'alt-shift-down': 'editor:add-selection-below'
  'alt-shift-up': 'editor:add-selection-above'
  'alt-meta-ctrl-f': 'editor:fold-selection'
  'shift-tab': 'editor:outdent-selected-rows'
  'meta-[': 'editor:outdent-selected-rows'
  'meta-]': 'editor:indent-selected-rows'
  'meta-/': 'editor:toggle-line-comments'
  'ctrl-W': 'editor:select-word'
  'meta-alt-p': 'editor:log-cursor-scope'
  'meta-u': 'editor:upper-case'
  'meta-U': 'editor:lower-case'
  'ctrl-C': 'editor:copy-path'
  'ctrl-meta-up': 'editor:move-line-up'
  'ctrl-meta-down': 'editor:move-line-down'
  'meta-D': 'editor:duplicate-line'
  'ctrl-J': 'editor:join-line'
  'meta-<': 'editor:scroll-to-cursor'

'.editor.mini':
  'enter': 'core:confirm',
  'escape': 'core:cancel'
  'meta-w': 'core:cancel'

'.editor !important, .editor.mini !important':
  'escape': 'editor:consolidate-selections'
