.tree-view .entries {
  margin-left: 12px;
}

.tree-view .entries .file .name {
  margin-left: 20px;
}

.tree-view .file .name,
.tree-view .directory .header {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
}

.tree-view .directory .header {
  padding-left: 5px;
}

.tree-view-dialog {
  padding: 5px;
}

.tree-view-dialog .prompt {
  padding-bottom: 3px;
  font-size: 12px;
  line-height: 16px;
}

.tree-view-dialog .prompt span {
  position: relative;
  top: -1px;
}

.tree-view-dialog .prompt:before {
  font-family: 'Octicons Regular';
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  -webkit-font-smoothing: antialiased;
}

.tree-view-dialog .prompt.add-file:before {
  content: "\f086";
}

.tree-view-dialog .prompt.add-directory:before {
  content: "\f095";
}

.tree-view-dialog .prompt.move:before {
  content: "\f03e";
}

.tree-view .directory .header .name,
.tree-view .file .name {
  position: relative;
  padding-left: 21px;
}

.tree-view .directory .header .name:before,
.tree-view .file .name:before {
  font-family: 'Octicons Regular';
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 0;
}

.tree-view .disclosure-arrow:before {
  font-family: 'Octicons Regular';
  font-size: 12px;
  width: 12px;
  height: 12px;
  line-height: 16px;
  margin-right: 3px;
  -webkit-font-smoothing: antialiased;
}

.tree-view .directory .header .directory-icon:before {
  content: "\f016";
  top: -5px;
}

.tree-view .directory .header .repository-icon:before {
  content: "\f001";
  top: -4px;
}

.tree-view .directory .header .submodule-icon:before {
  content: "\f017";
  top: -5px;
}

.tree-view .file .text-icon:before {
  content: "\f011";
  top: -2px;
}

.tree-view .file .image-icon:before {
  content: "\f012";
  top: -2px;
}

.tree-view .file .compressed-icon:before {
  content: "\f013";
  top: -2px;
}

.tree-view .file .pdf-icon:before {
  content: "\f014";
  top: -2px;
}

.tree-view .file .readme-icon:before {
  content: "\f007";
  top: -2px;
}

.tree-view .file .binary-icon:before {
  content: "\f094";
  top: -2px;
}

.tree-view .file .symlink-icon:before {
  content: "\f09b";
  top: -2px;
}

.tree-view .directory > .header .disclosure-arrow:before {
  content: "\f05a";
}

.tree-view .directory.expanded > .header .disclosure-arrow:before {
  content: "\f05b";
}

.tree-view-wrapper {
  position: relative;
  height: 100%;
  cursor: default;
  -webkit-user-select: none;
  min-width: 50px;
  z-index: 2;

  .tree-view-resizer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    cursor: col-resize;
    z-index: 3;
  }
}

.tree-view {
  position: relative;
  cursor: default;
  -webkit-user-select: none;
  overflow: auto;
  height: 100%;

  .entry {
    text-wrap: none;
    white-space: nowrap;

    & > .header,
    > .name {
      z-index: 1;
      position: relative;
      display: inline-block;
    }
  }

  .selected > .highlight {
    position: absolute;
    left: 0;
    right: 0;
    height: 24px;
  }

  .disclosure-arrow {
    display: inline-block;
  }
}

.tree-view-dialog {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
