<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>background:${6: #${1:DDD}} url($2) ${3|repeat,repeat-x,repeat-y,no-repeat|} ${4|scroll,fixed|} ${5|top left,top center,top right,center left,center center,center right,bottom left,bottom center,bottom right,x-% y-%,x-pos y-pos|};$0</string>
	<key>name</key>
	<string>background: color image repeat attachment position</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>background</string>
	<key>uuid</key>
	<string>D09967B1-2215-4B10-A331-7A372281DDA6</string>
</dict>
</plist>
