<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>background-color: transparent;$0</string>
	<key>name</key>
	<string>background-color: transparent</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>background</string>
	<key>uuid</key>
	<string>C71B1388-2815-4CAE-8652-CD159095AEAD</string>
</dict>
</plist>
