<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>background-attachment: ${1|scroll,fixed|};$0</string>
	<key>name</key>
	<string>background-attachment: scroll/fixed</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>background</string>
	<key>uuid</key>
	<string>9E194D74-B73B-4D2B-A89F-51F7468A3E97</string>
</dict>
</plist>
