<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>background-repeat: ${1|repeat,repeat-x,repeat-y,no-repeat|};$0</string>
	<key>name</key>
	<string>background-repeat: r/r-x/r-y/n-r</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>background</string>
	<key>uuid</key>
	<string>4EE66583-26BE-4DBA-BD18-8DAF593835F9</string>
</dict>
</plist>
