<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>background-color: rgb(${1:255},${2:255},${3:255});$0</string>
	<key>name</key>
	<string>background-color: rgb</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>background</string>
	<key>uuid</key>
	<string>12241B4B-197C-41AF-ACC2-6B9A7AEC7039</string>
</dict>
</plist>
