<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>border-color: ${1:999};$0</string>
	<key>name</key>
	<string>border-color: color</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>border</string>
	<key>uuid</key>
	<string>AB0759F4-4243-4807-B297-2902459EBE02</string>
</dict>
</plist>
