<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>border-top-style: ${1|none,hidden,dotted,dashed,solid,double,groove,ridge,inset,outset|};$0</string>
	<key>name</key>
	<string>border-top-style: style</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>border</string>
	<key>uuid</key>
	<string>C5039010-E264-4D3D-A12E-02C2DB7DC4BF</string>
</dict>
</plist>
