<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>border-style: ${1|none,hidden,dotted,dashed,solid,double,groove,ridge,inset,outset|};$0</string>
	<key>name</key>
	<string>border-style: style</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>border</string>
	<key>uuid</key>
	<string>E4BD9171-E053-4EEF-8631-CFC74F1DCB97</string>
</dict>
</plist>
