<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>border-top: ${1:1}px ${2:solid} #${3:999};$0</string>
	<key>name</key>
	<string>border-top: size style color</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>border</string>
	<key>uuid</key>
	<string>0FEBF51B-77B0-4D38-9CDB-276744CAF455</string>
</dict>
</plist>
