<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>border-right: ${1:1}px ${2:solid} #${3:999};$0</string>
	<key>name</key>
	<string>border-right: size style color</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>border</string>
	<key>uuid</key>
	<string>5FFC4EDE-9AEE-4854-BA78-34BD98BE7FBE</string>
</dict>
</plist>
