<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>color: #${1:DDD};$0</string>
	<key>name</key>
	<string>color: hex</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>color</string>
	<key>uuid</key>
	<string>D69E7EB0-07E2-48A3-AD32-A7C3E6CAFBBC</string>
</dict>
</plist>
