<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>color: ${1:red};$0</string>
	<key>name</key>
	<string>color: name</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>color</string>
	<key>uuid</key>
	<string>45D80BAF-0B0A-4334-AFBC-3601B5903707</string>
</dict>
</plist>
