<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>color: rgb(${1:255},${2:255},${3:255});$0</string>
	<key>name</key>
	<string>color: rgb</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>color</string>
	<key>uuid</key>
	<string>FBA1210B-33DB-49D0-B026-FF31DBC41FD6</string>
</dict>
</plist>
