<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>cursor: url($1);$0</string>
	<key>name</key>
	<string>cursor: url</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>cursor</string>
	<key>uuid</key>
	<string>5C9011B1-B8A8-4FD3-8EA8-848AF6509ADF</string>
</dict>
</plist>
