<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>cursor: ${1|default,auto,crosshair,pointer,move,*-resize,text,wait,help|};$0</string>
	<key>name</key>
	<string>cursor: type</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>cursor</string>
	<key>uuid</key>
	<string>5EDCDB17-5DB0-459A-A61D-29984DD3A3B8</string>
</dict>
</plist>
