<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>display: ${1|none,inline,block,list-item,run-in,compact,marker|};$0</string>
	<key>name</key>
	<string>display: common-types</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>display</string>
	<key>uuid</key>
	<string>56940467-7D99-4F31-83C2-1554638F552A</string>
</dict>
</plist>
