<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>display: ${1|table,inline-table,table-row-group,table-header-group,table-footer-group,table-row,table-column-group,table-column,table-cell,table-caption|};$0</string>
	<key>name</key>
	<string>display: table-types</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>display</string>
	<key>uuid</key>
	<string>98BE34AD-3CB1-4FB9-98A0-5E5A4BA63286</string>
</dict>
</plist>
