<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${3:background-image: none;
}filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${1:${TM_SELECTED_TEXT:/images/transparent.png}}', sizingMethod='${2|image,scale,crop|}');</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>filter: AlphaImageLoader [for IE PNGs]</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>background</string>
	<key>uuid</key>
	<string>81CCEB84-6241-4E4F-BB26-54BAAFA3FF2E</string>
</dict>
</plist>
