<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>font: ${1|normal,italic,oblique|} ${2|normal,small-caps|} ${3|normal,bold|} ${4|1em,1.5em|} ${5:Arial}, ${6:sans-}serif;$0</string>
	<key>name</key>
	<string>font: style variant weight size/line-height font-family</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>font</string>
	<key>uuid</key>
	<string>30C6CFA2-C00A-4F2A-8770-096A49C3F95F</string>
</dict>
</plist>
