<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>font-family: ${1:Arial, "MS Trebuchet"}, ${2:sans-}serif;$0</string>
	<key>name</key>
	<string>font-family: family</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>font</string>
	<key>uuid</key>
	<string>25388EC7-EA59-4C87-9F11-52870ADBF1AB</string>
</dict>
</plist>
