<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>font-style: ${1|normal,italic,oblique|};$0</string>
	<key>name</key>
	<string>font-style: normal/italic/oblique</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>font</string>
	<key>uuid</key>
	<string>128D7494-86EA-4615-87F4-C4D45E8C04AA</string>
</dict>
</plist>
