<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>font-size: ${1:100%};$0</string>
	<key>name</key>
	<string>font-size: size</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>font</string>
	<key>uuid</key>
	<string>CD8E3F13-2B14-401D-9646-E309FB04B678</string>
</dict>
</plist>
