<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>font: ${1:75%} ${2:"Lucida Grande", "Trebuchet MS", Verdana,} ${3:sans-}serif;$0</string>
	<key>name</key>
	<string>font: size font</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>font</string>
	<key>uuid</key>
	<string>F5EDF655-440B-4E1B-908F-4291F3A0A3A8</string>
</dict>
</plist>
