<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>letter-spacing: $1px;$0</string>
	<key>name</key>
	<string>letter-spacing: px</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>letter</string>
	<key>uuid</key>
	<string>17BBB1F1-1F83-4386-97B8-23144EB2441A</string>
</dict>
</plist>
