<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>list-style-type: ${1|none,disc,circle,square|};$0</string>
	<key>name</key>
	<string>list-style-type: marker</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>list</string>
	<key>uuid</key>
	<string>C5CE7E29-9EB1-4A63-8173-190D12E4E4E4</string>
</dict>
</plist>
