<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>list-style-type: ${1|cjk-ideographic,hiragana,katakana,hiragana-iroha,katakana-iroha|};$0</string>
	<key>name</key>
	<string>list-style-type: asian</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>list</string>
	<key>uuid</key>
	<string>E024086F-94B8-401F-A903-7F0CDA8E0B8A</string>
</dict>
</plist>
