<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>list-style: ${1|none,disc,circle,square,decimal,zero|} ${2|inside,outside|} url($3);$0</string>
	<key>name</key>
	<string>list-style: type position image</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>list</string>
	<key>uuid</key>
	<string>1C7E0430-2A67-4CEF-9D68-4ED6315A8567</string>
</dict>
</plist>
