<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>list-style-type: ${1|decimal,decimal-leading-zero,zero|};$0</string>
	<key>name</key>
	<string>list-style-type: numeric</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>list</string>
	<key>uuid</key>
	<string>24436F96-2383-48AB-844F-AE791DEAF080</string>
</dict>
</plist>
