<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>list-style-type: ${1|hebrew,armenian,georgian|};$0</string>
	<key>name</key>
	<string>list-style-type: other</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>list</string>
	<key>uuid</key>
	<string>B8E9019D-3419-4CC3-87BB-DC54098CBFD0</string>
</dict>
</plist>
