<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>margin: ${1:20px} ${2:0px};$0</string>
	<key>name</key>
	<string>margin: V H</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>margin</string>
	<key>uuid</key>
	<string>99315B12-6A41-4D8F-8477-F38DE0EBBEF8</string>
</dict>
</plist>
