<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>margin-bottom: ${1:20px};$0</string>
	<key>name</key>
	<string>margin-bottom: length</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>margin</string>
	<key>uuid</key>
	<string>6354F6AC-74E2-42CF-96B0-7EE2733B9B34</string>
</dict>
</plist>
