<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>marker-offset: ${1:10px};$0</string>
	<key>name</key>
	<string>marker-offset: length</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>marker</string>
	<key>uuid</key>
	<string>5FDD30D8-7EF8-41E9-8A44-DC3C22EFD75D</string>
</dict>
</plist>
