<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>marker-offset: auto;$0</string>
	<key>name</key>
	<string>marker-offset: auto</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>marker</string>
	<key>uuid</key>
	<string>E10366F8-CA83-4447-89D3-B36AFD1EAECD</string>
</dict>
</plist>
