<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>opacity: ${1:0.5};${100:
}-moz-opacity: ${1:0.5};${100:
}filter:alpha(opacity=${2:${1/(1?)0?\.(.*)/$1$2/}${1/^\d*\.\d\d+$|^\d*$|(^\d\.\d$)/(?1:0)/}});$0</string>
	<key>name</key>
	<string>opacity: [for Safari, FF &amp; IE]</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>opacity</string>
	<key>uuid</key>
	<string>50C748B6-C8B6-447F-A9EE-DD41CF1CD707</string>
</dict>
</plist>
