<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>overflow: ${1|visible,hidden,scroll,auto|};$0</string>
	<key>name</key>
	<string>overflow: type</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>overflow</string>
	<key>uuid</key>
	<string>6523B6C5-8741-4766-98D6-1B1DE2E6A5F3</string>
</dict>
</plist>
