<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>padding-right: ${1:20px};$0</string>
	<key>name</key>
	<string>padding-right: length</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>padding</string>
	<key>uuid</key>
	<string>C1667E5D-3A50-42F8-8129-6C3EEB43D7C2</string>
</dict>
</plist>
