<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>padding: ${1:20px} ${2:0px} ${3:40px} ${4:0px};$0</string>
	<key>name</key>
	<string>padding: T R B L</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>padding</string>
	<key>uuid</key>
	<string>DD5BB93D-4F99-4A41-8864-85A557B922C7</string>
</dict>
</plist>
