<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>padding-left: ${1:20px};$0</string>
	<key>name</key>
	<string>padding-left: length</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>padding</string>
	<key>uuid</key>
	<string>772DD28C-80C2-4C9B-8023-1E71A974E1C4</string>
</dict>
</plist>
