<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>text-transform: none;$0</string>
	<key>name</key>
	<string>text-transform: none</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>text</string>
	<key>uuid</key>
	<string>2FF51006-7E07-4296-B89D-5ADF7B9B4232</string>
</dict>
</plist>
