<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>text-decoration: ${1|none,underline,overline,line-through,blink|};$0</string>
	<key>name</key>
	<string>text-decoration: none/underline/overline/line-through/blink</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>text</string>
	<key>uuid</key>
	<string>B1916E73-D417-42C2-A5C1-E95428DA6C45</string>
</dict>
</plist>
