<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>text-transform: ${1|capitalize,uppercase,lowercase|};$0</string>
	<key>name</key>
	<string>text-transform: capitalize/upper/lower</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>text</string>
	<key>uuid</key>
	<string>32CD0FA8-7BE7-4D58-A28A-7388F4CF6F9A</string>
</dict>
</plist>
