<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>text-shadow: rgb(${1:255},${2:255},${3:255}) ${4:10px} ${5:10px} ${6:2px};$0</string>
	<key>name</key>
	<string>text-shadow: color-rgb x y blur</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>text</string>
	<key>uuid</key>
	<string>005905FF-544A-434C-803E-B51689332034</string>
</dict>
</plist>
