<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>text-shadow: #${1:DDD} ${2:10px} ${3:10px} ${4:2px};$0</string>
	<key>name</key>
	<string>text-shadow: color-hex x y blur</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>text</string>
	<key>uuid</key>
	<string>77EF6A55-9814-492C-B8E2-EFF0FFAC272E</string>
</dict>
</plist>
