<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>text-align: ${1|left,right,center,justify|};$0</string>
	<key>name</key>
	<string>text-align: left/center/right</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>text</string>
	<key>uuid</key>
	<string>F6CB9433-601A-4F95-A6B9-27D76B50DEE3</string>
</dict>
</plist>
