<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>vertical-align: ${1|baseline,sub,super,top,text-top,middle,bottom,text-bottom,length,%|};$0</string>
	<key>name</key>
	<string>vertical-align: type</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>vertical</string>
	<key>uuid</key>
	<string>0C94F6A6-8AFB-47BC-8448-2383CF0D6C5B</string>
</dict>
</plist>
