<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>visibility: ${1|visible,hidden,collapse|};$0</string>
	<key>name</key>
	<string>visibility: type</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>visibility</string>
	<key>uuid</key>
	<string>DE6D5C37-AC74-467E-9029-9844D8F4153A</string>
</dict>
</plist>
