<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>white-space: ${1|normal,pre,nowrap|};$0</string>
	<key>name</key>
	<string>white-space: normal/pre/nowrap</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>white</string>
	<key>uuid</key>
	<string>A7D10908-72FE-4502-A267-42C5B03F0D66</string>
</dict>
</plist>
