<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>word-spacing: ${1:10px};$0</string>
	<key>name</key>
	<string>word-spacing: length</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>word</string>
	<key>uuid</key>
	<string>B121F84A-CE4A-491D-BF3D-35ED51C82554</string>
</dict>
</plist>
