<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>word-spacing: normal;$0</string>
	<key>name</key>
	<string>word-spacing: normal</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>word</string>
	<key>uuid</key>
	<string>DA7DF131-7351-4F3B-B680-57159E50E6DE</string>
</dict>
</plist>
