<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>z-index: $1;$0</string>
	<key>name</key>
	<string>z-index: index</string>
	<key>scope</key>
	<string>source.css</string>
	<key>tabTrigger</key>
	<string>z</string>
	<key>uuid</key>
	<string>2EED405C-FBAF-4AEB-9B30-ED8EB2252378</string>
</dict>
</plist>
