<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>has_many :${1:object}s${2:, :class_name =&gt; "${1}", :foreign_key =&gt; "${4:reference}_id"}</string>
	<key>name</key>
	<string>has_many</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>hm</string>
	<key>uuid</key>
	<string>F396B7BD-8255-48B1-904A-06E7D7CC2741</string>
</dict>
</plist>
