<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>has_and_belongs_to_many :${1:object}${2:, :join_table =&gt; "${3:table_name}", :foreign_key =&gt; "${4:${1}_id}"}</string>
	<key>name</key>
	<string>has_and_belongs_to_many</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>habtm</string>
	<key>uuid</key>
	<string>2AC3AC1F-743B-4A33-863C-C37885073806</string>
</dict>
</plist>
