<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${TM_RAILS_TEMPLATE_START_RUBY_EXPR}link_to "${1:link text...}", :controller =&gt; "${2:items}", :action =&gt; "${3:index}"${TM_RAILS_TEMPLATE_END_RUBY_EXPR}</string>
	<key>name</key>
	<string>link_to (controller, action)</string>
	<key>scope</key>
	<string>text.html.ruby, text.haml</string>
	<key>tabTrigger</key>
	<string>lica</string>
	<key>uuid</key>
	<string>C11C0BF5-7BC8-11D9-906A-000D932CD5BA</string>
</dict>
</plist>
