<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>t.column ${1:title}, :${2:string}
$0</string>
	<key>name</key>
	<string>Create Column in Table</string>
	<key>scope</key>
	<string>meta.rails.migration.create_table</string>
	<key>tabTrigger</key>
	<string>mcol</string>
	<key>uuid</key>
	<string>7592CA99-75D7-48B6-9133-00B9F148FF43</string>
</dict>
</plist>
