<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>flash[:${1:notice}] = "${2:Successfully created...}"$0</string>
	<key>name</key>
	<string>flash[…]</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>flash</string>
	<key>uuid</key>
	<string>D864896E-8763-11D9-897C-000393CBCE2E</string>
</dict>
</plist>
