<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>RAILS_DEFAULT_LOGGER.debug "${1:message}"$0</string>
	<key>name</key>
	<string>RAILS_DEFAULT_LOGGER.debug</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>rdb</string>
	<key>uuid</key>
	<string>7B15B396-1F41-4529-9253-32761E94448C</string>
</dict>
</plist>
