<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>render :partial =&gt; "${1:item}", :status =&gt; ${2:500}</string>
	<key>name</key>
	<string>render (partial, status)</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>rps</string>
	<key>uuid</key>
	<string>CBB06A4E-3A82-45F3-91AA-259F02314B9D</string>
</dict>
</plist>
