<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>render :partial =&gt; "${1:item}"</string>
	<key>name</key>
	<string>render (partial)</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>rp</string>
	<key>uuid</key>
	<string>498168A5-5AF8-4F59-8A2D-B517FAB98CDB</string>
</dict>
</plist>
