<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>render :partial =&gt; "${1:item}", :object =&gt; ${2:@$1}</string>
	<key>name</key>
	<string>render (partial, object)</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>rpo</string>
	<key>uuid</key>
	<string>BFAAC8DA-A043-4684-967B-B3E5DAE08C62</string>
</dict>
</plist>
