<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>render :inline =&gt; "${1:&lt;%= 'hello' %&gt;}", :type =&gt; ${2::rxml}</string>
	<key>name</key>
	<string>render (inline, type)</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>rit</string>
	<key>uuid</key>
	<string>A8AF8B90-94E8-42E1-8057-DDBA57809F6A</string>
</dict>
</plist>
