<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>render :action =&gt; "${1:action}"</string>
	<key>name</key>
	<string>render (action)</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>ra</string>
	<key>uuid</key>
	<string>7B03D38B-7580-41AC-BC2B-3766AB074A43</string>
</dict>
</plist>
