<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>render :partial =&gt; "${1:item}", :locals =&gt; { :${2:$1} =&gt; ${3:@$1}$0 }</string>
	<key>name</key>
	<string>render (partial, locals)</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>rpl</string>
	<key>uuid</key>
	<string>6F41AFFD-B3A7-42D0-8A84-D6086C118D92</string>
</dict>
</plist>
