<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>render :text =&gt; "${1:text to render...}", :status =&gt; ${2:401}</string>
	<key>name</key>
	<string>render (text, status)</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>rts</string>
	<key>uuid</key>
	<string>4F636977-F7A6-4BF5-B09B-7F087683C3B9</string>
</dict>
</plist>
