<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>render :partial =&gt; "${1:item}", :collection =&gt; ${2:@$1s}</string>
	<key>name</key>
	<string>render (partial, collection)</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>rpc</string>
	<key>uuid</key>
	<string>046FB1B6-9C65-4702-91EC-4AA9878CD949</string>
</dict>
</plist>
