<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>assert_response :${1:success}, @response.body$0</string>
	<key>name</key>
	<string>assert_response</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>asre</string>
	<key>uuid</key>
	<string>2BD82DCB-1F19-4C8F-BC70-C0BBB06A2138</string>
</dict>
</plist>
