<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>assert_redirected_to ${2::action =&gt; "${1:index}"}</string>
	<key>name</key>
	<string>assert_redirected_to</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>art</string>
	<key>uuid</key>
	<string>CD60F800-850D-47CF-BE32-3DE665DD5C68</string>
</dict>
</plist>
