<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>validates_length_of :${1:attribute}, :within =&gt; ${2:3..20}${3:, :on =&gt; :${4:create}, :message =&gt; "${5:must be present}"}</string>
	<key>name</key>
	<string>validates_length_of</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>vl</string>
	<key>uuid</key>
	<string>5CE8838A-BF2C-497E-B87A-E90C3BC482E0</string>
</dict>
</plist>
