<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>validates_exclusion_of :${1:attribute}${2:, :in =&gt; ${3:%w( ${4:mov avi} )}, :on =&gt; :${5:create}, :message =&gt; "${6:extension %s is not allowed}"}</string>
	<key>name</key>
	<string>validates_exclusion_of</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>ve</string>
	<key>uuid</key>
	<string>4CC98A56-B60B-4A89-80E0-400C5314A050</string>
</dict>
</plist>
