<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>validates_confirmation_of :${1:attribute}${2:, :on =&gt; :${3:create}, :message =&gt; "${4:should match confirmation}"}</string>
	<key>name</key>
	<string>validates_confirmation_of</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>vc</string>
	<key>uuid</key>
	<string>B5893618-D07C-48F1-8867-736D0AAFF0E7</string>
</dict>
</plist>
