<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundlePath</key>
	<string>/Users/tobi/Library/Application Support/TextMate/Bundles/Custom.tmbundle</string>
	<key>content</key>
	<string>verify :only =&gt; [:$1], :method =&gt; :post, :render =&gt; {:status =&gt; 500, :text =&gt; "use HTTP-POST"}
</string>
	<key>name</key>
	<string>verify — render</string>
	<key>scope</key>
	<string>source.ruby.rails</string>
	<key>tabTrigger</key>
	<string>verify</string>
	<key>uuid</key>
	<string>9ECBF20C-003E-41D9-A881-4BAC0656F9DC</string>
</dict>
</plist>
