<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>hideFromUser</key>
	<true/>
	<key>command</key>
	<string>#!/usr/bin/env ruby

require ENV['TM_SUPPORT_PATH'] + "/lib/ui"
require ENV['TM_SUPPORT_PATH'] + "/lib/exit_codes"
colour = STDIN.read

# http://www.w3schools.com/css/css_colornames.asp
COLOURS = {
  'aliceblue'            =&gt; 'F0F8FF',
  'antiquewhite'         =&gt; 'FAEBD7',
  'aqua'                 =&gt; '00FFFF',
  'aquamarine'           =&gt; '7FFFD4',
  'azure'                =&gt; 'F0FFFF',
  'beige'                =&gt; 'F5F5DC',
  'bisque'               =&gt; 'FFE4C4',
  'black'                =&gt; '000000',
  'blanchedalmond'       =&gt; 'FFEBCD',
  'blue'                 =&gt; '0000FF',
  'blueviolet'           =&gt; '8A2BE2',
  'brown'                =&gt; 'A52A2A',
  'burlywood'            =&gt; 'DEB887',
  'cadetblue'            =&gt; '5F9EA0',
  'chartreuse'           =&gt; '7FFF00',
  'chocolate'            =&gt; 'D2691E',
  'coral'                =&gt; 'FF7F50',
  'cornflowerblue'       =&gt; '6495ED',
  'cornsilk'             =&gt; 'FFF8DC',
  'crimson'              =&gt; 'DC143C',
  'cyan'                 =&gt; '00FFFF',
  'darkblue'             =&gt; '00008B',
  'darkcyan'             =&gt; '008B8B',
  'darkgoldenrod'        =&gt; 'B8860B',
  'darkgray'             =&gt; 'A9A9A9',
  'darkgrey'             =&gt; 'A9A9A9',
  'darkgreen'            =&gt; '006400',
  'darkkhaki'            =&gt; 'BDB76B',
  'darkmagenta'          =&gt; '8B008B',
  'darkolivegreen'       =&gt; '556B2F',
  'darkorange'           =&gt; 'FF8C00',
  'darkorchid'           =&gt; '9932CC',
  'darkred'              =&gt; '8B0000',
  'darksalmon'           =&gt; 'E9967A',
  'darkseagreen'         =&gt; '8FBC8F',
  'darkslateblue'        =&gt; '483D8B',
  'darkslategray'        =&gt; '2F4F4F',
  'darkslategrey'        =&gt; '2F4F4F',
  'darkturquoise'        =&gt; '00CED1',
  'darkviolet'           =&gt; '9400D3',
  'deeppink'             =&gt; 'FF1493',
  'deepskyblue'          =&gt; '00BFFF',
  'dimgray'              =&gt; '696969',
  'dimgrey'              =&gt; '696969',
  'dodgerblue'           =&gt; '1E90FF',
  'firebrick'            =&gt; 'B22222',
  'floralwhite'          =&gt; 'FFFAF0',
  'forestgreen'          =&gt; '228B22',
  'fuchsia'              =&gt; 'FF00FF',
  'gainsboro'            =&gt; 'DCDCDC',
  'ghostwhite'           =&gt; 'F8F8FF',
  'gold'                 =&gt; 'FFD700',
  'goldenrod'            =&gt; 'DAA520',
  'gray'                 =&gt; '808080',
  'grey'                 =&gt; '808080',
  'green'                =&gt; '008000',
  'greenyellow'          =&gt; 'ADFF2F',
  'honeydew'             =&gt; 'F0FFF0',
  'hotpink'              =&gt; 'FF69B4',
  'indianred'            =&gt; 'CD5C5C',
  'indigo'               =&gt; '4B0082',
  'ivory'                =&gt; 'FFFFF0',
  'khaki'                =&gt; 'F0E68C',
  'lavender'             =&gt; 'E6E6FA',
  'lavenderblush'        =&gt; 'FFF0F5',
  'lawngreen'            =&gt; '7CFC00',
  'lemonchiffon'         =&gt; 'FFFACD',
  'lightblue'            =&gt; 'ADD8E6',
  'lightcoral'           =&gt; 'F08080',
  'lightcyan'            =&gt; 'E0FFFF',
  'lightgoldenrodyellow' =&gt; 'FAFAD2',
  'lightgray'            =&gt; 'D3D3D3',
  'lightgrey'            =&gt; 'D3D3D3',
  'lightgreen'           =&gt; '90EE90',
  'lightpink'            =&gt; 'FFB6C1',
  'lightsalmon'          =&gt; 'FFA07A',
  'lightseagreen'        =&gt; '20B2AA',
  'lightskyblue'         =&gt; '87CEFA',
  'lightslategray'       =&gt; '778899',
  'lightslategrey'       =&gt; '778899',
  'lightsteelblue'       =&gt; 'B0C4DE',
  'lightyellow'          =&gt; 'FFFFE0',
  'lime'                 =&gt; '00FF00',
  'limegreen'            =&gt; '32CD32',
  'linen'                =&gt; 'FAF0E6',
  'magenta'              =&gt; 'FF00FF',
  'maroon'               =&gt; '800000',
  'mediumaquamarine'     =&gt; '66CDAA',
  'mediumblue'           =&gt; '0000CD',
  'mediumorchid'         =&gt; 'BA55D3',
  'mediumpurple'         =&gt; '9370D8',
  'mediumseagreen'       =&gt; '3CB371',
  'mediumslateblue'      =&gt; '7B68EE',
  'mediumspringgreen'    =&gt; '00FA9A',
  'mediumturquoise'      =&gt; '48D1CC',
  'mediumvioletred'      =&gt; 'C71585',
  'midnightblue'         =&gt; '191970',
  'mintcream'            =&gt; 'F5FFFA',
  'mistyrose'            =&gt; 'FFE4E1',
  'moccasin'             =&gt; 'FFE4B5',
  'navajowhite'          =&gt; 'FFDEAD',
  'navy'                 =&gt; '000080',
  'oldlace'              =&gt; 'FDF5E6',
  'olive'                =&gt; '808000',
  'olivedrab'            =&gt; '6B8E23',
  'orange'               =&gt; 'FFA500',
  'orangered'            =&gt; 'FF4500',
  'orchid'               =&gt; 'DA70D6',
  'palegoldenrod'        =&gt; 'EEE8AA',
  'palegreen'            =&gt; '98FB98',
  'paleturquoise'        =&gt; 'AFEEEE',
  'palevioletred'        =&gt; 'D87093',
  'papayawhip'           =&gt; 'FFEFD5',
  'peachpuff'            =&gt; 'FFDAB9',
  'peru'                 =&gt; 'CD853F',
  'pink'                 =&gt; 'FFC0CB',
  'plum'                 =&gt; 'DDA0DD',
  'powderblue'           =&gt; 'B0E0E6',
  'purple'               =&gt; '800080',
  'red'                  =&gt; 'FF0000',
  'rosybrown'            =&gt; 'BC8F8F',
  'royalblue'            =&gt; '4169E1',
  'saddlebrown'          =&gt; '8B4513',
  'salmon'               =&gt; 'FA8072',
  'sandybrown'           =&gt; 'F4A460',
  'seagreen'             =&gt; '2E8B57',
  'seashell'             =&gt; 'FFF5EE',
  'sienna'               =&gt; 'A0522D',
  'silver'               =&gt; 'C0C0C0',
  'skyblue'              =&gt; '87CEEB',
  'slateblue'            =&gt; '6A5ACD',
  'slategray'            =&gt; '708090',
  'slategrey'            =&gt; '708090',
  'snow'                 =&gt; 'FFFAFA',
  'springgreen'          =&gt; '00FF7F',
  'steelblue'            =&gt; '4682B4',
  'tan'                  =&gt; 'D2B48C',
  'teal'                 =&gt; '008080',
  'thistle'              =&gt; 'D8BFD8',
  'tomato'               =&gt; 'FF6347',
  'turquoise'            =&gt; '40E0D0',
  'violet'               =&gt; 'EE82EE',
  'wheat'                =&gt; 'F5DEB3',
  'white'                =&gt; 'FFFFFF',
  'whitesmoke'           =&gt; 'F5F5F5',
  'yellow'               =&gt; 'FFFF00',
  'yellowgreen'          =&gt; '9ACD32',
}

if colour.length &gt; 0 and colour[0] != ?#
  colour.downcase!
  # Convert named colours to their hex values
  colour = '#' + COLOURS[colour] if COLOURS.has_key? colour
end

if res = TextMate::UI.request_color(colour)
  print res
else
  TextMate.exit_discard
end
</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>isDisabled</key>
	<true/>
	<key>keyEquivalent</key>
	<string>@C</string>
	<key>name</key>
	<string>Insert Color…</string>
	<key>outputCaret</key>
	<string>heuristic</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>replaceInput</string>
	<key>scope</key>
	<string>source.css, meta.tag string.quoted -source</string>
	<key>uuid</key>
	<string>CC30D708-6E49-11D9-B411-000D93589AF6</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
