.tabs {
  background: #222;
  border-bottom: 4px solid #555;
}

.tab {
  cursor: default;
  float: left;
  margin: 4px;
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 4px;
  padding-right: 4px;
  background: #3a3a3a;
  color: #d0d0d0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  font-size: 90%;
}

.tab.active {
  background: #555;
  color: white;
}

.tab:last-child {
  margin-right: 4px;
}

.tab .file-name {
  margin-right: 5px;
}

.tab .close-icon {
  font-family: 'Octicons Regular';
  font-size: 14px;
  width: 14px;
  height: 14px;
  color: #777;
  cursor: pointer;
}

.tab .close-icon:before {
  content: "\f050";
}

.tab .close-icon:hover {
  color: white;
}
