@import "bootstrap/less/variables.less";
@import "octicon-mixins.less";

@video-padding: 5px;
@large-width: 160px;
@small-width: 42px;
// @user-color: #3facc1;
@user-color: #00f;

.collaboration-status{
  float: right;

  .status.share {
    cursor: pointer;
    .mini-icon(notifications);
    position: relative;
    right: -1px;
    margin-bottom: 5px;
  }

  .status.guest {
    .mini-icon(watchers);
    position: relative;
    right: -2px;
    margin-bottom: 5px;
  }

  /* is there a way to specify this 14px is a more general way? or remove the
  .mini-icon mixin and use classes so we can use the status bar icon sizes.*/
  .status.guest:before, .status.share:before {
    font-size: 14px;
    width: 14px;
    height: 14px;
  }
}

.site-1, .site-2 {
  background-color: @user-color;
}
.site-1.lighter, .site-2.lighter {
  background-color: lighten(@user-color, 30%);
}

.collaboration-participant{
  bottom: 36px;
  right: 10px;

  padding: @video-padding;
  width: @small-width + @video-padding*2 + 2px;

  video {
    width: @small-width;
    display: block;
  }
  .volume-container { 
    position: relative;

    width: @small-width;
    height: 3px;

    .volume{
      height: 3px;
      width: 60%;
    }
  }

  .actions {
    display: none;
  }

  &.large {
    padding: @video-padding;
    width: @large-width + @video-padding*2 + 2px;

    .video-container {
      overflow: hidden;
      position: relative;
    }

    video {
      width: @large-width;
      border-radius: 2px 2px 0 0;
      cursor: pointer;
    }
    .volume-container { 
      width: @large-width;
      height: 5px;

      .volume{
        height: 5px;
      }
    }

    .actions {
      position: absolute;
      display: block;

      width: @large-width;
      height: 24px;
      line-height: 24px;

      bottom: -24px;

      background: rgba(0, 0, 0, 0.6);

      transition: bottom .15s;

      .remove{
        float: right;
        margin-right: 5px;
        .mini-icon(remove-close);
      }

      .toggle-video{
        margin-left: 5px;
        .mini-icon(arr-right);
      }
      .toggle-audio{
        margin-left: 5px;
        .mini-icon(arr-up);
      }

      .remove:before, .toggle-audio:before, .toggle-video:before {
        color: rgba(255, 255, 255, 0.8);
      }
      .remove:hover:before, .toggle-audio:hover:before, .toggle-video:hover:before {
        color: #fff;
      }
    }

    &:hover{
      .actions{
        bottom: 0px;
      }
    }
  }
}

.collaboration {
  @item-line-height: @line-height-base * 1.25;
  padding: 10px;
  -webkit-user-select: none;
}
