@import "bootstrap/less/variables.less";
@import "octicon-mixins.less";
@runningColor: #99CC99;

.collaboration {
  @item-line-height: @line-height-base * 1.25;
  padding: 10px;
  -webkit-user-select: none;
  cursor: pointer;

  .share {
    .mini-icon(notifications);
    margin-bottom: 5px;
  }

  .guest {
    .mini-icon(watchers);
    position: relative;
    right: -2px;
    margin-bottom: 5px;
    color: #96CBFE;
  }

  .running {
    color: @runningColor;

    &:hover {
      color: lighten(@runningColor, 15%);
    }
  }

  .avatar {
    border-radius: 3px;
    height: 16px;
    width: 16px;
    margin: 2px;
  }
}
