Dear <%= @name %>,

<p>So you forgot your password to the family Website?  No problem!  Here's what we need to do in that case:</p>

<ol>
  <li>Request this email (DONE!)</li>
  <li><a href="<%= @url %>">Click on this link to reset your password</a></li>
  <li>And you'll get a new password!</li>
</ol>

<p>NOTE: You'll also need your sign-in name, which is '<%= @login %>'.</p>

<p>Remember that you can always change your password after you sign in by visiting your account information.</p>

<%= @url %>