.markdown-preview {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: #fff;
  overflow: scroll;
  padding: 20px;
}

.markdown-preview pre,
.markdown-preview code,
.markdown-preview tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.markdown-preview a {
  color: #4183c4;
}

.markdown-preview ol > li {
  list-style-type: decimal;
}

.markdown-preview ul > li {
  list-style-type: disc;
}

.markdown-spinner {
  margin: auto;
  background-image: url(images/octocat-spinner-128.gif);
  background-repeat: no-repeat;
  background-size: 64px;
  background-position: top center;
  padding-top: 70px;
  text-align: center;
}


/* this code below was copied from https://github.com/assets/stylesheets/primer/components/markdown.css */
/* we really need to get primer in here somehow. */
.markdown-preview {}
  .markdown-preview > *:first-child {
    margin-top: 0 !important; }
  .markdown-preview > *:last-child {
    margin-bottom: 0 !important; }
  .markdown-preview a.absent {
    color: #c00; }
  .markdown-preview a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; }
  .markdown-preview h1, .markdown-preview h2, .markdown-preview h3, .markdown-preview h4, .markdown-preview h5, .markdown-preview h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative; }
    .markdown-preview h1 .mini-icon-link, .markdown-preview h2 .mini-icon-link, .markdown-preview h3 .mini-icon-link, .markdown-preview h4 .mini-icon-link, .markdown-preview h5 .mini-icon-link, .markdown-preview h6 .mini-icon-link {
      display: none;
      color: #000; }
    .markdown-preview h1:hover a.anchor, .markdown-preview h2:hover a.anchor, .markdown-preview h3:hover a.anchor, .markdown-preview h4:hover a.anchor, .markdown-preview h5:hover a.anchor, .markdown-preview h6:hover a.anchor {
      text-decoration: none;
      line-height: 1;
      padding-left: 0;
      margin-left: -22px;
      top: 15%; }
      .markdown-preview h1:hover a.anchor .mini-icon-link, .markdown-preview h2:hover a.anchor .mini-icon-link, .markdown-preview h3:hover a.anchor .mini-icon-link, .markdown-preview h4:hover a.anchor .mini-icon-link, .markdown-preview h5:hover a.anchor .mini-icon-link, .markdown-preview h6:hover a.anchor .mini-icon-link {
        display: inline-block; }
    .markdown-preview h1 tt, .markdown-preview h1 code, .markdown-preview h2 tt, .markdown-preview h2 code, .markdown-preview h3 tt, .markdown-preview h3 code, .markdown-preview h4 tt, .markdown-preview h4 code, .markdown-preview h5 tt, .markdown-preview h5 code, .markdown-preview h6 tt, .markdown-preview h6 code {
      font-size: inherit; }
  .markdown-preview h1 {
    font-size: 28px;
    color: #000; }
  .markdown-preview h2 {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    color: #000; }
  .markdown-preview h3 {
    font-size: 18px; }
  .markdown-preview h4 {
    font-size: 16px; }
  .markdown-preview h5 {
    font-size: 14px; }
  .markdown-preview h6 {
    color: #777;
    font-size: 14px; }
  .markdown-preview p,
  .markdown-preview blockquote,
  .markdown-preview ul, .markdown-preview ol, .markdown-preview dl,
  .markdown-preview table,
  .markdown-preview pre {
    margin: 15px 0; }
  .markdown-preview hr {
    background: transparent url("https://a248.e.akamai.net/assets.github.com/assets/primer/markdown/dirty-shade-0e7d81b119cc9beae17b0c98093d121fa0050a74.png") repeat-x 0 0;
    border: 0 none;
    color: #ccc;
    height: 4px;
    padding: 0; }
  .markdown-preview > h2:first-child, .markdown-preview > h1:first-child, .markdown-preview > h1:first-child + h2, .markdown-preview > h3:first-child, .markdown-preview > h4:first-child, .markdown-preview > h5:first-child, .markdown-preview > h6:first-child {
    margin-top: 0;
    padding-top: 0; }
  .markdown-preview a:first-child h1, .markdown-preview a:first-child h2, .markdown-preview a:first-child h3, .markdown-preview a:first-child h4, .markdown-preview a:first-child h5, .markdown-preview a:first-child h6 {
    margin-top: 0;
    padding-top: 0; }
  .markdown-preview h1 + p,
  .markdown-preview h2 + p,
  .markdown-preview h3 + p,
  .markdown-preview h4 + p,
  .markdown-preview h5 + p,
  .markdown-preview h6 + p {
    margin-top: 0; }
  .markdown-preview li p.first {
    display: inline-block; }
  .markdown-preview ul, .markdown-preview ol {
    padding-left: 30px; }
    .markdown-preview ul.no-list, .markdown-preview ol.no-list {
      list-style-type: none;
      padding: 0; }
    .markdown-preview ul li > :first-child,
    .markdown-preview ul li ul:first-of-type, .markdown-preview ol li > :first-child,
    .markdown-preview ol li ul:first-of-type {
      margin-top: 0px; }
  .markdown-preview ul ul,
  .markdown-preview ul ol,
  .markdown-preview ol ol,
  .markdown-preview ol ul {
    margin-bottom: 0; }
  .markdown-preview dl {
    padding: 0; }
  .markdown-preview dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    .markdown-preview dl dt:first-child {
      padding: 0; }
    .markdown-preview dl dt > :first-child {
      margin-top: 0px; }
    .markdown-preview dl dt > :last-child {
      margin-bottom: 0px; }
  .markdown-preview dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    .markdown-preview dl dd > :first-child {
      margin-top: 0px; }
    .markdown-preview dl dd > :last-child {
      margin-bottom: 0px; }
  .markdown-preview blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777; }
    .markdown-preview blockquote > :first-child {
      margin-top: 0px; }
    .markdown-preview blockquote > :last-child {
      margin-bottom: 0px; }
  .markdown-preview table th {
    font-weight: bold; }
  .markdown-preview table th, .markdown-preview table td {
    border: 1px solid #ccc;
    padding: 6px 13px; }
  .markdown-preview table tr {
    border-top: 1px solid #ccc;
    background-color: #fff; }
    .markdown-preview table tr:nth-child(2n) {
      background-color: #f8f8f8; }
  .markdown-preview img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .markdown-preview span.frame {
    display: block;
    overflow: hidden; }
    .markdown-preview span.frame > span {
      border: 1px solid #ddd;
      display: block;
      float: left;
      overflow: hidden;
      margin: 13px 0 0;
      padding: 7px;
      width: auto; }
    .markdown-preview span.frame span img {
      display: block;
      float: left; }
    .markdown-preview span.frame span span {
      clear: both;
      color: #333;
      display: block;
      padding: 5px 0 0; }
  .markdown-preview span.align-center {
    display: block;
    overflow: hidden;
    clear: both; }
    .markdown-preview span.align-center > span {
      display: block;
      overflow: hidden;
      margin: 13px auto 0;
      text-align: center; }
    .markdown-preview span.align-center span img {
      margin: 0 auto;
      text-align: center; }
  .markdown-preview span.align-right {
    display: block;
    overflow: hidden;
    clear: both; }
    .markdown-preview span.align-right > span {
      display: block;
      overflow: hidden;
      margin: 13px 0 0;
      text-align: right; }
    .markdown-preview span.align-right span img {
      margin: 0;
      text-align: right; }
  .markdown-preview span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left; }
    .markdown-preview span.float-left span {
      margin: 13px 0 0; }
  .markdown-preview span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right; }
    .markdown-preview span.float-right > span {
      display: block;
      overflow: hidden;
      margin: 13px auto 0;
      text-align: right; }
  .markdown-preview code, .markdown-preview tt {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px; }
  .markdown-preview code {
    white-space: nowrap; }
  .markdown-preview pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent; }
  .markdown-preview .highlight pre, .markdown-preview pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px; }
  .markdown-preview pre code, .markdown-preview pre tt {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none; }

/* this code was copied from https://github.com/assets/stylesheets/primer/components/pygments.css */
/* the .markdown-preview class was then added to all rules */
.markdown-preview .highlight {
  background: #ffffff; }
  .markdown-preview .highlight .c {
    color: #999988;
    font-style: italic; }
  .markdown-preview .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .markdown-preview .highlight .k {
    font-weight: bold; }
  .markdown-preview .highlight .o {
    font-weight: bold; }
  .markdown-preview .highlight .cm {
    color: #999988;
    font-style: italic; }
  .markdown-preview .highlight .cp {
    color: #999999;
    font-weight: bold; }
  .markdown-preview .highlight .c1 {
    color: #999988;
    font-style: italic; }
  .markdown-preview .highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic; }
  .markdown-preview .highlight .gd {
    color: #000000;
    background-color: #ffdddd; }
  .markdown-preview .highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa; }
  .markdown-preview .highlight .ge {
    font-style: italic; }
  .markdown-preview .highlight .gr {
    color: #aa0000; }
  .markdown-preview .highlight .gh {
    color: #999999; }
  .markdown-preview .highlight .gi {
    color: #000000;
    background-color: #ddffdd; }
  .markdown-preview .highlight .gi .x {
    color: #000000;
    background-color: #aaffaa; }
  .markdown-preview .highlight .go {
    color: #888888; }
  .markdown-preview .highlight .gp {
    color: #555555; }
  .markdown-preview .highlight .gs {
    font-weight: bold; }
  .markdown-preview .highlight .gu {
    color: #800080;
    font-weight: bold; }
  .markdown-preview .highlight .gt {
    color: #aa0000; }
  .markdown-preview .highlight .kc {
    font-weight: bold; }
  .markdown-preview .highlight .kd {
    font-weight: bold; }
  .markdown-preview .highlight .kn {
    font-weight: bold; }
  .markdown-preview .highlight .kp {
    font-weight: bold; }
  .markdown-preview .highlight .kr {
    font-weight: bold; }
  .markdown-preview .highlight .kt {
    color: #445588;
    font-weight: bold; }
  .markdown-preview .highlight .m {
    color: #009999; }
  .markdown-preview .highlight .s {
    color: #d14; }
  .markdown-preview .highlight .na {
    color: #008080; }
  .markdown-preview .highlight .nb {
    color: #0086B3; }
  .markdown-preview .highlight .nc {
    color: #445588;
    font-weight: bold; }
  .markdown-preview .highlight .no {
    color: #008080; }
  .markdown-preview .highlight .ni {
    color: #800080; }
  .markdown-preview .highlight .ne {
    color: #990000;
    font-weight: bold; }
  .markdown-preview .highlight .nf {
    color: #990000;
    font-weight: bold; }
  .markdown-preview .highlight .nn {
    color: #555555; }
  .markdown-preview .highlight .nt {
    color: #000080; }
  .markdown-preview .highlight .nv {
    color: #008080; }
  .markdown-preview .highlight .ow {
    font-weight: bold; }
  .markdown-preview .highlight .w {
    color: #bbbbbb; }
  .markdown-preview .highlight .mf {
    color: #009999; }
  .markdown-preview .highlight .mh {
    color: #009999; }
  .markdown-preview .highlight .mi {
    color: #009999; }
  .markdown-preview .highlight .mo {
    color: #009999; }
  .markdown-preview .highlight .sb {
    color: #d14; }
  .markdown-preview .highlight .sc {
    color: #d14; }
  .markdown-preview .highlight .sd {
    color: #d14; }
  .markdown-preview .highlight .s2 {
    color: #d14; }
  .markdown-preview .highlight .se {
    color: #d14; }
  .markdown-preview .highlight .sh {
    color: #d14; }
  .markdown-preview .highlight .si {
    color: #d14; }
  .markdown-preview .highlight .sx {
    color: #d14; }
  .markdown-preview .highlight .sr {
    color: #009926; }
  .markdown-preview .highlight .s1 {
    color: #d14; }
  .markdown-preview .highlight .ss {
    color: #990073; }
  .markdown-preview .highlight .bp {
    color: #999999; }
  .markdown-preview .highlight .vc {
    color: #008080; }
  .markdown-preview .highlight .vg {
    color: #008080; }
  .markdown-preview .highlight .vi {
    color: #008080; }
  .markdown-preview .highlight .il {
    color: #009999; }
  .markdown-preview .highlight .gc {
    color: #999;
    background-color: #EAF2F5; }

.type-csharp .markdown-preview .highlight .k {
  color: #0000FF; }
.type-csharp .markdown-preview .highlight .kt {
  color: #0000FF; }
.type-csharp .markdown-preview .highlight .nf {
  color: #000000;
  font-weight: normal; }
.type-csharp .markdown-preview .highlight .nc {
  color: #2B91AF; }
.type-csharp .markdown-preview .highlight .nn {
  color: #000000; }
.type-csharp .markdown-preview .highlight .s {
  color: #A31515; }
.type-csharp .markdown-preview .highlight .sc {
  color: #A31515; }
