'menu': [
  {
    label: 'Atom'
    submenu: [
      { label: 'About Atom', command: 'application:about' }
      { label: "VERSION", enabled: false }
      { label: "Install update", command: 'application:install-update', visible: false }
      { type: 'separator' }
      { label: 'Preferences...', command: 'application:show-settings' }
      { type: 'separator' }
      { label: 'Hide Atom', command: 'application:hide' }
      { label: 'Hide Others', command: 'application:hide-other-applications' }
      { label: 'Show All', command: 'application:unhide-all-applications' }
      { type: 'separator' }
      { label: 'Quit', command: 'application:quit' }
    ]
  }
  {
    label: 'File'
    submenu: [
      { label: 'New Window', command: 'application:new-window' }
      { label: 'New File', command: 'application:new-file' }
      { label: 'Open...', command: 'application:open' }
      { type: 'separator' }
      { label: 'Save', command: 'core:save' }
      { label: 'Save As...', command: 'core:save-as' }
      { label: 'Save All', command: 'window:save-all' }
      { type: 'separator' }
      { label: 'Close File', command: 'pane:close' }
      { label: 'Close Window', command: 'window:close' }
    ]
  }

  {
    label: 'Edit'
    submenu: [
      { label: 'Undo', command: 'core:undo' }
      { label: 'Redo', command: 'core:redo' }
      { type: 'separator' }
      { label: 'Cut', command: 'core:cut' }
      { label: 'Copy', command: 'core:copy' }
      { label: 'Paste', command: 'core:paste' }
      { label: 'Select All', command: 'core:select-all' }
      { type: 'separator' }
    ]
  }

  {
    label: 'View'
    submenu: [
      { label: 'Reload', command: 'window:reload' }
      { label: 'Toggle Full Screen', command: 'window:toggle-full-screen' }
      {
        label: 'Developer'
        submenu: [
          { label: 'Open In Dev Mode...', command: 'application:open-dev' }
          { label: 'Run Atom Specs', command: 'application:run-all-specs' }
          { label: 'Toggle Developer Tools', command: 'window:toggle-dev-tools' }
        ]
      }
      { type: 'separator' }
    ]
  }

  {
    label: 'Window'
    submenu: [
      { label: 'Minimize', command: 'application:minimize' }
      { label: 'Zoom', command: 'application:zoom' }
      { type: 'separator' }
      { label: 'Bring All to Front', command: 'application:bring-all-windows-to-front' }
    ]
  }
]
