@import "octicon-utf-codes.less";

.fuzzy-finder {

  &.select-list li {
    padding: 5px 10px 5px 10px;
  }

  .path {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 26px;
    font-size: .9em;
  }

  .status {
    font-family: 'Octicons Regular';
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    -webkit-font-smoothing: antialiased;
    color: #9d9d9d;
    float: right;

    &.new:before {
      position: relative;
      top: 3px;
      content: @diff-added;
    }

    &.modified:before {
      position: relative;
      top: 3px;
      content: @diff-modified;
    }
  }

  .file {
    &:before {
      font-family: 'Octicons Regular';
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-right: 5px;
      margin-left: 5px;
      -webkit-font-smoothing: antialiased;
      color: #9d9d9d;
    }

    &.text-name:before {
      content: @file-text;
    }

    &.image-name:before {
      content: @file-media;
    }

    &.compressed-name:before {
      content: @file-zip;
    }

    &.pdf-name:before {
      content: @file-pdf;
    }

    &.readme-name:before {
      content: @book;
    }

    &.binary-name:before {
      content: @file-binary;
    }
  }
}
