.fuzzy-finder {

  &.select-list li {
    padding: 5px 10px 5px 10px;
  }

  .path {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -2px;
    margin-left: 26px;
    font-size: .9em;
  }

  .status {
    font-family: 'Octicons Regular';
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    -webkit-font-smoothing: antialiased;
    color: #9d9d9d;
    float: right;

    &new:before {
      position: relative;
      top: 3px;
      content: "\f06b";
    }

    &:before {
      position: relative;
      top: 3px;
      content: "\f06d";
    }
  }

  .file {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:before {
      font-family: 'Octicons Regular';
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-right: 5px;
      margin-left: 5px;
      -webkit-font-smoothing: antialiased;
      color: #9d9d9d;
    }

    &.text-name:before {
      content: "\f011";
    }

    &.image-name:before {
      content: "\f012";
    }

    &.compressed-name:before {
      content: "\f013";
    }

    &.pdf-name:before {
      content: "\f014";
    }

    &.readme-name:before {
      content: "\f007";
    }

    &.binary-name:before {
      content: "\f094";
    }
  }
}
