.tabs {
  background: #333333;
  table-layout: fixed;
  display: table;
  border-bottom: 4px solid #424242;
}

.tab {
  cursor: default;
  padding: 2px 21px 2px 9px;
  background-image: -webkit-linear-gradient(#444, #3d3d3d);
  color: #a5aaaa;
  display: table-cell;
  width: 1%;
  position: relative;
  border-top: 1px solid #4a4a4a;
  border-right: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
  box-shadow: 0 1px 0 #585858, inset -1px 0 0 #4a4a4a, inset 1px 0 0 #4a4a4a;
  max-width: 100px;
}

.tab.active,
.tab.active:hover {
  color: #dae6e6;
  box-shadow: inset -1px 0 0 #595959, inset 1px 0 0 #595959;
  border-bottom: 0 none;
  background-image: -webkit-linear-gradient(#555555, #424242);
}

.tab:hover {
  color: #c8c8c5;
  background-image: -webkit-linear-gradient(#474747, #444444);
}

.tab .file-name {
  font-size: 12px !important;
  font-weight: normal !important;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 0 -1px 1px black;
}

.tab .close-icon {
  font-family: 'Octicons Regular';
  font-size: 14px;
  width: 14px;
  height: 14px;
  display: block;
  color: #777;
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: -1px;
  -webkit-font-smoothing: antialiased;
}

.tab .close-icon:before {
  content: "\f081";
}

.tab .close-icon:hover {
  color: white;
}
