@import "ui-colors";

.archive-view {
  background-color: @background-color-2;
  color: @text-color-subtle-1;

  .selected {
    background-color: #434343;
    color: @text-color-3;
  }

  .summary {
    background-image: -webkit-linear-gradient(@background-color-highlight-2, @background-color-highlight-1);
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    box-shadow:
      inset 0 1px 0 @background-color-highlight-1,
      inset 0 -1px 0 rgba(255, 255, 255, 0.02);
  }
}
