html, body,
#root-view {
  font: caption;
  background-color: #333333;
}

#root-view #panes:before {
  display: block;
  content: "\f208";
  font-family: 'Octicons Regular';
  color: #303030;
  -webkit-font-smoothing: antialiased;
  font-size: 100vmin;
  line-height: 100vmin;
  text-align: center;
}

#root-view #panes .row > * + * {
  -webkit-box-shadow:
    -2px 0 rgba(0, 0, 0, 0.3),
    -1px 0 rgba(255, 255, 255, 0.2);
}

#root-view #panes .column > * + * {
  -webkit-box-shadow:
    0 -2px rgba(0, 0, 0, 0.3),
    0 -1px rgba(255, 255, 255, 0.2);
}

.error {
  background: #991212 !important;
  -webkit-transition: background 300ms ease-out;
}

.clear-float {
  clear: both;
}

@font-face {
  font-family: 'Octicons Regular';
  src: url("octicons-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
