.command-panel {
  background-color: #1b1c1e;
  color: #dedede;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  padding: 10px;
}

.command-panel .preview-list {
  background-color: #19191b;
  color: #C5C8C6;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.command-panel .preview-count {
  color: #969696;
  background: #161719;
  padding: 5px;
  border-radius: 3px;
}

.command-panel .preview-list li.selected, .command-panel .preview-list li.operation:hover {
  background-color: rgba(255, 255, 255, .13);
}

.command-panel .preview-list:focus li.selected {
  background-color: rgba(255, 255, 255, .2);
}

.command-panel .preview-list .path {
  color: #fff;
}

.command-panel .preview-list .line-number {
  color: rgba(255, 255, 255, .3);
}

.command-panel .preview-list .path-match-number {
  color: rgba(255, 255, 255, .3);
}

.command-panel .preview-list .preview {
  word-break: break-all;
}

.command-panel .preview-list .preview .match {
  background-color: rgba(255, 255, 255, .2);
  color: yellow;
}
