.fuzzy-finder .directory {
  color: rgba(255, 255, 255, 0.4);
  word-break: break-word;
  margin-left: 5px;
  line-height: 150%;
}

.fuzzy-finder .file:before {
  font-family: 'Octicons Regular';
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-font-smoothing: antialiased;
  color: #ccc;
}

.fuzzy-finder .file.text-name:before {
  content: "\f011";
}

.fuzzy-finder .file.image-name:before {
  content: "\f012";
}

.fuzzy-finder .file.compressed-name:before {
  content: "\f013";
}

.fuzzy-finder .file.pdf-name:before {
  content: "\f014";
}