.source.gfm {
  color: #999;
}

.gfm .markup.heading {
  color: #eee;
}

.gfm .link {
  color: #555;
}

.gfm .variable.list,
.gfm .support.quote {
  color: #555;
}

.gfm .link .entity {
  color: #ddd;
}