'stylesheets': [
  'atom'
  'editor'
  'select-list'
  'tree-view'
  'tabs'
  'status-bar'
  'command-panel'
  'command-logger'
  'blurred'
  'image-view'
  'archive-view'
  'collaboration'
  'overlay'
]
