@import "ui-colors";

.select-list {
  background: @background-color-1;

  .error {
    color: white;
    text-shadow: 0 1px 0 #4E0000;
  }

  .loading {
    color: @text-color-3;
  }

  ol {
    border: 1px solid #222;

    li {
      background-color: @background-color-3;
      border-bottom: 1px solid @border-color-3;
      color: @text-color-2;
    }

    .key-binding {
      background: -webkit-linear-gradient(
        rgba(100, 100, 100, 0.5),
        rgba(70,70,70, 0.5));
      color: @text-color-3;
      -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1);
      display: inline-block;
      line-height: 100%;
    }

    li.active-item:before {
      color: #9d9d9d;
    }

    li:hover {
      color: @text-color-1;
    }

    .selected {
      background-color: @background-color-highlight-2;
    }

    .right,
    .secondary-line {
      color: @text-color-subtle-1;
    }

    .selected {
      color: @text-color-1;
    }

    .selected .right,
    .selected .secondary-line {
      color: #828282;
    }

    .modified {
      color: @accent-color-error-1;
    }

    .new {
      color: @accent-color-info-1;
    }
  }
}
