.select-list ol li {
  background-color: #27292b;
  border-bottom: 1px solid #1e1e1e;
}

.select-list li .label {
  color: #ddd;
}

.select-list .key-binding {
  background: -webkit-linear-gradient(
    rgba(100, 100, 100, 0.5),
    rgba(70,70,70, 0.5));
  color: #ccc;
  -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1);
  display: inline-block;
  line-height: 100%;
}

.select-list li:hover {
  background-color: #2c2c2c;
}

.select-list ol .selected {
  background-image: -webkit-linear-gradient(#7e7e7e, #737373);
}

.select-list .right,
.select-list .directory {
  color: #777;
}

.select-list ol .selected .label {
  color: #fff;
}

.select-list ol .selected .right,
.select-list ol .selected .directory {
  color: #ccc;
}
