.status-bar {
  background-color: #1b1c1e;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  color: #969696;
}

.status-bar .grammar-name:hover {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}

.status-bar .git-status.octicons.modified-status-icon {
  color: #f78a46;
  display: inline-block;
}

.status-bar .git-status.octicons.new-status-icon {
  color: #5293d8;
  display: inline-block;
}
