.tabs {
  background: #333333;
  border-bottom: 4px solid #424242;
  box-shadow: inset 0 -1px 0 #2e2e2e, 0 1px 0 #191919;
}

.is-focused .tab {
  background-image: -webkit-linear-gradient(#444, #3d3d3d);
  border-top: 1px solid #383838;
  border-right: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
  box-shadow: inset 0 0 5px #383838, 0 1px 0 #585858, inset -1px 0 0 #4a4a4a, inset 1px 0 0 #4a4a4a;
}

.is-focused .tab:first-child {
  box-shadow: inset 0 0 5px #383838, 0 1px 0 #585858, inset -1px 0 0 #4a4a4a;
}

.is-focused .tab.active,
.is-focused .tab.active:hover {
  border-top: 1px solid #4a4a4a;
  box-shadow: inset -1px 0 0 #595959, inset 1px 0 0 #595959;
  border-bottom-color: #424242;
  background-image: -webkit-linear-gradient(#555555, #424242);
}

.tab {
  background-color: #555;
  background-image: none;
  border-top: 1px solid #383838;
  border-right: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
  box-shadow: inset 0 0 5px #555, 0 1px 0 #585858, inset -1px 0 0 #4a4a4a, inset 1px 0 0 #4a4a4a;
}

.tab:first-child {
  box-shadow: inset 0 0 5px #555, 0 1px 0 #585858, inset -1px 0 0 #4a4a4a;
}

.tab.active,
.tab.active:hover {
  border-top: 1px solid #4a4a4a;
  box-shadow: inset -1px 0 0 #595959, inset 1px 0 0 #595959;
  border-bottom-color: #424242;
  background-image: none;
  background-color: #424242;
}

.tab,
.tab .close-icon {
  color: #aaa;
}

.tab.file-modified .close-icon {
  border-color: #aaa;
}

.is-focused .tab.active,
.is-focused .tab.active:hover,
.is-focused .tab.active .close-icon {
  color: #e6e6e6;
}

.tab.file-modified.active .close-icon {
  border-color: #e6e6e6;
}

.tab:hover .close-icon {
  color: #c8c8c8;
  border-color: #c8c8c8;
}

.tab.file-modified .close-icon {
  border: 3px solid #777;
}

.is-focused .tab.active:first-child,
.is-focused .tab.active:first-child:hover {
  box-shadow: inset -1px 0 0 #595959;
}

.tab.active:before,
.tab.active:after {
  border: 1px solid #595959;
}

.is-focused .tab.active:before {
  border-bottom-right-radius: 4px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #424242;
}

.is-focused .tab.active:after {
  border-bottom-left-radius: 4px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #424242;
}

.tab.active:before {
  border-bottom-right-radius: 4px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #424242;
}

.tab.active:after {
  border-bottom-left-radius: 4px;
  box-shadow: -2px 2px 0 #424242;
}

.tab:hover {
  color: #c8c8c8;
  background-image: -webkit-linear-gradient(#474747, #444444);
}
