@import "ui-colors";

.tree-view-resizer{
  border-right: 1px solid @border-color-2;
}
.tree-view {
  background: @background-color-2;
  box-shadow:
    1px 0 0 #131516,
    inset -1px 0 0 rgba(255, 255, 255, 0.02),
    1px 0 3px rgba(0, 0, 0, 0.2);
}

.tree-view .entry {
  text-shadow: 0 -1px 0 #000;
}

.tree-view .directory.selected > .header > .name,
.tree-view .selected > .name,
.tree-view .selected > .header > .disclosure-arrow {
  color: #d2d2d2;
}

.tree-view .selected > .highlight {
  background-color: transparent;
  background-image: -webkit-linear-gradient(@highlight-background-color-2, fadeout(@highlight-background-color-2, 3%));
}

.tree-view:focus .selected > .highlight {
  background-color: @highlight-background-color-3;
  background-image: -webkit-linear-gradient(@highlight-background-color-3, fadeout(@highlight-background-color-3, 3%));
}

.tree-view:focus .directory.selected > .header > .name,
.tree-view:focus .selected > .name {
  color: @text-color-1;
  text-shadow: 0 -1px 0 #7E4521;
}
.tree-view:focus .directory.selected > .header > .name,
.tree-view:focus .selected > .name {
  color: @text-color-1;
  text-shadow: 0 -1px 0 #333;
}

.tree-view .directory {
  color: @text-color-2;
}

.tree-view .file {
  color: @text-color-subtle-1;
}

.tree-view .entry:hover,
.tree-view .directory .header:hover .name,
.tree-view .directory .header:hover .disclosure-arrow,
.tree-view .selected > .directory > .header .disclosure-arrow,
.tree-view .selected > .directory > .header:hover .disclosure-arrow  {
  color: @text-color-2;
}

.tree-view .ignored {
  color: @text-color-subtle-2;
}

.tree-view .modified {
  color: @accent-color-error-1;
}

.tree-view .new {
  color: @accent-color-info-1;
}

.tree-view-dialog {
  background-color: @light-background-color-1;
  border-top: 1px solid #555;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, .5);
}

.tree-view-dialog .prompt {
  color: @text-color-2;
}
