// Number increase is more subtle
@text-color-1: #fff;
@text-color-2: #eee;
@text-color-3: #bbb;

// For opposite color scheme things. Like a bright background with text.
@text-alt-color-1: #333;
@text-alt-color-2: #333;
@text-alt-color-3: #333;

// Number increase is more subtle
@text-color-subtle-1: #777;
@text-color-subtle-2: #555;
@text-color-subtle-3: #333;

// Main color, then darker and lighter.
@background-color-1: #202123;
@background-color-2: #1d1f21;
@background-color-3: #27292b;

// Main color, darker, lighter.
// Supposed to match up with the background color indices
@highlight-background-color-1: rgba(255, 255, 255, 0.05);
@highlight-background-color-2: rgba(255, 255, 255, 0.1);
@highlight-background-color-3: rgba(255, 255, 255, 0.2);

// These match up to the background colors as well.
@border-color-1: rgba(255, 255, 255, 0.05);
@border-color-2: #19191a;
@border-color-3: #1e1e1e;

// Info colors are generally blue
@accent-color-info-1: #5293d8;
@accent-color-info-3: #0098ff;
@accent-color-info-2: #66a6ff;

// Error colors are generally red/orange
@accent-color-error-1: #f78a46;
@accent-color-error-2: #ff4800;
@accent-color-error-3: #ffa275;

// Bright color, darker then lighter.
// Success colors are generally green
@accent-color-success-1: #1fe977;
@accent-color-success-2: #17ca65;
@accent-color-success-3: #58f79d;

// Colors that are not standard for themes.
@light-background-color-1: #333;

@dark-background-color-1: #1b1c1e;
@dark-background-color-2: #19191a;

@text-color-4: #969696;