@import "colors.less";

// Official Syntax Variables

// General colors
@syntax-text-color:            @black;
@syntax-cursor-color:          @black;
@syntax-selection-color:       @almost-white;
@syntax-selection-flash-color: @very-dark-gray;
@syntax-background-color:      @white;

// Guide colors
@syntax-wrap-guide-color:          @very-light-gray;
@syntax-indent-guide-color:        @very-light-gray;
@syntax-invisible-character-color: @very-light-gray;

// For find and replace markers
@syntax-result-marker-color:          @light-gray;
@syntax-result-marker-color-selected: @very-light-gray;

// Gutter colors
@syntax-gutter-text-color:                @light-gray;
@syntax-gutter-text-color-selected:       @dark-gray;
@syntax-gutter-background-color:          @syntax-background-color;
@syntax-gutter-background-color-selected: @syntax-selection-color;

// For git diff info. i.e. in the gutter
@syntax-color-renamed:  @blue;
@syntax-color-added:    @green;
@syntax-color-modified: @orange;
@syntax-color-removed:  @red;

// For language entity colors
@syntax-color-variable:  @red;
@syntax-color-constant:  @orange;
@syntax-color-property:  @syntax-text-color;
@syntax-color-value:     @green;
@syntax-color-function:  @blue;
@syntax-color-method:    @blue;
@syntax-color-class:     @yellow;
@syntax-color-keyword:   @purple;
@syntax-color-tag:       @red;
@syntax-color-attribute: @orange;
@syntax-color-import:    @purple;
@syntax-color-snippet:   @green;
