<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>(c) Copyright `date +%Y` $TM_FULLNAME. All Rights Reserved. </string>
	<key>name</key>
	<string>Copyright Notice</string>
	<key>tabTrigger</key>
	<string>c)</string>
	<key>uuid</key>
	<string>BC8B89E4-5F16-11D9-B9C3-000D93589AF6</string>
</dict>
</plist>
