'body':
  'meta-up': 'core:move-to-top'
  'meta-down': 'core:move-to-bottom'
  'meta-shift-up': 'core:select-to-top'
  'meta-shift-down': 'core:select-to-bottom'

'.editor':
  'meta-left': 'editor:move-to-first-character-of-line'
  'meta-right': 'editor:move-to-end-of-line'
  'meta-shift-left': 'editor:select-to-first-character-of-line'
  'meta-shift-right': 'editor:select-to-end-of-line'

  'home': 'editor:move-to-first-character-of-line'
  'end': 'editor:move-to-end-of-line'
  'shift-home': 'editor:select-to-first-character-of-line'
  'shift-end': 'editor:select-to-end-of-line'

  'alt-left': 'editor:move-to-previous-word-boundary'
  'alt-right': 'editor:move-to-next-word-boundary'
  'alt-shift-left': 'editor:select-to-previous-word-boundary'
  'alt-shift-right': 'editor:select-to-next-word-boundary'

  'alt-backspace': 'editor:backspace-to-beginning-of-word'
  'meta-backspace': 'editor:backspace-to-beginning-of-line'

  'alt-delete': 'editor:delete-to-end-of-word'
  'ctrl-t': 'editor:transpose'
  'ctrl-A': 'editor:select-to-first-character-of-line'
  'ctrl-E': 'editor:select-to-end-of-line'
