'.editor':
  # Platform Bindings
  'alt-left': 'editor:move-to-previous-word-boundary'
  'alt-right': 'editor:move-to-next-word-boundary'
  'alt-shift-left': 'editor:select-to-previous-word-boundary'
  'alt-shift-right': 'editor:select-to-next-word-boundary'
  'home': 'editor:move-to-first-character-of-line'
  'end': 'editor:move-to-end-of-line'
  'shift-home': 'editor:select-to-first-character-of-line'
  'shift-end': 'editor:select-to-end-of-line'

  # Sublime Parity
  'command-a': 'core:select-all'
  'command-alt-p': 'editor:log-cursor-scope'
  'ctrl-t': 'editor:transpose'
  'command-k command-u': 'editor:upper-case'
  'command-k command-l': 'editor:lower-case'

'.editor:not(.mini)':
  # Atom Specific
  'alt-command-z': 'editor:checkout-head-revision'
  'command-<': 'editor:scroll-to-cursor'
  'ctrl-C': 'editor:copy-path'
  'alt-command-ctrl-f': 'editor:fold-selection'
  'command-=': 'editor:auto-indent'

  # Sublime Parity
  'tab': 'editor:indent'
  'enter': 'editor:newline'
  'command-enter': 'editor:newline-below'
  'command-shift-enter': 'editor:newline-above'
  'command-]': 'editor:indent-selected-rows'
  'command-[': 'editor:outdent-selected-rows'
  'shift-tab': 'editor:outdent-selected-rows'
  'ctrl-command-up': 'editor:move-line-up'
  'ctrl-command-down': 'editor:move-line-down'
  'command-/': 'editor:toggle-line-comments'
  'command-j': 'editor:join-line'
  'command-D': 'editor:duplicate-line'
  'ctrl-K': 'editor:delete-line'
  'ctrl-shift-up': 'editor:add-selection-above'
  'ctrl-shift-down': 'editor:add-selection-below'

  'command-alt-[': 'editor:fold-current-row'
  'command-alt-]': 'editor:unfold-current-row'
  'command-alt-{': 'editor:fold-all' # Atom Specific
  'command-alt-}': 'editor:unfold-all' # Atom Specific
  'command-k command-0': 'editor:unfold-all'
  'command-k command-1': 'editor:fold-at-indent-level-1'
  'command-k command-2': 'editor:fold-at-indent-level-2'
  'command-k command-3': 'editor:fold-at-indent-level-3'
  'command-k command-4': 'editor:fold-at-indent-level-4'
  'command-k command-5': 'editor:fold-at-indent-level-5'
  'command-k command-6': 'editor:fold-at-indent-level-6'
  'command-k command-7': 'editor:fold-at-indent-level-7'
  'command-k command-8': 'editor:fold-at-indent-level-8'
  'command-k command-9': 'editor:fold-at-indent-level-9'

'.tool-panel':
  'escape': 'core:close'

'.tool-panel.panel-left, .tool-panel.panel-right':
  'escape': 'tool-panel:unfocus'

'.editor !important, .editor.mini !important':
  'escape': 'editor:consolidate-selections'

# allow standard input fields to work correctly
'input:not(.hidden-input), .native-key-bindings':
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'
  'left': 'native!'
  'right': 'native!'
  'shift-left': 'native!'
  'shift-right': 'native!'
  'backspace': 'native!'
  'shift-backspace': 'native!'
  'delete': 'native!'
  'command-z': 'native!'
  'command-Z': 'native!'
  'command-x': 'native!'
  'command-c': 'native!'
  'command-v': 'native!'
  'ctrl-b': 'native!'
  'ctrl-f': 'native!'
  'ctrl-F': 'native!'
  'ctrl-B': 'native!'
  'ctrl-h': 'native!'
  'ctrl-d': 'native!'
