'atom-text-editor':
  # Platform Bindings
  'home': 'editor:move-to-first-character-of-line'
  'end': 'editor:move-to-end-of-screen-line'
  'shift-home': 'editor:select-to-first-character-of-line'
  'shift-end': 'editor:select-to-end-of-line'

'atom-text-editor:not([mini])':
  # Atom Specific
  'ctrl-shift-c': 'editor:copy-path'
  'alt-up': 'editor:select-larger-syntax-node'
  'alt-down': 'editor:select-smaller-syntax-node'

  # Sublime Parity
  'tab': 'editor:indent'
  'enter': 'editor:newline'
  'shift-tab': 'editor:outdent-selected-rows'
  'ctrl-shift-k': 'editor:delete-line'

'.select-list atom-text-editor[mini]':
  'enter': 'core:confirm'

'.tool-panel.panel-left, .tool-panel.panel-right':
  'escape': 'tool-panel:unfocus'

'atom-text-editor !important, atom-text-editor[mini] !important':
  'escape': 'editor:consolidate-selections'

# Allow standard input fields to work correctly
'body .native-key-bindings':
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'
  'enter': 'native!'
  'backspace': 'native!'
  'shift-backspace': 'native!'
  'delete': 'native!'
  'up': 'native!'
  'down': 'native!'
  'shift-up': 'native!'
  'shift-down': 'native!'
  'alt-up': 'native!'
  'alt-down': 'native!'
  'alt-shift-up': 'native!'
  'alt-shift-down': 'native!'
  'cmd-up': 'native!'
  'cmd-down': 'native!'
  'cmd-shift-up': 'native!'
  'cmd-shift-down': 'native!'
  'ctrl-up': 'native!'
  'ctrl-down': 'native!'
  'ctrl-shift-up': 'native!'
  'ctrl-shift-down': 'native!'
  'left': 'native!'
  'right': 'native!'
  'shift-left': 'native!'
  'shift-right': 'native!'
  'alt-left': 'native!'
  'alt-right': 'native!'
  'alt-shift-left': 'native!'
  'alt-shift-right': 'native!'
  'cmd-left': 'native!'
  'cmd-right': 'native!'
  'cmd-shift-left': 'native!'
  'cmd-shift-right': 'native!'
  'ctrl-left': 'native!'
  'ctrl-right': 'native!'
  'ctrl-shift-left': 'native!'
  'ctrl-shift-right': 'native!'
  'ctrl-b': 'native!'
  'ctrl-f': 'native!'
  'ctrl-shift-f': 'native!'
  'ctrl-shift-b': 'native!'
  'ctrl-h': 'native!'
  'ctrl-d': 'native!'
