'body':
  # Apple specific
  'meta-q': 'application:quit'
  'meta-h': 'application:hide'
  'meta-H': 'application:hide-other-applications'
  'meta-m': 'application:minimize'
  'alt-meta-ctrl-m': 'application:zoom'

  # Atom Specific
  'meta-O': 'application:open-dev'
  'meta-alt-ctrl-s': 'application:run-all-specs'
  'enter': 'core:confirm'
  'escape': 'core:cancel'
  'up': 'core:move-up'
  'down': 'core:move-down'
  'left': 'core:move-left'
  'right': 'core:move-right'
  'ctrl-alt-meta-r': 'window:reload'
  'alt-meta-i': 'window:toggle-dev-tools'
  'meta-alt-ctrl-p': 'window:run-package-specs'

  # Sublime Parity
  'meta-N': 'application:new-window'
  'meta-W': 'window:close'
  'meta-o': 'application:open'
  'meta-T': 'pane:reopen-closed-item'
  'meta-n': 'application:new-file'
  'meta-s': 'core:save'
  'meta-S': 'core:save-as'
  'meta-alt-s': 'window:save-all'
  'meta-w': 'core:close'
  'meta-ctrl-f': 'window:toggle-full-screen'
  'meta-z': 'core:undo'
  'meta-Z': 'corey:redo'
  'meta-y': 'corey:redo'
  'meta-x': 'core:cut'
  'meta-c': 'core:copy'
  'meta-v': 'core:paste'
  'shift-up': 'core:select-up'
  'shift-down': 'core:select-down'
  'shift-left': 'core:select-left'
  'shift-right': 'core:select-right'
  'delete': 'core:delete'
  'pageup': 'core:page-up'
  'pagedown': 'core:page-down'
  'backspace': 'core:backspace'
  'shift-backspace': 'core:backspace'
  'meta-up': 'core:move-to-top'
  'meta-down': 'core:move-to-bottom'
  'meta-shift-up': 'core:select-to-top'
  'meta-shift-down': 'core:select-to-bottom'
  'meta-{': 'pane:show-previous-item'
  'meta-}': 'pane:show-next-item'
  'meta-alt-left': 'pane:show-previous-item'
  'meta-alt-right': 'pane:show-next-item'

'.editor':
  # Apple Specific
  'alt-left': 'editor:move-to-previous-word-boundary'
  'alt-right': 'editor:move-to-next-word-boundary'
  'alt-shift-left': 'editor:select-to-previous-word-boundary'
  'alt-shift-right': 'editor:select-to-next-word-boundary'
  'meta-backspace': 'editor:backspace-to-beginning-of-line'
  'meta-delete': 'editor:backspace-to-beginning-of-line'
  'ctrl-A': 'editor:select-to-first-character-of-line'
  'ctrl-E': 'editor:select-to-end-of-line'
  'meta-left': 'editor:move-to-first-character-of-line'
  'meta-right': 'editor:move-to-end-of-line'
  'meta-shift-left': 'editor:select-to-first-character-of-line'
  'meta-shift-right': 'editor:select-to-end-of-line'
  'home': 'editor:move-to-first-character-of-line'
  'end': 'editor:move-to-end-of-line'
  'shift-home': 'editor:select-to-first-character-of-line'
  'shift-end': 'editor:select-to-end-of-line'
  'alt-backspace': 'editor:backspace-to-beginning-of-word'
  'alt-delete': 'editor:delete-to-end-of-word'

  # Atom Specific
  'alt-meta-z': 'editor:checkout-head-revision'
  'meta-<': 'editor:scroll-to-cursor'
  'ctrl-C': 'editor:copy-path'
  'alt-meta-ctrl-f': 'editor:fold-selection'
  'meta-=': 'editor:auto-indent'
  'ctrl-W': 'editor:select-word'

  # Sublime Parity
  'tab': 'editor:indent'
  'enter': 'editor:newline'
  'meta-enter': 'editor:newline-below'
  'meta-shift-enter': 'editor:newline-above'
  'meta-a': 'core:select-all'
  'meta-]': 'editor:indent-selected-rows'
  'meta-[': 'editor:outdent-selected-rows'
  'shift-tab': 'editor:outdent-selected-rows'
  'ctrl-meta-up': 'editor:move-line-up'
  'ctrl-meta-down': 'editor:move-line-down'
  'meta-/': 'editor:toggle-line-comments'
  'meta-j': 'editor:join-line'
  'meta-D': 'editor:duplicate-line'
  'meta-alt-p': 'editor:log-cursor-scope'
  'ctrl-t': 'editor:transpose'
  'meta-,': 'application:show-settings'
  'meta-k meta-u': 'editor:upper-case'
  'meta-k meta-l': 'editor:lower-case'
  'meta-=': 'window:increase-font-size'
  'meta-+': 'window:increase-font-size'
  'meta--': 'window:decrease-font-size'
  'ctrl-K': 'editor:delete-line'
  'ctrl-shift-up': 'editor:add-selection-above'
  'ctrl-shift-down': 'editor:add-selection-below'

  'meta-alt-[': 'editor:fold-current-row'
  'meta-alt-]': 'editor:unfold-current-row'
  'meta-alt-{': 'editor:fold-all' # Atom Specific
  'meta-alt-}': 'editor:unfold-all' # Atom Specific
  'meta-k meta-0': 'editor:unfold-all'
  'meta-k meta-1': 'editor:fold-at-indent-level-1'
  'meta-k meta-2': 'editor:fold-at-indent-level-2'
  'meta-k meta-3': 'editor:fold-at-indent-level-3'
  'meta-k meta-4': 'editor:fold-at-indent-level-4'
  'meta-k meta-5': 'editor:fold-at-indent-level-5'
  'meta-k meta-6': 'editor:fold-at-indent-level-6'
  'meta-k meta-7': 'editor:fold-at-indent-level-7'
  'meta-k meta-8': 'editor:fold-at-indent-level-8'
  'meta-k meta-9': 'editor:fold-at-indent-level-9'

  'meta-k up': 'pane:split-up' # Atom Specific
  'meta-k down': 'pane:split-down' # Atom Specific
  'meta-k left': 'pane:split-left' # Atom Specific
  'meta-k right': 'pane:split-right' # Atom Specific
  'meta-k meta-w': 'pane:close' # Atom Specific
  'meta-k alt-meta-w': 'pane:close-other-items' # Atom Specific
  'meta-k meta-left': 'window:focus-previous-pane'
  'meta-k meta-right': 'window:focus-next-pane'
  'meta-1': 'pane:show-item-1'
  'meta-2': 'pane:show-item-2'
  'meta-3': 'pane:show-item-3'
  'meta-4': 'pane:show-item-4'
  'meta-5': 'pane:show-item-5'
  'meta-6': 'pane:show-item-6'
  'meta-7': 'pane:show-item-7'
  'meta-8': 'pane:show-item-8'
  'meta-9': 'pane:show-item-9'

'.tool-panel':
  'meta-escape': 'tool-panel:unfocus'
  'escape': 'core:close'

'.mini.editor':
  'enter': 'core:confirm'
  'escape': 'core:cancel'
  'meta-w': 'core:cancel'

'.editor !important, .editor.mini !important':
  'escape': 'editor:consolidate-selections'

# allow standard input fields to work correctly
'input:not(.hidden-input)':
  'tab': 'core:focus-next'
  'shift-tab': 'core:focus-previous'
  'left': 'native!'
  'right': 'native!'
  'shift-left': 'native!'
  'shift-right': 'native!'
  'backspace': 'native!'
  'shift-backspace': 'native!'
  'delete': 'native!'
  'meta-z': 'native!'
  'meta-Z': 'native!'
  'meta-x': 'native!'
  'meta-c': 'native!'
  'meta-v': 'native!'

"""
# Not implemented
'body':
  # Core
  'meta-alt-up': 'switch_file', 'args': {'extensions': ['cpp', 'cxx', 'cc', 'c', 'hpp', 'hxx', 'h', 'ipp', 'inl', 'm', 'mm']}
  'meta-ctrl-shift-f': 'toggle_d  istraction_free'
  'meta-u': 'soft_undo' # Treats selections changes as an undo state
  'meta-shift-u': 'soft_redo' # Treats selections changes as an undo state
  'meta-shift-v': 'paste_and_indent'
  'meta-k meta-v': 'paste_from_history'
  'meta-option-v': 'paste_from_history'
  'meta-ctrl-p': 'prompt_select_workspace'
  'meta-k meta-shift-left': 'move_to_neighboring_group', 'args': {'forward': false}
  'meta-k meta-shift-right': 'move_to_neighboring_group'
  'ctrl-1': 'focus_group', 'args': { 'group': 0 }
  'ctrl-2': 'focus_group', 'args': { 'group': 1 }
  'ctrl-3': 'focus_group', 'args': { 'group': 2 }
  'ctrl-4': 'focus_group', 'args': { 'group': 3 }
  'ctrl-5': 'focus_group', 'args': { 'group': 4 }
  'ctrl-6': 'focus_group', 'args': { 'group': 5 }
  'ctrl-7': 'focus_group', 'args': { 'group': 6 }
  'ctrl-8': 'focus_group', 'args': { 'group': 7 }
  'ctrl-9': 'focus_group', 'args': { 'group': 8 }
  'ctrl-shift-1': 'move_to_group', 'args': { 'group': 0 }
  'ctrl-shift-2': 'move_to_group', 'args': { 'group': 1 }
  'ctrl-shift-3': 'move_to_group', 'args': { 'group': 2 }
  'ctrl-shift-4': 'move_to_group', 'args': { 'group': 3 }
  'ctrl-shift-5': 'move_to_group', 'args': { 'group': 4 }
  'ctrl-shift-6': 'move_to_group', 'args': { 'group': 5 }
  'ctrl-shift-7': 'move_to_group', 'args': { 'group': 6 }
  'ctrl-shift-8': 'move_to_group', 'args': { 'group': 7 }
  'ctrl-shift-9': 'move_to_group', 'args': { 'group': 8 }
  'ctrl-0': 'focus_side_bar'
  'alt-f2': 'context_menu'
  'meta-k meta-y': 'yank'
  'meta-k meta-k': 'run_macro_file', 'args': {'file': 'res://Packages/Default/Delete to Hard EOL.sublime-macro'}
  'meta-k meta-backspace': 'run_macro_file', 'args': {'file': 'res://Packages/Default/Delete to Hard BOL.sublime-macro'}
  'meta-k meta-c': 'show_at_center'
  'ctrl-shift-w': 'insert_snippet', 'args': { 'name': 'Packages/XML/long-tag.sublime-snippet' }

  # Tree View
  'meta-k meta-b': 'toggle_side_bar'

  # Fuzzy Finder
  'meta-t': 'show_overlay', 'args': {'overlay': 'goto', 'show_files': true}
  'meta-p': 'show_overlay', 'args': {'overlay': 'goto', 'show_files': true}

  # Command Palette
  'meta-shift-p': 'show_overlay', 'args': {'overlay': 'command_palette'}

  # Symbol View
  'meta-r': 'show_overlay', 'args': {'overlay': 'goto', 'text': '@'}
  'f12': 'goto_definition'
  'meta-alt-down': 'goto_definition'
  'meta-shift-r': 'goto_symbol_in_project'
  'ctrl-minus': 'jump_back'
  'ctrl-shift-minus': 'jump_forward'

  # Go to line
  'ctrl-g': 'show_overlay', 'args': {'overlay': 'goto', 'text': ':'}

  # Bookmarks
  'f2': 'next_bookmark'
  'shift-f2': 'prev_bookmark'
  'meta-f2': 'toggle_bookmark'
  'meta-shift-f2': 'clear_bookmarks'
  'alt-f2': 'select_all_bookmarks'
  'meta-k meta-space': 'set_mark'
  'meta-k meta-a': 'select_to_mark'
  'meta-k meta-w': 'delete_to_mark'
  'meta-k meta-x': 'swap_with_mark'
  'meta-k meta-g': 'clear_bookmarks', 'args': {'name': 'mark'}

'.editor':
  # Core
  'ctrl-alt-up': 'scroll_lines', 'args': {'amount': 1.0}
  'ctrl-alt-down': 'scroll_lines', 'args': {'amount': -1.0}
  'ctrl-tab': 'next_view_in_stack'
  'ctrl-shift-tab': 'prev_view_in_stack'
  'meta-shift-l': 'split_selection_into_lines'
  'shift-tab': 'insert', 'args': {'characters': '\t'}
  'meta-l': 'expand_selection', 'args': {'to': 'line'}
  'meta-alt-.': 'close_tag'
  '/': 'close_tag', 'args': { 'insert_slash': true 'context': [ { 'key': 'selector', 'operator': 'equal', 'operand': '(text.html, text.xml) - string - comment', 'match_all': true { 'key': 'preceding_text', 'operator': 'regex_match', 'operand': '.*<$', 'match_all': true { 'key': 'setting.auto_close_tags' } ] } ]
  'ctrl-q': 'toggle_record_macro'
  'ctrl-shift-q': 'run_macro'
  'meta-shift-space': 'expand_selection', 'args': {'to': 'scope'}
  'ctrl-shift-m': 'expand_selection', 'args': {'to': 'brackets'}
  'meta-shift-j': 'expand_selection', 'args': {'to': 'indentation'}
  'meta-shift-a': 'expand_selection', 'args': {'to': 'tag'}
  'meta-alt-forward_slash': 'toggle_comment', 'args': { 'block': true }
  'meta-alt-o': 'toggle_overwrite'
  'f5': 'sort_lines', 'args': {'case_sensitive': false}
  'ctrl-f5': 'sort_lines', 'args': {'case_sensitive': true}
  'meta-k meta-t': 'fold_tag_attributes'

  # Find and replace
  'meta-d': 'find_under_word'
  'meta-k meta-d': 'find_under_expand_skip'
  'meta-i': 'show_panel', 'args': {'panel': 'incremental_find', 'reverse': false}
  'meta-shift-i': 'show_panel', 'args': {'panel': 'incremental_find', 'reverse': true}
  'meta-f': 'show_panel', 'args': {'panel': 'find', 'reverse': false}
  'meta-alt-f': 'show_panel', 'args': {'panel': 'replace', 'reverse': false}
  'meta-alt-e': 'replace_next'
  'meta-g': 'find_next'
  'meta-shift-g': 'find_prev'
  'meta-e': 'slurp_find_string'
  'meta-shift-e': 'slurp_replace_string'
  'alt-meta-g': 'find_under'
  'shift-alt-meta-g': 'find_under_prev'
  'ctrl-meta-g': 'find_all_under'
  'meta-shift-f': 'show_panel', 'args': {'panel': 'find_in_files'}
  'f4': 'next_result'
  'shift-f4': 'prev_result'
  'meta-alt-c': 'toggle_case_sensitive', 'context': [ { 'key': 'setting.is_widget', 'operator': 'equal', 'operand': true } ] },
  'meta-alt-r': 'toggle_regex', 'context': [ { 'key': 'setting.is_widget', 'operator': 'equal', 'operand': true } ] },
  'meta-alt-w': 'toggle_whole_word', 'context': [ { 'key': 'setting.is_widget', 'operator': 'equal', 'operand': true } ] },
  'meta-alt-a': 'toggle_preserve_case', 'context': [ { 'key': 'setting.is_widget', 'operator': 'equal', 'operand': true } ] },
  'enter': 'find_next', 'context': [{'key': 'panel', 'operand': 'find'}, {'key': 'panel_has_focus'}] },
  'shift-enter': 'find_prev', 'context': [{'key': 'panel', 'operand': 'find'}, {'key': 'panel_has_focus'}] },
  'alt-enter': 'find_all', 'args': {'close_panel': true}, 'context': [{'key': 'panel', 'operand': 'find'}, {'key': 'panel_has_focus'}] },
  'ctrl-alt-enter': 'replace_all', 'args': {'close_panel': true}, 'context': [{'key': 'panel', 'operand': 'replace'}, {'key': 'panel_has_focus'}] },

  # Spell Check
  'f6': 'toggle_setting', 'args': {'setting': 'spell_check'}
  'ctrl-f6': 'next_misspelling'
  'ctrl-shift-f6': 'prev_misspelling'

  # Bracket matcher
  'ctrl-m': 'move_to', 'args': {'to': 'brackets'}

  # Reflow
  'meta-alt-q': 'wrap_lines'
"""
