'body':
  # Platform Bindings
  'ctrl-pageup': 'pane:show-previous-item'
  'ctrl-pagedown': 'pane:show-next-item'

  # Atom Specific
  'enter': 'core:confirm'
  'escape': 'core:cancel'
  'up': 'core:move-up'
  'down': 'core:move-down'
  'ctrl-up': 'core:move-up'
  'ctrl-down': 'core:move-down'
  'left': 'core:move-left'
  'right': 'core:move-right'
  'ctrl-shift-f5': 'window:reload'
  'ctrl-shift-i': 'window:toggle-dev-tools'
  'ctrl-shift-y': 'window:run-package-specs'
  'ctrl-shift-o': 'application:open-folder'
  'ctrl-shift-a': 'application:add-project-folder'
  'ctrl-shift-left': 'pane:move-item-left'
  'ctrl-shift-right': 'pane:move-item-right'
  'f11': 'window:toggle-full-screen'
  'alt-shift-left': 'editor:move-selection-left'
  'alt-shift-right': 'editor:move-selection-right'

  # Sublime Parity
  'ctrl-,': 'application:show-settings'
  'ctrl-shift-n': 'application:new-window'
  'ctrl-shift-w': 'window:close'
  'ctrl-o': 'application:open-file'
  'ctrl-shift-t': 'pane:reopen-closed-item'
  'ctrl-n': 'application:new-file'
  'ctrl-s': 'core:save'
  'ctrl-shift-s': 'core:save-as'
  'ctrl-f4': 'core:close'
  'ctrl-w': 'core:close'
  'ctrl-z': 'core:undo'
  'ctrl-shift-z': 'core:redo'
  'ctrl-y': 'core:redo'
  'shift-delete': 'core:cut'
  'ctrl-insert': 'core:copy'
  'shift-insert': 'core:paste'
  'ctrl-x': 'core:cut'
  'ctrl-c': 'core:copy'
  'ctrl-v': 'core:paste'
  'shift-up': 'core:select-up'
  'shift-down': 'core:select-down'
  'shift-left': 'core:select-left'
  'shift-right': 'core:select-right'
  'shift-pageup': 'core:select-page-up'
  'shift-pagedown': 'core:select-page-down'
  'delete': 'core:delete'
  'pageup': 'core:page-up'
  'pagedown': 'core:page-down'
  'backspace': 'core:backspace'
  'shift-backspace': 'core:backspace'
  'ctrl-tab': 'pane:show-next-recently-used-item'
  'ctrl-tab ^ctrl': 'pane:move-active-item-to-top-of-stack'
  'ctrl-shift-tab': 'pane:show-previous-recently-used-item'
  'ctrl-shift-tab ^ctrl': 'pane:move-active-item-to-top-of-stack'
  'ctrl-pageup': 'pane:show-previous-item'
  'ctrl-pagedown': 'pane:show-next-item'
  'ctrl-shift-up': 'core:move-up'
  'ctrl-shift-down': 'core:move-down'
  'ctrl-alt-up': 'editor:add-selection-above'
  'ctrl-alt-down': 'editor:add-selection-below'
  'ctrl-=': 'window:increase-font-size'
  'ctrl-+': 'window:increase-font-size'
  'ctrl--': 'window:decrease-font-size'
  'ctrl-_': 'window:decrease-font-size'
  'ctrl-0': 'window:reset-font-size'

  'ctrl-k up': 'pane:split-up-and-copy-active-item' # Atom Specific
  'ctrl-k down': 'pane:split-down-and-copy-active-item' # Atom Specific
  'ctrl-k left': 'pane:split-left-and-copy-active-item' # Atom Specific
  'ctrl-k right': 'pane:split-right-and-copy-active-item' # Atom Specific
  'ctrl-k ctrl-w': 'pane:close' # Atom Specific
  'ctrl-k ctrl-alt-w': 'pane:close-other-items' # Atom Specific
  'ctrl-k ctrl-p': 'window:focus-previous-pane'
  'ctrl-k ctrl-n': 'window:focus-next-pane'
  'ctrl-k ctrl-up': 'window:focus-pane-above'
  'ctrl-k ctrl-down': 'window:focus-pane-below'
  'ctrl-k ctrl-left': 'window:focus-pane-on-left'
  'ctrl-k ctrl-right': 'window:focus-pane-on-right'
  'alt-1': 'pane:show-item-1'
  'alt-2': 'pane:show-item-2'
  'alt-3': 'pane:show-item-3'
  'alt-4': 'pane:show-item-4'
  'alt-5': 'pane:show-item-5'
  'alt-6': 'pane:show-item-6'
  'alt-7': 'pane:show-item-7'
  'alt-8': 'pane:show-item-8'
  'alt-9': 'pane:show-item-9'

'atom-text-editor':
  # Platform Bindings
  'ctrl-left': 'editor:move-to-beginning-of-word'
  'ctrl-right': 'editor:move-to-end-of-word'
  'ctrl-shift-left': 'editor:select-to-beginning-of-word'
  'ctrl-shift-right': 'editor:select-to-end-of-word'
  'ctrl-backspace': 'editor:delete-to-beginning-of-word'
  'ctrl-delete': 'editor:delete-to-end-of-word'
  'ctrl-home': 'core:move-to-top'
  'ctrl-end': 'core:move-to-bottom'
  'ctrl-shift-home': 'core:select-to-top'
  'ctrl-shift-end': 'core:select-to-bottom'
  'alt-left': 'editor:move-to-previous-subword-boundary'
  'alt-right': 'editor:move-to-next-subword-boundary'
  'alt-shift-left': 'editor:select-to-previous-subword-boundary'
  'alt-shift-right': 'editor:select-to-next-subword-boundary'
  'alt-backspace': 'editor:delete-to-beginning-of-subword'
  'alt-delete': 'editor:delete-to-end-of-subword'
  'ctrl-shift-V': 'editor:paste-without-reformatting'

  # Sublime Parity
  'ctrl-a': 'core:select-all'
  'ctrl-k ctrl-u': 'editor:upper-case'
  'ctrl-k ctrl-l': 'editor:lower-case'
  'ctrl-l': 'editor:select-line'

'atom-workspace atom-text-editor:not([mini])':
  # Atom specific
  'ctrl-<': 'editor:scroll-to-cursor'
  'ctrl-alt-shift-[': 'editor:fold-selection'

  # Sublime Parity
  'ctrl-enter': 'editor:newline-below'
  'ctrl-shift-enter': 'editor:newline-above'
  'ctrl-]': 'editor:indent-selected-rows'
  'ctrl-[': 'editor:outdent-selected-rows'
  'ctrl-up': 'editor:move-line-up'
  'ctrl-down': 'editor:move-line-down'
  'ctrl-/': 'editor:toggle-line-comments'
  'ctrl-j': 'editor:join-lines'
  'ctrl-shift-d': 'editor:duplicate-lines'

  'ctrl-alt-[': 'editor:fold-current-row'
  'ctrl-alt-]': 'editor:unfold-current-row'
  'ctrl-alt-{': 'editor:fold-all' # Atom Specific
  'ctrl-alt-}': 'editor:unfold-all' # Atom Specific
  'ctrl-k ctrl-0': 'editor:unfold-all'
  'ctrl-k ctrl-1': 'editor:fold-at-indent-level-1'
  'ctrl-k ctrl-2': 'editor:fold-at-indent-level-2'
  'ctrl-k ctrl-3': 'editor:fold-at-indent-level-3'
  'ctrl-k ctrl-4': 'editor:fold-at-indent-level-4'
  'ctrl-k ctrl-5': 'editor:fold-at-indent-level-5'
  'ctrl-k ctrl-6': 'editor:fold-at-indent-level-6'
  'ctrl-k ctrl-7': 'editor:fold-at-indent-level-7'
  'ctrl-k ctrl-8': 'editor:fold-at-indent-level-8'
  'ctrl-k ctrl-9': 'editor:fold-at-indent-level-9'

'atom-workspace atom-pane':
  'ctrl-alt-=': 'pane:increase-size'
  'ctrl-alt--': 'pane:decrease-size'

# Allow standard input fields to work correctly
'body .native-key-bindings':
  'ctrl-z': 'native!'
  'ctrl-shift-z': 'native!'
  'ctrl-x': 'native!'
  'ctrl-c': 'native!'
  'ctrl-v': 'native!'
