<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>#!/usr/bin/env ruby -wKU
require "#{ENV['TM_SUPPORT_PATH']}/lib/escape"
require "shellwords"
require "cgi"

def tag_for_file(file, tab_stop = 0)
    file_path = File.expand_path file

	tag = "&lt;img src=\"#{e_sn(CGI::escapeHTML file)}\""

	dim = %x{ sips -g pixelWidth -g pixelHeight #{e_sh file_path} }
	tag &lt;&lt; " width=\"#$1\""  if dim =~ /pixelWidth: (\d+)/
	tag &lt;&lt; " height=\"#$1\"" if dim =~ /pixelHeight: (\d+)/

    alt = File.basename(file, File.extname(file))
    alt = alt.gsub(/[_-]+/, ' ').strip.gsub(/\b[a-z]/) { $&amp;.upcase }
	tag &lt;&lt; " alt=\"\${#{tab_stop+1}:#{e_snp(CGI::escapeHTML alt)}}\""

	tag &lt;&lt; "#{ENV['TM_XHTML']}&gt;"
end

if ENV.has_key? 'TM_DROPPED_FILES'
	files = Shellwords.shellwords(ENV['TM_DROPPED_FILES'])
	files.each_with_index do |file, tab_stop|
		STDOUT &lt;&lt; tag_for_file(file, tab_stop) &lt;&lt; "\n"
	end
else
	STDOUT &lt;&lt; tag_for_file(ENV['TM_DROPPED_FILE'])
end
</string>
	<key>draggedFileExtensions</key>
	<array>
		<string>png</string>
		<string>jpeg</string>
		<string>jpg</string>
		<string>gif</string>
	</array>
	<key>name</key>
	<string>Insert Image With Dimensions</string>
	<key>output</key>
	<string>insertAsSnippet</string>
	<key>scope</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>CD6D2CC6-6B33-11D9-BDFD-000D93589AF6</string>
</dict>
</plist>
