<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>#!/usr/bin/env ruby${TM_RUBY_SWITCHES: -wKU}
</string>
	<key>name</key>
	<string>#!/usr/bin/env ruby -wKU</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>rb</string>
	<key>uuid</key>
	<string>A05CBDD6-845D-45EB-94FB-F8787F5456BE</string>
</dict>
</plist>
