<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>if ${1:condition}
	$0
end</string>
	<key>name</key>
	<string>if … end</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>if</string>
	<key>uuid</key>
	<string>6670835F-62C3-11D9-B8CF-000D93589AF6</string>
</dict>
</plist>
