<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>if __FILE__ == \$PROGRAM_NAME
	$0
end</string>
	<key>name</key>
	<string>application { .. }</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>app</string>
	<key>uuid</key>
	<string>E16D24D2-CC7E-4786-BE0B-1725FC865D78</string>
</dict>
</plist>
