<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>assert_same`snippet_paren.rb`${1:expected}, ${0:actual}`snippet_paren.rb end`</string>
	<key>name</key>
	<string>assert_same(..)</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>ass</string>
	<key>uuid</key>
	<string>29340695-E426-4F77-8CF7-C59360A549F4</string>
</dict>
</plist>
