<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>assert_throws(:${1:expected}) { $0 }</string>
	<key>name</key>
	<string>assert_throws(..) { .. }</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>ast</string>
	<key>uuid</key>
	<string>05655BD8-23C6-445F-BFD1-420BF25C3030</string>
</dict>
</plist>
