<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>assert_respond_to`snippet_paren.rb`${1:object}, :${0:method}`snippet_paren.rb end`</string>
	<key>name</key>
	<string>assert_respond_to(..)</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>asrt</string>
	<key>uuid</key>
	<string>09A11FDA-49FC-4466-8787-8D1D5D111A89</string>
</dict>
</plist>
