<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>attr_accessor :${0:attr_names}</string>
	<key>name</key>
	<string>attr_accessor ..</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>rw</string>
	<key>uuid</key>
	<string>D7A7D3C9-1714-4C50-8CC0-D83A03883E8F</string>
</dict>
</plist>
