<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>attr_writer :${0:attr_names}</string>
	<key>name</key>
	<string>attr_writer ..</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>w</string>
	<key>uuid</key>
	<string>3D383096-A03F-4EF8-9060-3C727045AB34</string>
</dict>
</plist>
