<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>attr_reader :${0:attr_names}</string>
	<key>name</key>
	<string>attr_reader ..</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>r</string>
	<key>uuid</key>
	<string>A150C2D8-25B3-4339-BC92-8A0160A70486</string>
</dict>
</plist>
