<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>classify { |${1:e}| $0 }</string>
	<key>name</key>
	<string>classify { |e| .. }</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>cl</string>
	<key>uuid</key>
	<string>5DA9E1E8-2C54-420A-9B84-B040A1AF2B9E</string>
</dict>
</plist>
