<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>class ${1:BlankSlate}
	instance_methods.each { |meth| undef_method(meth) unless meth =~ /\A__/ }
	
	def initialize${2/(^.*?\S.*)|.*/(?1:\()/}${2:args}${2/(^.*?\S.*)|.*/(?1:\))/}
		@${3:delegate} = ${4:delegate_object}
		
		$0
	end
	
	def method_missing(meth, *args, &amp;block)
		@${3:delegate}.send(meth, *args, &amp;block)
	end
	
	
end</string>
	<key>name</key>
	<string>class BlankSlate .. initialize .. end</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>cla</string>
	<key>uuid</key>
	<string>E98FB8F9-7302-431D-8BF2-275A68A6126C</string>
</dict>
</plist>
