<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>collect { |${1:e}| $0 }</string>
	<key>name</key>
	<string>collect { |e| .. }</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>col</string>
	<key>uuid</key>
	<string>669A86AD-936F-4EDA-8E4E-6863804072DA</string>
</dict>
</plist>
