<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>def ${1:method_name}
	$0
end</string>
	<key>name</key>
	<string>def … end</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>def</string>
	<key>uuid</key>
	<string>4E9A7A73-875C-11D9-897C-000393CBCE2E</string>
</dict>
</plist>
