<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>inject(Array.new) { |${1:arr}, ${2:a}| ${1:arr}.push(*${2:a}) }</string>
	<key>name</key>
	<string>flatten_once()</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>flao</string>
	<key>uuid</key>
	<string>3DDB99C4-486D-4C11-A217-5680FDD8EC19</string>
</dict>
</plist>
