<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>flunk`snippet_paren.rb`"${1:Failure message.}"`snippet_paren.rb end`$0</string>
	<key>name</key>
	<string>flunk(..)</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>flu</string>
	<key>uuid</key>
	<string>DB457094-1AC9-4856-AEFC-43A9576B6775</string>
</dict>
</plist>
