<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string> =&gt; </string>
	<key>keyEquivalent</key>
	<string>^l</string>
	<key>name</key>
	<string>Hash Pointer — =&gt;</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>uuid</key>
	<string>B9E3A6DF-875D-11D9-897C-000393CBCE2E</string>
</dict>
</plist>
