<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>map { |${1:e}| $0 }</string>
	<key>name</key>
	<string>map { |e| .. }</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>map</string>
	<key>uuid</key>
	<string>5A3754FC-43A3-462B-AB42-E3E951872E6F</string>
</dict>
</plist>
