<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>max { |a, b| $0 }</string>
	<key>name</key>
	<string>max { |a, b| .. }</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>max</string>
	<key>uuid</key>
	<string>98182B9E-7C61-4824-BE4C-9CD69C816037</string>
</dict>
</plist>
