<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{ ${1/(^(?&lt;var&gt;\s*[a-z_][a-zA-Z0-9_]*\s*)(,\g&lt;var&gt;)*,?\s*$)|.*/(?1:|)/}${1:variable}${1/(^(?&lt;var&gt;\s*[a-z_][a-zA-Z0-9_]*\s*)(,\g&lt;var&gt;)*,?\s*$)|.*/(?1:| )/}${2:$TM_SELECTED_TEXT} </string>
	<key>name</key>
	<string>Insert { |variable| … }</string>
	<key>scope</key>
	<string>source.ruby - string - comment</string>
	<key>tabTrigger</key>
	<string>{</string>
	<key>uuid</key>
	<string>855FC4EF-7B1E-48EE-AD4E-5ECB8ED79D1C</string>
</dict>
</plist>
