<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>partition { |${1:e}| $0 }</string>
	<key>name</key>
	<string>partition { |e| .. }</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>par</string>
	<key>uuid</key>
	<string>52B8BF63-F09E-4789-8407-06168A8AE666</string>
</dict>
</plist>
