<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>require "$0"</string>
	<key>name</key>
	<string>require ".."</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>req</string>
	<key>uuid</key>
	<string>97DE939B-D243-4D5C-B953-1C9090912E7C</string>
</dict>
</plist>
