<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>sort { |a, b| $0 }</string>
	<key>name</key>
	<string>sort { |a, b| .. }</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>sor</string>
	<key>uuid</key>
	<string>9E0B4D4B-2956-4B3A-800A-3D8CE54E66BF</string>
</dict>
</plist>
