<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>when ${1:condition}
	$0</string>
	<key>name</key>
	<string>when …</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>when</string>
	<key>uuid</key>
	<string>48D8E498-C9A5-4B1B-9A18-71A5860276FB</string>
</dict>
</plist>
