<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${TM_SELECTED_TEXT/([\t ]*).*/$1/m}begin
	${3:${TM_SELECTED_TEXT/(\A.*)|(.+)|\n\z/(?1:$0:(?2:\t$0))/g}}
${TM_SELECTED_TEXT/([\t ]*).*/$1/m}rescue ${1:Exception}${2/.+/ =&gt; /}${2:e}
${TM_SELECTED_TEXT/([\t ]*).*/$1/m}	$0
${TM_SELECTED_TEXT/([\t ]*).*/$1/m}end
</string>
	<key>keyEquivalent</key>
	<string>^W</string>
	<key>name</key>
	<string>begin … rescue … end</string>
	<key>scope</key>
	<string>source.ruby - comment</string>
	<key>tabTrigger</key>
	<string>begin</string>
	<key>uuid</key>
	<string>0F940CBC-2173-49FF-B6FD-98A62863F8F2</string>
</dict>
</plist>
