.command-logger {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: auto;
  z-index: 99;
}

.command-logger-node-text div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.command-logger-node-text span {
  -webkit-user-select: none;
}
