.event-palette {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.select-list {
  background-color: black;
  position: relative;
  max-height: 300px;
  color: white;
  overflow-y: auto;
}

.select-list table {
  width: 100%;
}

.select-list .selected {
  background-color: green;
}
