<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>BuildMachineOSBuild</key>
  <string>11E2620</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>CocoaOniguruma</string>
  <key>CFBundleIdentifier</key>
  <string>net.limechat.CocoaOniguruma</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>CocoaOniguruma</string>
  <key>CFBundlePackageType</key>
  <string>FMWK</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>DTCompiler</key>
  <string></string>
  <key>DTPlatformBuild</key>
  <string>4E3002</string>
  <key>DTPlatformVersion</key>
  <string>GM</string>
  <key>DTSDKBuild</key>
  <string>11E2620</string>
  <key>DTSDKName</key>
  <string></string>
  <key>DTXcode</key>
  <string>0433</string>
  <key>DTXcodeBuild</key>
  <string>4E3002</string>
</dict>
</plist>
