# If you want some example snippets, check out:
#   - https://raw.githubusercontent.com/atom/language-coffee-script/master/snippets/language-coffee-script.cson

'.source.language':
  'If':
    'prefix': 'if'
    'body': 'if ${1:condition}\n  ${0:# body...}'
