# If you want some example snippets, check out:
# https://github.com/atom/language-gfm/blob/master/snippets/gfm.cson

'.source.__package-name__':
  'Method documentation':
    'prefix': 'doc'
    'body': '@@ ${1:method} - ${2:description}'
