# If you want some example snippets, check out:
#   - https://raw.githubusercontent.com/atom/language-coffee-script/master/snippets/language-coffee-script.cson

'.source.__package-name__':
  'Method documentation':
    'prefix': 'doc'
    'body': '@@ ${1:method} - ${2:description}'
