<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby
require ENV['TM_SUPPORT_PATH'] + '/lib/textmate'
puts `"${TM_RUBY:=ruby}" -e'puts "Using ruby-" + RUBY_VERSION.to_s'`
result = `"${TM_RUBY:=ruby}" -wc 2&gt;&amp;1`
puts result
TextMate.go_to :line =&gt; $1 if result =~ /-:(\d+):/
</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^V</string>
	<key>name</key>
	<string>Validate Syntax</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>uuid</key>
	<string>EE5F19BA-6C02-11D9-92BA-0011242E4184</string>
</dict>
</plist>
