<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>[ -f "$TM_NEW_FILE" ] ||  perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' &lt;index.html &gt;"$TM_NEW_FILE"</string>
	<key>extension</key>
	<string>html</string>
	<key>name</key>
	<string>XHTML — 1.0 Frameset</string>
	<key>scope</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>26068A55-4C84-409D-BA00-162B55AF6961</string>
</dict>
</plist>
