<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   __CF_USER_TEXT_ENCODING=$UID:0x8000100:0x8000100 \
   pbpaste &gt; "$TM_NEW_FILE" | tr '\r' '\n'
fi</string>
	<key>extension</key>
	<string>txt</string>
	<key>name</key>
	<string>From Clipboard</string>
	<key>uuid</key>
	<string>1D357AB2-687A-4C74-AADE-6AE6684E97DC</string>
</dict>
</plist>
