<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveRightAndModifySelection:</string>
		</dict>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>replaceAll</string>
				<key>findInProjectIgnoreCase</key>
				<false/>
				<key>findString</key>
				<string>((?m:.){2,})|\}|([^}])</string>
				<key>ignoreCase</key>
				<false/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>selection</string>
				<key>replaceString</key>
				<string>$1}$2</string>
				<key>wrapAround</key>
				<false/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveLeft:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>}</string>
	<key>name</key>
	<string>Overwrite '}' in #{ .. }</string>
	<key>scope</key>
	<string>source.ruby string.quoted source.ruby.embedded</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>E5158F94-CC52-4424-A495-14EF9272653F</string>
</dict>
</plist>
