@import "ui-variables";

//
// Git Status
// --------------------------------------------------

.status {
  &-ignored  { color: @text-color-subtle; }
  &-added    { color: @text-color-success; }
  &-modified { color: @text-color-warning; }
  &-removed  { color: @text-color-error; }
  &-renamed  { color: @text-color-info; }
}
