@import "ui-variables";

//
// Site colors
// --------------------------------------------------

.ui-site-1 { background-color: @ui-site-color-1; }
.ui-site-2 { background-color: @ui-site-color-2; }
.ui-site-3 { background-color: @ui-site-color-3; }
.ui-site-4 { background-color: @ui-site-color-4; }
.ui-site-5 { background-color: @ui-site-color-5; }
