.tabs {
  font: caption;
  display: -webkit-flex;
  -webkit-box-align: center;
}

.tab {
  -webkit-user-select: none;
  -webkit-user-drag: element;
  cursor: default;
  -webkit-flex: 1;
  width: 175px;
  max-width: 175px;
  min-width: 40px;
  box-sizing: border-box;
  text-shadow: -1px -1px 0 #000;
  font-size: 11px;
  padding: 5px 10px;
  position: relative;
}

.tab.active {
  -webkit-flex: 2;
}

.tab .title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px 10px 3px 0;
}

.tab .close-icon {
  font-family: 'Octicons Regular';
  font-size: 12px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  right: 8px;
  top: 5px;
  -webkit-font-smoothing: antialiased;
}

.tab .close-icon:before {
  content: "\f081";
}

.tab .close-icon:hover {
  color: #fff;
}

.tab.modified .close-icon {
  top: 11px;
  width: 5px;
  height: 5px;
  right: 9px;
  border: 2px solid #66a6ff;
  border-radius: 12px;
}

.tab.modified .close-icon:before {
  content: "";
}

.tab.modified:hover .close-icon {
  border: none;
  width: 12px;
  height: 12px;
  right: 8px;
  top: 5px;
}

.tab.modified:hover .close-icon:before {
  content: "\f081";
  color: #66a6ff;
}

/* Drag and Drop */
.tab.is-dragging {

}

.tab.is-drop-target:before, .tab.drop-target-is-after:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 999;
  display: inline-block;
  width: 2px;
  height: 30px;
  display: inline-block;
  background: #0098ff;
}

.tab.is-drop-target:after, .tab.drop-target-is-after:before {
  content: "";
  position: absolute;
  top: 30px;
  z-index: 9999;
  width: 4px;
  height: 4px;
  background: #0098ff;
  border-radius: 4px;
  border: 1px solid transparent;
}

.tab.is-drop-target:before {
  left: -2px;
}

.tab.is-drop-target:after {
  left: -4px;
}

.tab.drop-target-is-after:before {
  right: -4px;
}

.tab.drop-target-is-after:after {
  right: -2px;
}
