.tabs {
  -webkit-user-select: none;
  display: -webkit-box;
  -webkit-box-align: center;
}

.tab {
  -webkit-box-flex: 2;
  position: relative;
  width: 175px;
  max-width: 175px;
  min-width: 40px;
  box-sizing: border-box;
}

.tab.active {
  -webkit-box-flex: 1;
}

.tab.file-modified .close-icon {
  top: 6px;
  width: 5px;
  height: 5px;
  right: 5px;
}

.tab .file-name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px 5px;
}