.sign-in-view {
  width: 350px;
  margin-left: -175px;

  input, button, .alert {
    margin-bottom: 10px;
  }

  button {
    margin-right: 10px;
  }

  .alert:before {
    content: 'Sign in failed. ';
    font-weight: bold;
  }

  .password .line span {
    -webkit-text-security: disc;
  }
}
