<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>RUBYLIB="$TM_BUNDLE_SUPPORT/lib:$RUBYLIB"
"${TM_RUBY:=ruby}" -- "${TM_BUNDLE_SUPPORT}/bin/go_to_alternate_file.rb" view</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>~$@</string>
	<key>name</key>
	<string>Go to View</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>scope</key>
	<string>meta.rails.controller, meta.rails.mailer, source.js, source.css</string>
	<key>uuid</key>
	<string>EE862691-A624-4797-90CF-EDD39EFB2D8E</string>
</dict>
</plist>
