<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>RUBYLIB="$TM_BUNDLE_SUPPORT/lib:$RUBYLIB"
"${TM_RUBY:=ruby}" -- "${TM_BUNDLE_SUPPORT}/bin/go_to_alternate_file.rb" functional_test</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>~$@</string>
	<key>name</key>
	<string>Go to Functional Test</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>scope</key>
	<string>meta.rails.controller, meta.rails.helper, meta.rails.model, source.yaml, meta.rails.unit_test</string>
	<key>uuid</key>
	<string>DFE393BE-0764-49FE-B464-6350A50921E6</string>
</dict>
</plist>
