<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>RUBYLIB="$TM_BUNDLE_SUPPORT/lib:$RUBYLIB"
"${TM_RUBY:=ruby}" -- "${TM_BUNDLE_SUPPORT}/bin/go_to_file_on_current_line.rb"</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>~@</string>
	<key>name</key>
	<string>File on Current Line</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>scope</key>
	<string>source.ruby.rails, text.html.ruby, source.ruby.rails.embedded.html, text.haml</string>
	<key>uuid</key>
	<string>09BB96F2-75FD-48A7-8314-B5B56B09B477</string>
</dict>
</plist>
