<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>RUBYLIB="$TM_BUNDLE_SUPPORT/lib:$RUBYLIB"
"${TM_RUBY:=ruby}" -- "${TM_BUNDLE_SUPPORT}/bin/rake_helper.rb" db:migrate
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^|</string>
	<key>name</key>
	<string>Migrate to Current</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.ruby.rails, source.yaml</string>
	<key>uuid</key>
	<string>985F56D4-82ED-4C45-8250-2ECCFC71957E</string>
</dict>
</plist>
