.gist-notification {
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -5%;
  z-index: 99;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 5px 5px #222;
  color: #FFF;
  background-color: #444;
}
