<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>selectHardLine:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>deleteBackward:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>^K</string>
	<key>name</key>
	<string>Delete Line</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>FB8960DB-AA2E-11D9-8E27-000D93589AF6</string>
</dict>
</plist>
