<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveToEndOfParagraph:</string>
		</dict>
		<dict>
			<key>argument</key>
			<string>.</string>
			<key>command</key>
			<string>insertText:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>$@</string>
	<key>name</key>
	<string>Move to EOL and Insert "." + LF</string>
	<key>scope</key>
	<string>text</string>
	<key>uuid</key>
	<string>E86C9A77-5B48-43C6-A712-A61B616269E6</string>
</dict>
</plist>
