<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>findNext</string>
				<key>findInProjectIgnoreCase</key>
				<false/>
				<key>findInProjectRegularExpression</key>
				<false/>
				<key>findString</key>
				<string>$\n\s*</string>
				<key>ignoreCase</key>
				<false/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>document</string>
				<key>replaceString</key>
				<string>key</string>
				<key>wrapAround</key>
				<false/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>deleteForward:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>^J</string>
	<key>name</key>
	<string>Join Line With Next</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>3D7504EE-B927-4D3D-A3CC-BFB189027EE7</string>
</dict>
</plist>
