# If you want some examples of scoped properties, check out:
#   - https://raw.githubusercontent.com/atom/language-coffee-script/master/scoped-properties/language-coffee-script.cson

'.source.language':
  'editor':
    'commentStart': '@@ '
