<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Typing Pairs: Empty Tag</string>
	<key>scope</key>
	<string>text.html invalid.illegal.incomplete</string>
	<key>settings</key>
	<dict>
		<key>smartTypingPairs</key>
		<array>
			<array>
				<string>?</string>
				<string>?</string>
			</array>
			<array>
				<string>%</string>
				<string>%</string>
			</array>
		</array>
	</dict>
	<key>uuid</key>
	<string>6D6B631D-0D6C-413C-B4FA-1D535CBCE890</string>
</dict>
</plist>
