<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Miscellaneous</string>
	<key>scope</key>
	<string>text.html</string>
	<key>settings</key>
	<dict>
		<key>decreaseIndentPattern</key>
		<string>(?x)
		^\s*
		(&lt;/(?!html)
		  [A-Za-z0-9]+\b[^&gt;]*&gt;
		|--&gt;
		|&lt;\?(php)?\s+(else(if)?|end(if|for(each)?|while))
		|\}
		)</string>
		<key>highlightPairs</key>
		<array>
			<array>
				<string>(</string>
				<string>)</string>
			</array>
			<array>
				<string>{</string>
				<string>}</string>
			</array>
			<array>
				<string>[</string>
				<string>]</string>
			</array>
			<array>
				<string>“</string>
				<string>”</string>
			</array>
			<array>
				<string>&lt;</string>
				<string>&gt;</string>
			</array>
		</array>
		<key>increaseIndentPattern</key>
		<string>(?x)
		&lt;(?!\?|area|base|br|col|frame|hr|html|img|input|link|meta|param|[^&gt;]*/&gt;)
		  ([A-Za-z0-9]+)(?=\s|&gt;)\b[^&gt;]*&gt;(?!.*&lt;/\1&gt;)
		|&lt;!--(?!.*--&gt;)
		|&lt;\?php.+?\b(if|else(?:if)?|for(?:each)?|while)\b.*:(?!.*end\1)
		|\{[^}"']*$
		</string>
		<key>indentNextLinePattern</key>
		<string>&lt;!DOCTYPE(?!.*&gt;)</string>
		<key>shellVariables</key>
		<array>
			<dict>
				<key>name</key>
				<string>TM_HTML_EMPTY_TAGS</string>
				<key>value</key>
				<string>area|base|basefont|br|col|frame|hr|img|input|isindex|link|meta|param</string>
			</dict>
		</array>
		<key>smartTypingPairs</key>
		<array>
			<array>
				<string>"</string>
				<string>"</string>
			</array>
			<array>
				<string>(</string>
				<string>)</string>
			</array>
			<array>
				<string>{</string>
				<string>}</string>
			</array>
			<array>
				<string>[</string>
				<string>]</string>
			</array>
			<array>
				<string>“</string>
				<string>”</string>
			</array>
			<array>
				<string>&lt;</string>
				<string>&gt;</string>
			</array>
		</array>
	</dict>
	<key>uuid</key>
	<string>FC34BE82-69DC-47B0-997A-37A8763D4E69</string>
</dict>
</plist>
