<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Tag Preferences</string>
	<key>scope</key>
	<string>meta.tag</string>
	<key>settings</key>
	<dict>
		<key>smartTypingPairs</key>
		<array>
			<array>
				<string>"</string>
				<string>"</string>
			</array>
			<array>
				<string>(</string>
				<string>)</string>
			</array>
			<array>
				<string>{</string>
				<string>}</string>
			</array>
			<array>
				<string>[</string>
				<string>]</string>
			</array>
			<array>
				<string>“</string>
				<string>”</string>
			</array>
			<array>
				<string>&lt;</string>
				<string>&gt;</string>
			</array>
			<array>
				<string>'</string>
				<string>'</string>
			</array>
		</array>
		<key>spellChecking</key>
		<string>0</string>
	</dict>
	<key>uuid</key>
	<string>73251DBE-EBD2-470F-8148-E6F2EC1A9641</string>
</dict>
</plist>
