.editor, .editor .gutter {
  background-color: #1d1f21;
  color: #c5c8c6;
}

.editor .gutter .line-number.fold,
.editor .gutter .line-number:after,
.editor .fold-marker:after {
  color: #fba0e3;
}

.editor .invisible {
  color: #c5c8c6;
}

.editor .cursor {
  border-color: #FFFFFF;
}

.editor .selection .region {
  background-color: #333333;
}

.editor .line-number.cursor-line-no-selection, .editor .line.cursor-line {
  background-color: rgba(255, 255, 255, 0.14);
}

.bracket-matcher {
  border-bottom: 1px solid #f8de7e;
  margin-top: -1px;
  opacity: .7;
}

.comment {
  color: #7C7C7C;
}

.entity {
  color: #FFD2A7;
}

.keyword {
  color: #96CBFE;
}

.keyword.control {
  color: #96CBFE;
}

.keyword.operator {
  color: #EDEDED;
}

.entity.name.type {
  text-decoration: underline;
  color: #FFFFB6;
}

.support {
  color: #FFFFB6;
}

.storage {
  color: #CFCB90;
}

.storage.modifier {
  color: #96CBFE;
}

.constant {
  color: #99CC99;
}

.string {
  color: #A8FF60;
}

.constant.numeric {
  color: #FF73FD;
}

.punctuation {
}

.variable {
  color: #C6C5FE;
}

.invalid.deprecated {
  text-decoration: underline;
  color: #FD5FF1;
}

.invalid.illegal {
  color: #FD5FF1;
  background-color: rgba(86, 45, 86, 0.75);
}

.text .source {
  background-color: rgba(177, 179, 186, 0.03);
}

.entity.other.inherited-class {
  color: #9B5C2E;
}

.source .string .source {
  color: #EDEDED;
}

.source .string .source .punctuation.section.embedded {
  color: #00A0A0;
}

.string .constant {
  color: #00A0A0;
}

.string.regexp {
  color: #E9C062;
}

.string.regexp .constant.character.escape, .string.regexp .source.ruby.embedded, .string.regexp .string.regexp.arbitrary-repitition {
  color: #FF8000;
}

.string.regexp.group {
  color: #C6A24F;
  background-color: rgba(255, 255, 255, 0.06);
}

.string.regexp.character-class {
  color: #B18A3D;
}

.string .variable {
  color: #8A9A95;
}

.support.function {
  color: #DAD085;
}

.support.constant {
  color: #FFD2A7;
}

.meta.preprocessor.c {
  color: #8996A8;
}

.meta.preprocessor.c .keyword {
  color: #AFC4DB;
}

.meta.cast {
  color: #676767;
}

.meta.sgml.html .meta.doctype, .meta.sgml.html .meta.doctype .entity, .meta.sgml.html .meta.doctype .string, .meta.xml-processing, .meta.xml-processing .entity, .meta.xml-processing .string {
  color: #494949;
}

.meta.tag, .meta.tag .entity {
  color: #96CBFE;
}

.source .entity.name.tag, .source .entity.other.attribute-name, .meta.tag.inline, .meta.tag.inline .entity {
  color: #96CBFE;
}

.entity.other.attribute-name {
  color: #FFD7B1;
}

.entity.name.tag.namespace, .entity.other.attribute-name.namespace {
  color: #E18964;
}

.meta.selector.css .entity.name.tag {
  text-decoration: underline;
  color: #96CBFE;
}

.meta.selector.css .entity.other.attribute-name.tag.pseudo-class {
  color: #8F9D6A;
}

.meta.selector.css .entity.other.attribute-name.id {
  color: #8B98AB;
}

.meta.selector.css .entity.other.attribute-name.class {
  color: #62B1FE;
}

.support.type.property-name.css {
  color: #EDEDED;
}

.meta.property-group .support.constant.property-value.css, .meta.property-value .support.constant.property-value.css {
  color: #F9EE98;
}

.meta.preprocessor.at-rule .keyword.control.at-rule {
  color: #8693A5;
}

.meta.property-value .support.constant.named-color.css, .meta.property-value .constant {
  color: #87C38A;
}

.meta.constructor.argument.css {
  color: #8F9D6A;
}

.meta.diff, .meta.diff.header {
  color: #F8F8F8;
  background-color: #0E2231;
}

.meta.separator {
  color: #60A633;
  background-color: #242424;
}

.meta.line.entry.logfile, .meta.line.exit.logfile {
  background-color: rgba(238, 238, 238, 0.16);
}

.meta.line.error.logfile {
  background-color: #751012;
}

/* Markdown Styles */

.editor .source.gfm {
  color: #999;
}

.editor .gfm .markup.heading {
  color: #eee;
}

.editor .gfm .link {
  color: #555;
}

.editor .gfm .variable.list,
.editor .gfm .support.quote {
  color: #555;
}

.editor .gfm .link .entity {
  color: #ddd;
}

.editor .gfm .raw {
  color: #aaa;
}
