.editor, .editor .gutter {
  background-color: #FFFFFF;
  color: #555;
}

.editor.focused .cursor {
  border-color: #615649;
}

.editor.focused .selection .region {
  background-color: #afc4da;
}

.editor.focused .line-number.cursor-line-no-selection, .editor.focused .line.cursor-line {
  background-color: rgb(255, 255, 204);
}

.comment {
  color: #999988;
  font-style: italic;
}

.string {
  color: #D14;
}

.constant.numeric {
  color: #D14;
}

.constant.language {
  color: #606aa1;
}

.constant.character, .constant.other {
  color: #606aa1;
}

.constant.symbol {
  color: #990073;
}

.variable {
  color: #008080;
}

/* Keywords */
.keyword {
  color: #222;
  font-weight: bold;
}

.keyword.unit {
  color: #445588;
}

.keyword.special-method {
  color: #0086B3;
}

.storage {
  color: #222;
}

.storage.type {
  color: #222;
}

.entity.name.class {
  text-decoration: underline;
  color: #606aa1;
}

.entity.other.inherited-class {
  text-decoration: underline;
  color: #606aa1;
}

.entity.name.function {
  color: #900;
}

.variable.parameter {
  color: #606aa1;
}

.entity.name.tag {
  color: #008080;
}

.entity.other.attribute-name {
  color: #458;
  font-weight: bold;
}

.support.function {
  color: #458;
}

.support.constant {
  color: #458;
}

.support.type {
  color: #458;
}

.support.class {
  color: #008080;
}

.support.other.variable {
}

.invalid {
  color: #F8F8F0;
  background-color: #00A8C6;
}

.invalid.deprecated {
  color: #F8F8F0;
  background-color: #8FBE00;
}

.meta.structure.dictionary.json .string.quoted.double.json {
  color: #CFCFC2;
}

.meta.diff, .meta.diff.header {
  color: #75715E;
}

.meta.function span {
  color: #990000;
  font-weight: bold;
}

.markup.deleted {
  color: #00A8C6;
}

.markup.inserted {
  color: #A6E22E;
}

.markup.changed {
  color: #E6DB74;
}

.constant.numeric.line-number.find-in-files .- .match {
  color: rgba(143, 190, 0, 0.63);
}

.entity.name.filename.find-in-files {
  color: #E6DB74;
}