<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&amp;#x21E4;</string>
	<key>name</key>
	<string>⇤</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>backtab</string>
	<key>uuid</key>
	<string>7F102705-27D8-4029-BF61-2F042FB61E06</string>
</dict>
</plist>
