<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&amp;#x232B;</string>
	<key>name</key>
	<string>⌫</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>backspace</string>
	<key>uuid</key>
	<string>38E50882-27AF-4246-A039-355C3E1A699E</string>
</dict>
</plist>
