<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&amp;#x2303;</string>
	<key>name</key>
	<string>⌃</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>control</string>
	<key>uuid</key>
	<string>B4987DA5-9C2F-4D2D-AC14-678115079205</string>
</dict>
</plist>
