<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"&gt;
</string>
	<key>name</key>
	<string>XHTML — 1.1</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>doctype</string>
	<key>uuid</key>
	<string>5CE8FC6E-A802-11D9-BFC8-000D93C8BE28</string>
</dict>
</plist>
