<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;!DOCTYPE html&gt;
</string>
	<key>name</key>
	<string>HTML — 5</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>doctype</string>
	<key>uuid</key>
	<string>08E4F47C-A570-4F9B-A6AE-DCAC0D2E2420</string>
</dict>
</plist>
