<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd"&gt;
</string>
	<key>name</key>
	<string>HTML — 4.01 Strict</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>doctype</string>
	<key>uuid</key>
	<string>944F1410-188C-4D70-8340-CECAA56FC7F2</string>
</dict>
</plist>
