<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&amp;#x2193;</string>
	<key>name</key>
	<string>↓</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>down</string>
	<key>uuid</key>
	<string>35654B4E-2D76-4CD3-8FBB-2DA1F314BA19</string>
</dict>
</plist>
