<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;object width="$2" height="$3" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab"&gt;
	&lt;param name="src" value="$1"${TM_XHTML}&gt;
	&lt;param name="controller" value="$4"${TM_XHTML}&gt;
	&lt;param name="autoplay" value="$5"${TM_XHTML}&gt;
	&lt;embed src="${1:movie.mov}"
		width="${2:320}" height="${3:240}"
		controller="${4:true}" autoplay="${5:true}"
		scale="tofit" cache="true"
		pluginspage="http://www.apple.com/quicktime/download/"
	${TM_XHTML}&gt;
&lt;/object&gt;</string>
	<key>name</key>
	<string>Embed QT Movie</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>movie</string>
	<key>uuid</key>
	<string>42F15753-9B6D-4DD8-984C-807B94363277</string>
</dict>
</plist>
