<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&amp;#x238B;</string>
	<key>name</key>
	<string>⎋</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>escape</string>
	<key>uuid</key>
	<string>D7CC7C7C-CD01-4357-AF91-AEFFD914DF98</string>
</dict>
</plist>
