<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd"&gt;
</string>
	<key>name</key>
	<string>HTML — 4.01 Transitional</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>doctype</string>
	<key>uuid</key>
	<string>B2AAEE56-42D8-42C3-8F67-865473F50E8D</string>
</dict>
</plist>
