<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&amp;#x2325;</string>
	<key>name</key>
	<string>⌥</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>option</string>
	<key>uuid</key>
	<string>980A8D39-CA8B-4EC2-9739-DC36A262F28E</string>
</dict>
</plist>
