<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&amp;#x21E5;</string>
	<key>name</key>
	<string>⇥</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>tab</string>
	<key>uuid</key>
	<string>ADC78A82-40C2-4AAC-8968-93AF0ED98DF0</string>
</dict>
</plist>
