<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&amp;#x2191;</string>
	<key>name</key>
	<string>↑</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>up</string>
	<key>uuid</key>
	<string>0E2F4A47-EADE-4A05-931E-FC874FA28FC3</string>
</dict>
</plist>
