<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?= $TM_SELECTED_TEXT ?&gt;</string>
	<key>name</key>
	<string>Wrap in &lt;?= … ?&gt;</string>
	<key>scope</key>
	<string>text.html string</string>
	<key>uuid</key>
	<string>912906A0-9A29-434B-AE98-E9DFDE6E48B4</string>
</dict>
</plist>
