<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;link rel="${1:stylesheet}" href="${2:/css/master.css}" type="text/css" media="${3|screen,all,braille,embossed,handheld,print,projection,speech,tty,tv|" title="${4:no title}" charset="${5:utf-8}"${TM_XHTML}&gt;</string>
	<key>name</key>
	<string>Link</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>link</string>
	<key>uuid</key>
	<string>77BFD0C0-A08A-11D9-A5A2-000D93C8BE28</string>
</dict>
</plist>
