<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;base href="$1"${2: target="$3"}${TM_XHTML}&gt;</string>
	<key>name</key>
	<string>Base</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>base</string>
	<key>uuid</key>
	<string>4462A6B8-A08A-11D9-A5A2-000D93C8BE28</string>
</dict>
</plist>
