<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&amp;nbsp;</string>
	<key>keyEquivalent</key>
	<string>~ </string>
	<key>name</key>
	<string>Non-Breaking Space</string>
	<key>scope</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>73B40BAE-A295-11D9-87F7-000D93C8BE28</string>
</dict>
</plist>
