<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;script type="text/javascript" charset="utf-8"&gt;
	$0
&lt;/script&gt;</string>
	<key>name</key>
	<string>Script</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>script</string>
	<key>uuid</key>
	<string>6592050A-A087-11D9-A5A2-000D93C8BE28</string>
</dict>
</plist>
