<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;input type="${1|text,submit,hidden,button|}" name="${2:some_name}" value="$3"${4: id="${5:$2}"}${TM_XHTML}&gt;</string>
	<key>name</key>
	<string>Input</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>input</string>
	<key>uuid</key>
	<string>44180979-A08E-11D9-A5A2-000D93C8BE28</string>
</dict>
</plist>
