<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;br${TM_XHTML}&gt;</string>
	<key>keyEquivalent</key>
	<string>^</string>
	<key>name</key>
	<string>Br</string>
	<key>scope</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>3E008E42-A5C9-11D9-9BCD-000D93C8BE28</string>
</dict>
</plist>
