<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;h1 id="${1/[[:alpha:]]+|( )/(?1:_:\L$0)/g}"&gt;${1:$TM_SELECTED_TEXT}&lt;/h1&gt;</string>
	<key>name</key>
	<string>Heading</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>h1</string>
	<key>uuid</key>
	<string>65BA66DC-A07F-11D9-A5A2-000D93C8BE28</string>
</dict>
</plist>
