<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;meta name="${1:name}" content="${2:content}"${TM_XHTML}&gt;</string>
	<key>name</key>
	<string>Meta</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>meta</string>
	<key>uuid</key>
	<string>DA99AC44-A083-11D9-A5A2-000D93C8BE28</string>
</dict>
</plist>
