<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;div${1: id="${2:name}"}&gt;
	${0:$TM_SELECTED_TEXT}
&lt;/div&gt;</string>
	<key>name</key>
	<string>Div</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>div</string>
	<key>uuid</key>
	<string>576036C0-A60E-11D9-ABD6-000D93C8BE28</string>
</dict>
</plist>
