html, body {
  font: 16px Inconsolata, Monaco, Courier !important;
  width: 100%;
  height: 100%;
}

#root-view {
  height: 100%;
  overflow-y: auto;
  position: relative;
  background-image: url(images/linen.png);
}

#root-view #horizontal {
  display: -webkit-box;
  height: 100%;
}

#root-view #vertical {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#root-view #panes {
  -webkit-box-flex: 1;
  position: relative;
}

#root-view #panes .column {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
}

#root-view #panes .row {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

#root-view #panes .pane {
  position: absolute;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

#root-view #panes .row > * + * {
  border-left: 5px solid #515151;
}

#root-view #panes .column > * + * {
  border-top: 5px solid #515151;
}

.error {
  -webkit-transition: background 200ms ease-out;
  background: #991212 !important;
}

.clear-float {
  clear: both;
}
