* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lucida Grande;
  font-size: 12px;
}

#root-view {
  height: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  background-image: url(static/images/linen.png);
}

.vertical {
  display: -webkit-flexbox;
  -webkit-flex-flow: column;
  overflow-y: visible;
}

.horizontal {
  display: -webkit-flexbox;
  -webkit-flex-flow: row;
  overflow-x: visible;
}
