* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lucida Grande;
  font-size: 12px;
}

#root-view {
  height: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  background-image: url(static/images/linen.png);
}

.column {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.row {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.column > *, .row > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

