#autocomplete {
  position: absolute;
  width: 150px;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #444;
  border: 2px solid #222;
  color: #eee;
  -webkit-box-shadow: 0 0 5px 5px #222;
  margin: 5px;
}

#autocomplete ol {
  overflow: hidden;
}

#autocomplete ol li.selected {
  background-color: #a3fd97;
  color: black;
}

#autocomplete .hidden-input {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
}