.command-panel {
  position: absolute;
  bottom: 0;
  background: #515151;
  display: -webkit-box;
  padding: 3px;
  -webkit-transition: background 200ms ease-out;
}

.command-panel.error {
  background: #991212;
}

.command-panel .prompt {
  color: white;
}

.command-panel .editor {
  -webkit-box-flex: 1
}
