.command-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #515151;
  padding: 3px;
}

.command-panel .preview-list {
  max-height: 300px;
  overflow: auto;
}

.command-panel .prompt-and-editor {
  display: -webkit-box;
}

.command-panel .prompt {
  color: white;
  font-weight: bold;
  padding: .2em;
}
