#config-view {
  height: 100%;
  width: 100%;
  background: white;
  display: -webkit-flex;

  #panels-menu {
    width: 150px;
    margin-top: @line-height-base;
    margin-left: @line-height-base;

    li a {
      cursor: pointer;
    }
  }

  #panels {
    -webkit-flex: 1;
    padding: @line-height-base;
    position: relative;
    overflow-y: auto;

    > div {
      .list-wrapper {
        width: 300px;
        margin-right: 10px;
      }

      .list-header {
        box-sizing: border-box;
        background: #eee;
        padding: 10px;
        border: 1px solid #ccc;
      }

      li.ui-draggable-dragging, li.ui-sortable-helper {
        width: 300px;
        background: white;
        border: 1px solid #eee;
        padding: 10px;
      }

      ol {
        box-sizing: border-box;
        height: 400px;
        overflow-y:  auto;
        border: 1px solid #ccc;
        border-top-width: 0;
        background: #fafafa;

        li {
          padding: 10px;
          border-bottom: 1px solid #eee;
          background: white;

          input[type='checkbox'] {
            margin-right: 10px;
          }

          .close-icon {
            display: none;
          }
        }
      }

      #enabled-theme-list li:hover .close-icon {
        display: inline-block;
        cursor: pointer;
      }
    }
  }
}
