.clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}

#config-view {
  height: 100%;
  width: 100%;
  background: white;
  display: -webkit-flex;

  .octicons:before {
    font-family: 'Octicons Regular';
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .close-icon:before {
    content: "\f081";
  }

  #panel-menu {
    background: #f3f3f3;

    li {
      width: 100px;
      padding: 10px;
      background: #ddd;
      box-sizing: border-box;
      cursor: pointer;

      &.active {
        background: #aaa;
      }
    }
  }

  #panels {
    -webkit-flex: 1;
    overflow-y: auto;

    .pull-left {
      float: left;
    }

    .pull-right {
      float: right;
    }

    > div {
      padding: 20px;

      .section {
        margin-bottom: 20px;
        .clearfix();
      }

      .list-wrapper {
        width: 300px;
        margin-right: 10px;
      }

      .list-header {
        box-sizing: border-box;
        background: #eee;
        padding: 10px;
        border: 1px solid #ccc;
      }

      li.ui-draggable-dragging {
        width: 300px;
        background: white;
        border: 1px solid #eee;
        padding: 10px;
      }

      ol {
        box-sizing: border-box;
        height: 400px;
        overflow-y:  auto;
        border: 1px solid #ccc;
        border-top-width: 0;
        background: #fafafa;

        li {
          padding: 10px;
          border-bottom: 1px solid #eee;
          background: white;

          input[type='checkbox'] {
            margin-right: 10px;
          }

          .close-icon {
            display: none;
          }
        }
      }

      #enabled-theme-list li:hover .close-icon {
        display: inline-block;
        cursor: pointer;
      }
    }

    .row {
      margin-bottom: 10px;
    }

    label {
      display: inline-block;
      width: 180px;
      text-align: right;
      margin-right: 5px;
    }
  }
}
