@import "octicon-utf-codes.less";
@import "octicon-mixins.less";

.editor {
  overflow: hidden;
  cursor: text;
  display: -webkit-flex;
  -webkit-user-select: none;
  position: relative;
  z-index: 0;
  font-family: Inconsolata, Monaco, Courier;
  line-height: 1.3;
}

.editor .gutter .line-number.cursor-line {
  opacity: 1;
}

.editor .gutter {
  overflow: hidden;
  text-align: right;
  cursor: default;
  min-width: 1em;
  box-sizing: border-box;
}

.editor .gutter .line-number {
  padding-right: .5em;
  padding-left: .5em;
  opacity: 0.6;
  position: relative;
}

.editor .gutter .line-numbers {
  position: relative;
}

.editor .gutter .line-number.fold.cursor-line {
  opacity: 1;
}

.editor .gutter .line-number.fold:after {
  visibility: visible;
}

.editor .gutter .line-number:after {
  .icon(0.8em);
  content: @chevron-right;
  opacity: .8;
  visibility: hidden;
  position: relative;
  top: -0.2em;
}

.editor .fold-marker:after {
  .icon(0.8em, inline);
  content: @ellipsis;
  padding-left: 0.2em;
  position: relative;
  top: -0.2em;
}

.editor .line.cursor-line .fold-marker:after {
  opacity: 1;
}

.editor.is-blurred .line.cursor-line {
  background: rgba(0, 0, 0, 0);
}

.editor .invisible-character {
  font-weight: normal !important;
  font-style: normal !important;
}

.editor .indent-guide {
  display: inline-block;
  box-shadow: inset 1px 0;
}

.editor .vertical-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 15px;
  overflow-y: auto;
  z-index: 3;
}

.editor .scroll-view {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-flex: 1;
  min-width: 0;
  position: relative;
}

.editor.soft-wrap .scroll-view {
  overflow-x: hidden;
}

.editor .underlayer, .editor .lines, .editor .overlayer {
  width: 100%;
}

.editor .underlayer {
  z-index: 0;
  position: absolute;
  min-height: 100%;
}

.editor .lines {
  position: relative;
  z-index: 1;
}

.editor .overlayer {
  z-index: 2;
  position: absolute;
}

.editor .line {
  white-space: pre;
}

.editor .line span {
  vertical-align: top;
}

.editor .cursor {
  position: absolute;
  border-left: 1px solid;
}

.editor .cursor,
.editor.is-focused .cursor.blink-off {
  visibility: hidden;
}

.editor.is-focused .cursor {
  visibility: visible;
}

.editor .hidden-input {
  padding: 0;
  border: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  width: 1px;
}

.editor .selection .region {
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.editor.mini {
  height: auto;
  line-height: 25px;

  .cursor {
    width: 2px;
    line-height: 20px;
    margin-top: 2px;
  }

  .gutter {
    display: none;
  }

  .scroll-view {
    overflow: hidden;
  }
}
