@import "ui-variables";
@import "octicon-utf-codes";
@import "octicon-mixins";

atom-text-editor.react {
  .editor-contents {
    width: 100%;
  }

  .underlayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
  }

  .lines {
    min-width: 100%;
  }

  .cursor {
    z-index: 4;
    pointer-events: none;
  }

  .editor-contents.is-focused .cursor {
    visibility: visible;
  }

  .cursors.blink-off .cursor {
    opacity: 0;
  }

  .horizontal-scrollbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 3;

    .scrollbar-content {
      height: 15px;
    }
  }

  .vertical-scrollbar {
    overflow-x: hidden;
  }

  .scrollbar-corner {
    position: absolute;
    overflow: auto;
    bottom: 0;
    right: 0;
  }

  .scroll-view {
    overflow: hidden;
    z-index: 0;
  }

  .scroll-view-content {
    position: relative;
    width: 100%;
  }

  .gutter {
    .line-number {
      white-space: nowrap;
      padding-left: .5em;

      .icon-right {
        padding: 0 .4em;
        &:before {
          text-align: center;
        }
      }
    }
  }
}

atom-text-editor.mini {
  font-size: @input-font-size;
  line-height: @component-line-height;
  max-height: @component-line-height + 2; // +2 for borders

  .placeholder-text {
    position: absolute;
    color: @text-color-subtle;
  }
}

atom-text-editor {
  z-index: 0;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  line-height: 1.3;
}

atom-text-editor, .editor-contents {
  overflow: hidden;
  cursor: text;
  display: -webkit-flex;
  -webkit-user-select: none;
  position: relative;
}

atom-text-editor .gutter .line-number.cursor-line {
  opacity: 1;
}

atom-text-editor .gutter {
  overflow: hidden;
  text-align: right;
  cursor: default;
  min-width: 1em;
  box-sizing: border-box;
}

atom-text-editor .gutter .line-number {
  padding-left: .5em;
  opacity: 0.6;
}

atom-text-editor .gutter .line-numbers {
  position: relative;
}

atom-text-editor .gutter .line-number.folded.cursor-line {
  opacity: 1;
}

atom-text-editor .gutter .line-number .icon-right {
  .octicon(chevron-down, 0.8em);
  display: inline-block;
  visibility: hidden;
  padding-left: .1em;
  padding-right: .5em;
  opacity: .6;
}

atom-text-editor .gutter:hover .line-number.foldable .icon-right {
  visibility: visible;

  &:before {
    content: @chevron-down;
  }

  &:hover {
    opacity: 1;
  }
}

atom-text-editor .gutter, atom-text-editor .gutter:hover {
  .line-number.folded .icon-right {
    .octicon(chevron-right, 0.8em);
    visibility: visible;

    &:before { // chevron-right renders too far right compared to chevron-down
      position: relative;
      left: -.1em;
      content: @chevron-right;
    }
  }
}

atom-text-editor .fold-marker {
  cursor: default;
}

atom-text-editor .fold-marker:after {
  .icon(0.8em, inline);
  content: @ellipsis;
  padding-left: 0.2em;
}

atom-text-editor .line.cursor-line .fold-marker:after {
  opacity: 1;
}

atom-text-editor.is-blurred .line.cursor-line {
  background: rgba(0, 0, 0, 0);
}

atom-text-editor .invisible-character {
  font-weight: normal !important;
  font-style: normal !important;
}

atom-text-editor .indent-guide {
  display: inline-block;
  box-shadow: inset 1px 0;
}

atom-text-editor .vertical-scrollbar,
atom-text-editor .horizontal-scrollbar {
  cursor: default;
}

atom-text-editor .vertical-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 15px;
  overflow-y: auto;
  z-index: 3;
}

atom-text-editor .scroll-view {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-flex: 1;
  min-width: 0;
  position: relative;
}

atom-text-editor.soft-wrap .scroll-view {
  overflow-x: hidden;
}

atom-text-editor .underlayer {
  z-index: 0;
  position: absolute;
  min-height: 100%;
}

atom-text-editor .lines {
  position: relative;
  z-index: 1;
}

atom-text-editor .overlayer {
  z-index: 2;
  position: absolute;
}

atom-text-editor .line {
  white-space: pre;
}

atom-text-editor .line span {
  vertical-align: top;
}

atom-text-editor .cursor {
  position: absolute;
  border-left: 1px solid;
}

atom-text-editor .cursor,
atom-text-editor.is-focused .cursor.blink-off {
  visibility: hidden;
}

atom-text-editor.is-focused .cursor {
  visibility: visible;
}

.cursor.hidden-cursor {
  display: none;
}

atom-text-editor .hidden-input {
  padding: 0;
  border: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  width: 1px;
}

atom-text-editor .highlight {
  background: none;
  padding: 0;
}

atom-text-editor .highlight .region,
atom-text-editor .selection .region {
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

atom-text-editor.mini:not(.react) {
  height: auto;
  line-height: 25px;

  .cursor {
    width: 2px;
    line-height: 20px;
    margin-top: 2px;
  }

  .gutter {
    display: none;
  }

  .scroll-view {
    overflow: hidden;
  }
}
