.editor {
  font: 18px Inconsolata, Monaco, Courier !important;
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
  color: white;
  overflow-y: scroll;
}

.editor pre {
  margin: 0;
}

.editor .cursor {
  background: #9dff9d;
  opacity: .3;
}

.editor .hidden-input {
  position: fixed;
  top: 0;
  left: 100%;
}

