#app-vertical > .file-finder {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #444;
  color: #eee;
  -webkit-box-shadow: 0 0 5px 5px #222;
}

.file-finder ol {
  overflow: hidden;
}

.file-finder li.selected {
  background-color: green;
}

.file-finder input {
  width: 100%;
}
