@fontello-video: "\e800";
@fontello-audio: "\e801";

.fontello-icon(@name, @size: 16px) {
  &:before {
    font-family: 'fontello';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;

    font-size: @size;
    width: @size;
    height: @size;

    content: @@name
  }
}