.fuzzy-finder ol {
  overflow: hidden;
  margin-bottom: 5px;
  -webkit-user-select: none;
  cursor: default;
}

.fuzzy-finder li:hover {
  background-color: #555;
}

.fuzzy-finder ol:empty {
  margin-bottom: 0;
}

.fuzzy-finder li.selected {
  background-color: green;
}
