.fuzzy-finder .directory {
  color: rgba(0, 0, 0, 0.5);
  word-break: break-word;
  margin-left: 5px;
  line-height: 150%;
}

.fuzzy-finder .file:before {
  font-family: 'Octicons Regular';
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-font-smoothing: antialiased;
  color: #9d9d9d;
}

.fuzzy-finder .status {
  font-family: 'Octicons Regular';
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  -webkit-font-smoothing: antialiased;
  color: #9d9d9d;
  float: right;
}

.fuzzy-finder .status.new:before {
  position: relative;
  top: 3px;
  content: "\f06b";
}

.fuzzy-finder .status.modified:before {
  position: relative;
  top: 3px;
  content: "\f06d";
}

.fuzzy-finder .file.text-name:before {
  content: "\f011";
}

.fuzzy-finder .file.image-name:before {
  content: "\f012";
}

.fuzzy-finder .file.compressed-name:before {
  content: "\f013";
}

.fuzzy-finder .file.pdf-name:before {
  content: "\f014";
}

.fuzzy-finder .file.readme-name:before {
  content: "\f007";
}

.fuzzy-finder .file.binary-name:before {
  content: "\f094";
}
