.image-view {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;

  img {
    box-sizing: content-box;
    padding: 25px;
    border: 2px solid;
    background-image: url(images/transparent-background.gif);
    position: relative;
  }
}
