@import "ui-variables";

a {
  color: @text-color-highlight;
  &:hover {
    color: @text-color-highlight;
    text-decoration: underline;
  }

  &[href^="http"], .link-external {
    cursor: pointer;
  }
}
