@import "ui-variables";

a {
  color: @text-color-highlight;
  &:hover {
    color: @text-color-highlight;
    text-decoration: underline;
  }

  &[href^="http"] {
    cursor: pointer;
  }
}

// For non anchor elements that open external links
.link-external {
  cursor: pointer;
}
