.source {
  .gfm {
    -webkit-font-smoothing: antialiased;

    .markup.heading {
      font-weight: bold;
    }

    .bold {
      font-weight: bold;
    }

    .italic {
      font-style: italic;
    }

    .comment.quote {
      font-style: italic;
    }

    .raw {
      -webkit-font-smoothing: subpixel-antialiased;
    }
  }
}
