@private-repo: "\f26a";
@public-repo: "\f201";
@repo-forked: "\f202";
@create: "\f203";
@delete: "\f204";
@push: "\f205";
@pull: "\f206";
@readme: "\f207";
@wiki: "\f207";
@octocat: "\f208";
@site-message: "\f209";
@blacktocat: "\f209";
@invertocat: "\f20a";
@download: "\f20b";
@upload: "\f20c";
@keyboard: "\f20d";
@gist: "\f20e";
@gist-private: "\f20f";
@code-file: "\f210";
@download-unknown: "\f210";
@download-text: "\f211";
@text-file: "\f211";
@download-media: "\f212";
@download-zip: "\f213";
@download-pdf: "\f214";
@download-tag: "\f215";
@tag: "\f215";
@directory: "\f216";
@submodule: "\f217";
@person: "\f218";
@team: "\f219";
@member-added: "\f21a";
@member-removed: "\f21b";
@follow: "\f21c";
@watching: "\f21d";
@unwatch: "\f21e";
@commit: "\f21f";
@public-fork: "\f220";
@fork: "\f220";
@branch: "\f220";
@tree: "\f220";
@private-fork: "\f221";
@pull-request: "\f222";
@merge: "\f223";
@public-mirror: "\f224";
@private-mirror: "\f225";
@issue-opened: "\f226";
@issue-reopened: "\f227";
@issue-closed: "\f228";
@issue-comment: "\f229";
@star: "\f22a";
@commit-comment: "\f22b";
@help: "\f22c";
@exclamation: "\f22d";
@search-input: "\f22e";
@advanced-search: "\f22f";
@notifications: "\f230";
@account-settings: "\f231";
@logout: "\f232";
@admin-tools: "\f233";
@feed: "\f234";
@clipboard: "\f235";
@apple: "\f236";
@windows: "\f237";
@ios: "\f238";
@download-android: "\f239";
@android: "\f239";
@confirm: "\f23a";
@unread-note: "\f23b";
@read-note: "\f23c";
@arr-up: "\f23d";
@arr-right: "\f23e";
@arr-down: "\f23f";
@arr-left: "\f240";
@pin: "\f241";
@gift: "\f242";
@graph: "\f243";
@wrench: "\f244";
@credit-card: "\f245";
@time: "\f246";
@ruby: "\f247";
@podcast: "\f248";
@key: "\f249";
@force-push: "\f24a";
@sync: "\f24b";
@clone: "\f24c";
@diff: "\f24d";
@watchers: "\f24e";
@discussion: "\f24f";
@delete-note: "\f250";
@remove-close: "\f250";
@reply: "\f251";
@mail-status: "\f252";
@block: "\f253";
@tag-create: "\f254";
@tab-delete: "\f255";
@branch-create: "\f256";
@branch-delete: "\f257";
@edit: "\f258";
@info: "\f259";
@arr-collapsed: "\f25a";
@arr-expanded: "\f25b";
@link: "\f25c";
@add: "\f25d";
@reorder: "\f25e";
@code: "\f25f";
@location: "\f260";
@u-list: "\f261";
@o-list: "\f262";
@quotemark: "\f263";
@version: "\f264";
@brightness: "\f265";
@fullscreen: "\f266";
@normalscreen: "\f267";
@calendar: "\f268";
@beer: "\f269";
@secure: "\f26a";
@lock: "\f26a";
@added: "\f26b";
@removed: "\f26c";
@modified: "\f26d";
@moved: "\f26e";
@renamed: "\f26e";
@add-comment: "\f26f";
@horizontal-rule: "\f270";
@arr-right-mini: "\f271";
@jump-down: "\f272";
@jump-up: "\f273";
@reference: "\f274";
@milestone: "\f275";
@save-document: "\f276";
@megaphone: "\f277";
@chevron: "\f278";
@gist-forked: "\f279";
@gist-add: "\f27a";
@bookmark: "\f27b";
@filters: "\f27c";
@dashboard: "\f27d";
@history: "\f27e";
@external-link: "\f27f";
@mute: "\f280";
@x: "\f281";
@add-star: "\f282";
@remove-star: "\f283";
@circle-slash: "\f284";
@pulse: "\f285";
@new-file: "\f286";
@refresh: "\f287";
@telescope: "\f288";
@microscope: "\f289";
@align: "\f28a";
@unalign: "\f28b";
@gist-secret: "\f28c";
@home: "\f28d";
@aligned-to: "\f28e";
@stop-spam: "\f28f";
@zap: "\f290";
@bug: "\f291";
@loading-inner: "\f292";
@loading-outer: "\f293";
@binary-file: "\f294";
@create-directory: "\f295";
@database: "\f296";
@server: "\f297";
@ignored-file: "\f298";
@ignore: "\f299";
@ellipsis: "\f29a";
@symlink: "\f29b";
@no-newline: "\f29c";
@hubot: "\f29d";
@hourglass: "\f29e";
