@private-repo: "\f06a";
@public-repo: "\f001";
@repo-forked: "\f002";
@create: "\f003";
@delete: "\f004";
@push: "\f005";
@pull: "\f006";
@readme: "\f007";
@wiki: "\f007";
@octocat: "\f008";
@site-message: "\f009";
@blacktocat: "\f009";
@invertocat: "\f00a";
@download: "\f00b";
@upload: "\f00c";
@keyboard: "\f00d";
@gist: "\f00e";
@gist-private: "\f00f";
@code-file: "\f010";
@download-unknown: "\f010";
@download-text: "\f011";
@text-file: "\f011";
@download-media: "\f012";
@download-zip: "\f013";
@download-pdf: "\f014";
@download-tag: "\f015";
@tag: "\f015";
@directory: "\f016";
@submodule: "\f017";
@person: "\f018";
@team: "\f019";
@member-added: "\f01a";
@member-removed: "\f01b";
@follow: "\f01c";
@watching: "\f01d";
@unwatch: "\f01e";
@commit: "\f01f";
@public-fork: "\f020";
@fork: "\f020";
@branch: "\f020";
@tree: "\f020";
@private-fork: "\f021";
@pull-request: "\f022";
@merge: "\f023";
@public-mirror: "\f024";
@private-mirror: "\f025";
@issue-opened: "\f026";
@issue-reopened: "\f027";
@issue-closed: "\f028";
@issue-comment: "\f029";
@star: "\f02a";
@commit-comment: "\f02b";
@help: "\f02c";
@exclamation: "\f02d";
@search-input: "\f02e";
@advanced-search: "\f02f";
@notifications: "\f030";
@account-settings: "\f031";
@logout: "\f032";
@admin-tools: "\f033";
@feed: "\f034";
@clipboard: "\f035";
@apple: "\f036";
@windows: "\f037";
@ios: "\f038";
@download-android: "\f039";
@android: "\f039";
@confirm: "\f03a";
@unread-note: "\f03b";
@read-note: "\f03c";
@arr-up: "\f03d";
@arr-right: "\f03e";
@arr-down: "\f03f";
@arr-left: "\f040";
@pin: "\f041";
@gift: "\f042";
@graph: "\f043";
@wrench: "\f044";
@credit-card: "\f045";
@time: "\f046";
@ruby: "\f047";
@podcast: "\f048";
@key: "\f049";
@force-push: "\f04a";
@sync: "\f04b";
@clone: "\f04c";
@diff: "\f04d";
@watchers: "\f04e";
@discussion: "\f04f";
@delete-note: "\f050";
@remove-close: "\f050";
@reply: "\f051";
@mail-status: "\f052";
@block: "\f053";
@tag-create: "\f054";
@tab-delete: "\f055";
@branch-create: "\f056";
@branch-delete: "\f057";
@edit: "\f058";
@info: "\f059";
@arr-collapsed: "\f05a";
@arr-expanded: "\f05b";
@link: "\f05c";
@add: "\f05d";
@reorder: "\f05e";
@code: "\f05f";
@location: "\f060";
@u-list: "\f061";
@o-list: "\f062";
@quotemark: "\f063";
@version: "\f064";
@brightness: "\f065";
@fullscreen: "\f066";
@normalscreen: "\f067";
@calendar: "\f068";
@beer: "\f069";
@secure: "\f06a";
@lock: "\f06a";
@added: "\f06b";
@removed: "\f06c";
@modified: "\f06d";
@moved: "\f06e";
@renamed: "\f06e";
@add-comment: "\f06f";
@horizontal-rule: "\f070";
@arr-right-mini: "\f071";
@jump-down: "\f072";
@jump-up: "\f073";
@reference: "\f074";
@milestone: "\f075";
@save-document: "\f076";
@megaphone: "\f077";
@chevron: "\f078";
@gist-forked: "\f079";
@gist-add: "\f07a";
@bookmark: "\f07b";
@filters: "\f07c";
@dashboard: "\f07d";
@history: "\f07e";
@external-link: "\f07f";
@mute: "\f080";
@x: "\f081";
@add-star: "\f082";
@remove-star: "\f083";
@circle-slash: "\f084";
@pulse: "\f085";
@new-file: "\f086";
@refresh: "\f087";
@telescope: "\f088";
@microscope: "\f089";
@align: "\f08a";
@unalign: "\f08b";
@gist-secret: "\f08c";
@home: "\f08d";
@aligned-to: "\f08e";
@stop-spam: "\f08f";
@zap: "\f090";
@bug: "\f091";
@loading-inner: "\f092";
@loading-outer: "\f093";
@binary-file: "\f094";
@create-directory: "\f095";
@database: "\f096";
@server: "\f097";
@ignored-file: "\f098";
@ignore: "\f099";
@ellipsis: "\f09a";
@symlink: "\f09b";
@no-newline: "\f09c";
@hubot: "\f09d";
@hourglass: "\f09e";
