.notification {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -5%;
  z-index: 9999;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow:
    inset 1px 1px 0 rgba(255, 255, 255, 0.05),
    0 0 5px rgba(0, 0, 0, 0.5);
  background: -webkit-linear-gradient(
    rgba(20, 20, 20, 0.5),
    rgba(0, 0, 0, 0.5));
  color: #eee;
  width: 300px;
}

.notification .content {
  padding: 10px;
  margin-left: 42px;
  box-sizing: border-box;
}

.notification .content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}

.notification .title {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 3px;
}

.notification .message {
  font-size: 12px;
  color: #777;
}

.notification .icon {
  display: inline-block;
  font-family: 'Octicons Regular';
  font-size: 32px;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
}

/* TODO: Full Octicon Support */
.icon-gist {
  content: "\f20e";
}
