@import "ui-variables";

// Override bootstrap styles here.
.panel {
  border-radius: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;

  .panel-heading {
    border-radius: 0;
  }
}
