.select-list.popover-list {
  width: 200px;
  border: 2px solid #222;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, .5);
  margin-left: 0px;
  position: relative;
}

.select-list.popover-list ol {
  position: relative;
  overflow-y: scroll;
  max-height: 200px;
}

.select-list.popover-list ol li {
  padding: 5px;
}