.select-list.popover-list {
  width: 200px;
  min-width: 200px;
  margin-left: 0;
  position: relative;
}

.select-list.popover-list ol.list-group {
  position: relative;
  overflow-y: scroll;
  max-height: 200px;
}
