.select-list {
  position: absolute;
  width: 600px;
  top: 0;
  left: 50%;
  margin-left: -300px;
  box-sizing: border-box;
  z-index: 99;
}

.select-list .editor {
  box-sizing: border-box;
  padding: 5px;
}

.select-list ol {
  position: relative;
  overflow-y: auto;
}