.status-bar {
  background: black;
  color: white;
  padding: 5px;
  position: relative;
}

.status-bar .file-info {
  float: left;
  display: inline-block;
}

.status-bar .cursor-position {
  position: absolute;
  right: 5px;
  top: 5px;
}

.status-bar .file-info .git-status {
 color: #FAF05C;
}

.status-bar .octicons {
  font-family: 'Octicons Regular';
  font-size: 14px;
  width: 14px;
  height: 14px;
  padding-right: 2px;
}

.status-bar .branch-label {
  padding-right: 10px;
}
