.status-bar {
  background: black;
  color: white;
  padding: 5px;
  position: relative;
}

.status-bar .file-info {
  float: left;
  display: inline-block;
}

.status-bar .file-info .current-path {
  float: left;
  display: inline-block;
}

.status-bar .buffer-modified {
  float: right;
  display: inline-block;
}

.status-bar .cursor-position {
  position: absolute;
  right: 5px;
  top: 5px;
}
