.status-bar {
  background-image: -webkit-linear-gradient(#303030, #252525);
  border-top: 1px solid #454545;
  padding: 4px 10px 3px;
  font-size: 11px;
  line-height: 14px;
  color: #969696;
  position: relative;
}

.status-bar .cursor-position {
  padding-left: 10px;
}

.status-bar .git-branch {
  float: right;
}

.status-bar .branch-label {
  padding-left: 5px;
  vertical-align: baseline;
}

.status-bar .git-status.octicons {
  display: none;
  padding-left: 10px;
}

.status-bar .octicons {
  font-family: 'Octicons Regular';
  font-size: 14px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
}

.status-bar .branch-icon:before {
  content: "\f020";
}

.status-bar .git-status.octicons.modified-status-icon {
  color: #6C6912;
  display: inline-block;
}

.status-bar .modified-status-icon:before {
  content: "\f26d";
}

.status-bar .git-status.octicons.new-status-icon {
  color: #269F81;
  display: inline-block;
}

.status-bar .new-status-icon:before {
  content: "\f26b";
}

