.tabs {
  font: caption;
  display: -webkit-box;
  -webkit-box-align: center;
}

.tab {
  -webkit-user-select: none;
  -webkit-user-drag: element;
  cursor: default;
  -webkit-box-flex: 2;
  width: 175px;
  max-width: 175px;
  min-width: 40px;
  box-sizing: border-box;
  text-shadow: -1px -1px 0 #000;
  font-size: 11px;
  padding: 5px 10px;
  position: relative;
}

.tab.active {
  -webkit-box-flex: 1;
}

.tab .file-name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px 5px;
}

.tab .close-icon {
  font-family: 'Octicons Regular';
  font-size: 12px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  right: 5px;
  top: 4px;
  -webkit-font-smoothing: antialiased;
}

.tab .close-icon:before {
  content: "\f081";
}

.tab .close-icon:hover {
  color: #fff;
}

.tab.file-modified .close-icon {
  top: 10px;
  width: 5px;
  height: 5px;
  right: 6px;
  border: 2px solid #66a6ff;
  border-radius: 12px;
}

.tab.file-modified .close-icon:before {
  content: "";
}

.tab.file-modified:hover .close-icon {
  border: none;
  width: 12px;
  height: 12px;
  right: 5px;
  top: 4px;
}

.tab.file-modified:hover .close-icon:before {
  content: "\f081";
  color: #66a6ff;
}

/* Drag and Drop */
.tab.is-dragging {
  -webkit-box-flex: 1;
  color: red;
}


sdfsdf