.terminal {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
}

.terminal .title {
  font-size: 0.75em;
  line-height: 1.8em;
  text-align: right;
  padding-right: 10px;
  border-bottom: 1px dotted #000;
}

.terminal .content {
  font-family: Inconsolata, Monaco, Courier;
  margin: 2px;
  height: 320px;
  min-height: 120px;
  overflow-y: scroll;
}

.terminal .hidden-input {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
}

.terminal .content pre {
  display: block;
  line-height: 1.4em;
  height: 1.4em;
  clear: both;
}

.terminal .content pre span.character {
  display: block;
  height: 1.4em;
  text-align: center;
  float: left;
  position: relative;
}

.terminal .cursor {
  display: block;
  position: absolute;
  top: 0; left: 0;
  bottom: 0; right: 0;
  width: 0.8em;
  height: 1.4em;
}

.terminal .bold {
  font-weight: bold;
}

.terminal .italic {
  font-style: italic;
}

.terminal .underlined {
  text-decoration: underline;
}