@import "ui-variables";

atom-text-editor {
  display: block;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  line-height: 1.3;
}

atom-text-editor.mini {
  font-size: @input-font-size;
  line-height: @component-line-height;
  max-height: @component-line-height + 2; // +2 for borders
}
