.tree-view {
  height: 100%;
  background: black;
  color: white;
  overflow: auto;
  padding: 0 1em;
  cursor: default;
}

.tree-view .disclosure-arrow {
  width: 2ex;
  display: inline-block;
}

.tree-view .directory .entries {
  padding-left: 2ex;
}

.tree-view .directory .selected {
  background: #333;
}

.tree-view .directory .entries .file {
  padding-left: 2ex;
}
