// This file has fallback colors. It specifies the color variables all themes
// must implement.

// Colors should be chosen mostly for their utility in packages. We dont want
// people to have to think about what colors to use. The thinking is that they
// will be able to follow some guidelines, and generally get something that
// looks reasonable.

// Least subtle -> most subtle
@text-color-1: #333;
@text-color-2: #444;
@text-color-3: #555;

// For text on dark/colored background's
@text-alt-color-1: #fff;
@text-alt-color-2: #fff;
@text-alt-color-3: #fff;

// Least subtle -> most subtle
@text-color-subtle-1: #777;
@text-color-subtle-2: #999;
@text-color-subtle-3: #ccc;

// Main bg you should use, a darker alt, and a lighter alt
@background-color-1: #f4f4f4;
@background-color-2: #eee;
@background-color-3: #fff;

// Highlight color for background corresponding in index to background-color
@background-highlight-color-1: rgba(0, 0, 0, .2);
@background-highlight-color-2: rgba(0, 0, 0, .2);
@background-highlight-color-3: rgba(0, 0, 0, .2);

// Border color for background corresponding in index to background-color.
@border-color-1: #eee;
@border-color-2: #ccc;
@border-color-3: #f5f5f5;

// Bright color, darker then lighter.
// Info colors are generally blue
@accent-color-info-1: #0098ff;
@accent-color-info-2: #5293d8;
@accent-color-info-3: #66a6ff;

// Bright color, darker then lighter.
// Error colors are generally red/orange
@accent-color-error-1: #ff4800;
@accent-color-error-2: #f78a46;
@accent-color-error-3: #ffa275;

// Bright color, darker then lighter.
// Success colors are generally green
@accent-color-success-1: #1fe977;
@accent-color-success-2: #17ca65;
@accent-color-success-3: #58f79d;
