.vim {
  padding: 5px 10px;
  position: relative;
  -webkit-user-select: none;
  cursor: default;
  font-weight: bold;
}

.vim .prompt-and-editor {
  display: -webkit-box;
}

.vim .prompt-and-editor .editor {
  position: relative;
  padding: 0px;
  margin: 0px;
  top: -4px;
  margin-left: 5px;
  min-width: 100px;
  border: none;
  background: none;
}

.cursor {
  opacity: 0.5;
}