@import "ui-variables";
@import "octicon-mixins";

@font-face { .octicon-font(); }

html {
  font-family: @font-family;
  font-size: @font-size;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

atom-workspace {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: @app-background-color;
  font-family: @font-family;

  atom-workspace-axis.horizontal {
    display: -webkit-flex;
    height: 100%;
  }

  atom-workspace-axis.vertical {
    display: -webkit-flex;
    -webkit-flex: 1;
    -webkit-flex-flow: column;
  }
}
