.editor .gutter .line-number.bookmarked:after {
  color: #09C;
  content: '\f07b';
  visibility: visible;
}

.bookmarks-view {
  .bookmark {
    .line-text {
      font-family: monospace;
    }
  }
}
