@import "octicon-utf-codes.less";

.editor .gutter .line-number.bookmarked:after {
  color: #09C;
  content: @bookmark;
  visibility: visible;
}

.bookmarks-view {
  .bookmark {
    .line-text {
      font-family: monospace;
    }
  }
}
