@import "ui-variables";
@import "ui-mixins";

.btn {
  color: @text-color;
  border-radius: @component-border-radius;
  border: none;

  background-color: transparent;
  background-image: -webkit-linear-gradient(@button-background-color, darken(@button-background-color, 5%));

  font-weight: bold;
  text-shadow: none;

  font-size: 12px;
  padding: 5px 10px;
  z-index: 0;

  &:hover {
    color: @text-color-highlight;
    background-image: -webkit-linear-gradient(@button-background-hover-color, darken(@button-background-hover-color, 5%));
  }
  &.selected, &.selected:hover {
    z-index: 1; // we want the selected button to behave like the :hover button; it's on top of the other buttons.
    color: @text-color-highlight;
    background-image: -webkit-linear-gradient(darken(@button-background-selected-color, 5%), @button-background-selected-color);
  }
}

.btn.btn-xs, .btn-group-xs > .btn {
  padding: 2px 5px;
  font-size: 10px;
}
.btn.btn-sm, .btn-group-sm > .btn {
  padding: 2px 5px;
}
.btn.btn-lg, .btn-group-lg > .btn {
  font-size: 14px;
  padding: 8px 12px;
}

.btn-group > .btn {
  border-left: 1px solid @button-border-color;
  border-right: 1px solid @button-border-color;
}
.btn-group > .btn:first-child {
  border-left: none;
  border-top-left-radius: @component-border-radius;
  border-bottom-left-radius: @component-border-radius;
}
.btn-group > .btn:last-child,
.btn-group > .btn.selected:last-child,
.btn-group > .dropdown-toggle {
  border-right: none;
  border-top-right-radius: @component-border-radius;
  border-bottom-right-radius: @component-border-radius;
}
