@import "ui-variables";

.overlay {
  color: @text-color;
  background-color: @overlay-background-color;
  padding: @component-padding;
  border: 1px solid @overlay-border-color;
  box-shadow: 0 0 10px @overlay-shadow-color;
  border-radius: @component-border-radius;
}

.overlay .editor.mini {
  margin-bottom: @component-padding;
}
