@import "ui-mixins";
@import "ui-variables";

.selected {
  .text(highlighted);
}

.subtle { .text(subtle); }
.bright { .text(highlighted); }

.smaller { font-size: 0.9em; }

.highlight-color(@name, @color) {
  .highlight-@{name} {
    color: @text-color-highlight;
    font-weight: bold;
    text-shadow: none;
    background-color: @color;
    border-radius: @component-border-radius;
    padding: 1px 3px;
  }
}
.highlight-color(info, @background-color-info);
.highlight-color(warning, @background-color-warning);
.highlight-color(error, @background-color-error);
.highlight-color(success, @background-color-success);

.key-binding {
  background: -webkit-linear-gradient(
    rgba(100, 100, 100, 0.5),
    rgba(70,70,70, 0.5));
  -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1);
  display: inline-block;
  line-height: 100%;
  padding: 1px 3px;
  border-radius: @component-border-radius;
  margin-left: @component-icon-padding;
}
