@import "ui-mixins";
@import "ui-variables";

h1, h2, h3 { line-height: 1em; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }

pre {
  box-shadow: none;
  color: @text-color;
  background: @inset-panel-background-color;
  border-radius: @component-border-radius;
  border: none;
  margin: 0;
}

code {
  .text(highlighted);
  background: @badge-background-color;
  border-radius: @component-border-radius;
}

.subtle { .text(subtle); }
.bright { .text(highlighted); }
.selected { .text(highlighted); }

.smaller { font-size: 0.9em; }

.info { .text(info); }
.warning { .text(warning); }
.success { .text(success); }
.error { .text(error); }

.highlight-color(@name, @color) {
  .highlight-@{name} {
    color: @text-color-highlight;
    font-weight: bold;
    text-shadow: none;
    background-color: @color;
    border-radius: @component-border-radius;
    padding: 1px 3px;
  }
}
.highlight-color(info, @background-color-info);
.highlight-color(warning, @background-color-warning);
.highlight-color(error, @background-color-error);
.highlight-color(success, @background-color-success);
