// This file has fallback variables. It specifies the syntax variables that
// themes must implement.

// Colors

@syntax-color-added: #00f;
@syntax-color-modified: #0f0;
@syntax-color-removed: #f00;
