.editor-stats-wrapper {
  padding: 5px;
  box-sizing: border-box;
}

.editor-stats {
  height: 50px;
  width: 100%;
  background: #1d1f21;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.editor-stats rect.bar {
  fill: rgba(255, 255, 255, 0.2);
  shape-rendering: crispedges;
}

.editor-stats rect.bar.max {
  fill: rgba(0, 163, 255, 1);
}

.editor-stats text {
  font-size: 10px;
  fill: rgba(255, 255, 255, 0.2);
  font-family: Courier;
}

.editor-stats .minor text {
  display: none;
}

.editor-stats line {
  stroke: #ccc;
  stroke-opacity: 0.05;
  stroke-width: 1px;
  shape-rendering: crispedges;
}

.editor-stats path.domain {
  fill: none;
}
