.editor-stats-wrapper {
  padding: 5px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.editor-stats {
  height: 50px;
  width: 100%;
  background: #1d1f21;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);

  .bar {
    fill: rgba(255, 255, 255, 0.2);
    shape-rendering: crispedges;

    &.max {
      fill: rgba(0, 163, 255, 1);
    }
  }

  text {
    font-size: 10px;
    fill: rgba(255, 255, 255, 0.2);
    font-family: Courier;
  }

  .minor text {
    display: none;
  }

  line {
    stroke: #ccc;
    stroke-opacity: 0.05;
    stroke-width: 1px;
    shape-rendering: crispedges;
  }

  path.domain {
    display: none;
  }
}
