<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>touch "$TM_NEW_FILE"</string>
	<key>isDefault</key>
	<string>1</string>
	<key>name</key>
	<string>Empty File</string>
	<key>uuid</key>
	<string>2D3AFF01-6DFB-11D9-91EB-000D93589AF6</string>
</dict>
</plist>
