snippet de "Describe block"
describe "${1:description}", ->
  ${2:body}
endsnippet

snippet i "It block"
it "$1", ->
  $2
endsnippet

snippet be "Before each"
beforeEach ->
  $1
endsnippet

snippet ex "Expectation"
expect($1).to$2
endsnippet

snippet log "Console log"
console.log $1
endsnippet

snippet ra "Range array"
[[$1, $2], [$3, $4]]
endsnippet

snippet pt "Point array"
[$1, $2]
endsnippet

snippet spy "Jasmine spy"
jasmine.createSpy("${1:description}")$2
endsnippet
