<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; index.html &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>html</string>
	<key>name</key>
	<string>HTML — 4.01 Transitional</string>
	<key>scope</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>E6F19171-F664-4B4F-92DA-3E15E6CAD35C</string>
</dict>
</plist>
