<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>get_pw () {
  ruby -rui -e"print TextMate::UI.request_secure_string(:title =&gt; 'Decrypt AES 128 Encrypted Text', :prompt =&gt; '$1', :button1 =&gt; '$2', :button2 =&gt; 'Cancel').to_s"
}

pw=$(get_pw 'What is the password?' Decrypt)
[[ -z "$pw" ]] &amp;&amp; exit_discard

if ! openssl enc -d -aes128 -base64 -pass "pass:$pw"; then
   exit_show_tool_tip
fi
</string>
	<key>fallbackInput</key>
	<string>document</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^@E</string>
	<key>name</key>
	<string>AES Decrypt Document / Selection With Password…</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>uuid</key>
	<string>4B22577B-BC8E-11D9-8946-000D93589AF6</string>
</dict>
</plist>
