<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>get_pw () {
  ruby -rui -e"print TextMate::UI.request_secure_string(:title =&gt; 'Encrypt Text With AES 128', :prompt =&gt; '$1', :button1 =&gt; '$2', :button2 =&gt; 'Cancel').to_s"
}
pw1=$(get_pw 'What password should be used?'   Continue)
[[ -z "$pw1" ]] &amp;&amp; exit_discard
pw2=$(get_pw 'Enter password again to verify.' Encrypt)

if [[ "$pw1" == "$pw2" ]];
  then openssl enc -e -aes128 -base64 -pass "pass:$pw1"
  else exit_show_tool_tip 'Password mismatch! Please play again.'
fi
</string>
	<key>fallbackInput</key>
	<string>document</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^@E</string>
	<key>name</key>
	<string>AES Encrypt Document / Selection With Password…</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>uuid</key>
	<string>D39DC176-BC8D-11D9-8946-000D93589AF6</string>
</dict>
</plist>
