<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>cat -n|expand -8</string>
	<key>fallbackInput</key>
	<string>document</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Add Line Numbers to Document / Selection</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>uuid</key>
	<string>8085013F-8DEA-11D9-B421-000D93589AF6</string>
</dict>
</plist>
