<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>open "$(cat)"
</string>
	<key>fallbackInput</key>
	<string>scope</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Open Current URL</string>
	<key>output</key>
	<string>discard</string>
	<key>scope</key>
	<string>markup.underline.link - markup.underline.link.relative</string>
	<key>uuid</key>
	<string>5A08E461-05CC-4C03-9DC8-BF118594EA3E</string>
</dict>
</plist>
