<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>perl -pe 's/[\t ]+$//g'</string>
	<key>fallbackInput</key>
	<string>document</string>
	<key>input</key>
	<string>selection</string>
	<key>name</key>
	<string>Remove Trailing Spaces in Document / Selection</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>uuid</key>
	<string>0F8C1F78-6E4C-11D9-91AF-000D93589AF6</string>
</dict>
</plist>
