.select-list.autocomplete {
  box-sizing: content-box;
  margin-left: 0;
}

.autocomplete ol {
  box-sizing: content-box;
  position: relative;
  overflow-y: scroll;
  max-height: 200px;
}

.select-list.autocomplete ol li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
}

.autocomplete span {
  padding-left: 5px;
  padding-right: 5px;
}
