"*":
  autosave:
    enabled: true
  core:
    telemetryConsent: "no"
    themes: [
      "onetwo-light-ui"
      "onetwo-light-syntax"
    ]
  editor:
    invisibles: {}
    softTabs: false
    softWrap: true
  tabs:
    alwaysShowTabBar: false
  welcome:
    showOnStartup: false
  "wrap-guide":
    enabled: false
  "context-menu-filter":
    remove:
      "atom-text-editor": [
        "Split Up",
        "Split Down",
        "Split Left",
        "Split Right",
        "Close Pane",
        "Change Encoding",
        "Go to Declaration",
        "Correct Spelling",
      ]
  "menu-filter":
    remove:
      "OneTwo": [
        "Config",
      ],
      "File": [
        "New Window",
        "New File",
        "Open",
        "Add Project Folder",
        "Reopen Project",
        "Reopen Last Item",
        "Save",
        "Save As",
        "Save All",
        "Close All Tabs",
      ],
      "Packages": [
      ],
      "Find": [
      ]
  
