"*":
  "atom-i18n":
    locale: "zh-cn"
  autosave:
    enabled: true
  "context-menu-filter":
    remove:
      "atom-text-editor": [
        "Split Up"
        "Split Down"
        "Split Left"
        "Split Right"
        "Close Pane"
        "Change Encoding"
        "Go to Declaration"
        "Correct Spelling"
      ]
  core:
    telemetryConsent: "no"
    themes: [
      "onetwo-light-ui"
      "onetwo-light-syntax"
    ]
  editor:
    fontSize: 43
    invisibles: {}
    softTabs: false
    softWrap: true
  "menu-filter":
    remove:
      File: [
        "New Window"
        "New File"
        "Open"
        "Add Project Folder"
        "Reopen Project"
        "Reopen Last Item"
        "Save"
        "Save As"
        "Save All"
        "Close All Tabs"
      ]
      Find: []
      OneTwo: [
        "Config"
      ]
      Packages: []
  tabs:
    alwaysShowTabBar: false
  "tool-bar":
    position: "Right"
  welcome:
    showOnStartup: false
  "wrap-guide":
    enabled: false
