"*":
  "atom-i18n":
    locale: "zh-cn"
  autosave:
    enabled: true
  core:
    telemetryConsent: "no"
    themes: [
      "onetwo-light-ui"
      "onetwo-light-syntax"
    ]
  editor:
    fontSize: 43
    invisibles: {}
    softTabs: false
    softWrap: true
  tabs:
    alwaysShowTabBar: false
  "tool-bar":
    position: "Right"
  welcome:
    showOnStartup: false
  "wrap-guide":
    enabled: false
